<apex:page controller="ambition.AmbitionController" sidebar="false" showHeader="false" standardStylesheets="false">
<style>
    /* Salesforce specific styles */
    .noSidebarCell {
        padding: 0px !important;
    }
    
    /* Ambition specifit styles */
    .ambition-installed-container {
        width: 100%;
        margin-top: 40px;
        font-family: helvetica, arial, sans-serif;
        color: #3f424e;
    }
    
    .ambition-installed-message {
        text-align: center;
        font-size: 20px;
    }
    
    .ambition-installed-message-links {
        margin-top: 20px;
        font-size: 16px;
    }
    
    .ambition-installed-message-links a {
        text-decoration: none;
        color: #4090ba;
    }
    
    .ambition-installed-message-links a:hover {
        text-decoration: underline;
    }
    
    .ambition-installed-onboarding-link-container {
        margin: 0 auto;
        margin-top: 30px;
        width: 292px;
    }
    
    .ambition-installed-onboarding-link {
        display: inline-block;
        border-color: #1bab7e;
        border-bottom: 2px solid #18956e;
        background: #1bab7e;
        color: white;
        padding: 20px 40px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .ambition-installed-onboarding-link:hover {
        background-color: #18956e;
    }
</style>
<script type="text/javascript">
function redirectToAmbitionPage() {
    window.top.location.href = '/apex/Ambition?sfdc.tabName=01ri0000000KrIL';
}
</script>
<apex:outputPanel styleClass="ambition-installed-container" layout="block">
    <div class="ambition-installed-message">
        Click the green button below to finish the installation.<br />
        If you have any questions don't hesistate to contact us.
        <div class="ambition-installed-message-links">
            Email: <a href="mailto:gethelp@ambition.com" target="_blank">gethelp@ambition.com</a><br />
            Live Chat: <a href="http://ambition.com/chatroom/" target="_blank">http://ambition.com/chatroom/</a>
        </div>
    </div>
    <div class="ambition-installed-onboarding-link-container">
        <a href="javascript:void(0);" onclick="redirectToAmbitionPage();" class="ambition-installed-onboarding-link">
            Finish Installation
        </a>
    </div>
</apex:outputPanel>
</apex:page>