<apex:page showHeader="false" sidebar="false" title="Automated Alerts List"  Controller="JBCXM.AutomatedAlertController">
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyJquery,'js/jquery-1.7.1.min.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyJquery,'js/jquery-ui-1.8.18.custom.min.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyJquery,'miscscripts/jquery.limit-1.2.source.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyUtil,'SurveyUtil.js'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyJquery, 'css/redmond/jquery-ui-1.8.18.custom.css'))}"/>
      <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />

  <style type = "text/css">
       
        #main-wrapper{
            width: 960px;
            margin: 0 0;
            background-color: #f8f8f8;
        }
        .headerTitle{
            font-size: 1.8em;
            font-weight: normal;
            line-height: 1.1em;
            margin-bottom : 15px;
        }

        #container{
        }
        .eachRuleWrapper{
            padding-left: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 5px;
            width: auto;
            display: block;
            border-bottom: 1px solid #ddd;
            font-family: georgia;
            font-size : 15px;
        }
        
        .eachRuleWrapper:hover{
            background-color: #ffffff;

        }
        .eachRuleControlDiv{
            float: right;
            height: 100%;
            width: 100px;
            border-left: 1px solid #ddd;
            margin-bottom: 20px;


        }
        .ActiveCloseIcon{
            cursor: pointer;
        }
        .actionsIconsDiv > span {
            margin-right: 30px;

        }
        .alertRulesDetailText{
            width: 75%;
            min-height: 50px;
            font-family : georgia;

        }
       
        .typeOfSection{
            padding: 5px;
            position: relative;
        }
        .activeIcon{
            text-align: center;
            
        }
        .controlIconsSpan{
            margin-top: 20px;
          
            text-align: center;
        }
        .controlIconsSpan > span{
            cursor: pointer;
            margin-left:5px;
        }
        .operatorText{
            margin-left: 250px;
        }
        .headerNav{
            width: 100%;
            border-bottom: 1px solid #ddd;
            height: 34px;
        }
        .addRulesSection{
            width: 100px;
            margin-top: 5px;
            height: 23px;
            float:right;
            background-color: #7799bf;
            color: white;
            font-family: Arial;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            cursor: pointer;
            font-weight: bold;
            padding-top:7px;
            
        }
        .addRulesSection > a{
            text-decoration: none;
            color: white;
        }
        .addRulesSection > a:hover{
            color: white;
        
        }
        
        .alertRulesTypes{
            display: none;
            border:1px solid #1797c0;
            background: #ffffff;
            color: white;
            font-family: Arial;
            padding: 8px;
        }
        .alertRulesTypes > span{
            margin-left: 15px;
            cursor: pointer;
        }
        .noRuleMsg{
            width :100%;
            margin : 10 auto;
            font-size : 1.8em;
            text-align: center;
            background-color: #f8f8f8;
            padding-top : 10px;
            padding-bottom: 10px;
        }
        .noRuleMsg:hover{
        background-color: #ffffff;
        }
        .sectionHeaderText{
         position: absolute;
         top: 30%;
         margin-left:15px;
         line-height: 0px;
        }
        .questionSection{
        position: relative;
        }
        .down-arrow{
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        margin-left: 300px;
        width:50px;
        }
        .countDisplaySec{
            background-image: url('img/gradient-bg.png');
            background-repeat: repeat-x;
            color: white;
            font-size: 25px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            min-width: 40px;
            max-width: 40px;
            min-height: 40px;
            border: 1px solid #EEE;
            background-color: #6C3;
            text-align: center;
            float:right;
            right: -210px;
            position:relative;
            margin-top:35px;
        }
        .orderList > li{
            margin-bottom: 30px;
        }
    </style>
     <apex:form >
    <apex:actionFunction name="updateStatus"  action="{!updateAlertRuleStatus}"  onComplete="return null;" >
        <apex:param name="ruleSetId" value="" />
    </apex:actionFunction>
    <apex:actionFunction name="deleteRule"  action="{!deleteAlertRule}"  onComplete="return null;" >
                    <apex:param name="ruleSetId" value="" />
    </apex:actionfunction>
    <apex:inputTextarea value="{!surveyAlertJsonRules}" styleClass="hiddenJsonStorageArea" style="display:none;" />
    <apex:actionfunction name="loadAlertRuleFormPanel" action="{!showAlertRuleForm}" rerender="alertRulesContainer" onComplete="showAlertRuleFormContainer();">
                    <apex:param name="ruleSetId" value="" />
                    <apex:param name="sourceId" value="" />
                    <apex:param name="ruleType" assignTo="{!ruleType}" value="" />
                    <apex:param name="ctaType" assignTo="{!ctaType}" value="" />
             </apex:actionfunction>
    <apex:actionfunction name="refreshAlertRuleList" action="{!loadAlertLogicRulesListPageBySurvey}" rerender="alertRulesJsPanel" onComplete="buildAlertRulesListPage();">
        <apex:param name="sourceId" value="" />
    </apex:actionfunction>
    </apex:form>
    <script type = "text/javascript">
    var quesJson;
    var jsonp;    
    var playbooksJson;
    var alertReasonList;
    var alertTypeList;
    var ctaTypeList;
    var alertSeveritylist;
    var userLocaleDateFormatMap, custStageMap;
    var j$ = jQuery.noConflict(); 
         j$(document).ready(function(){
         	custStageMap = eval({!(customerStageMap)});
         	userLocaleDateFormatMap =eval({!(userLocaleDateFormatMap)});
            refreshAlertRuleList('{!JSENCODE($CurrentPage.parameters.surveyId)}');
            j$("#AlertRules").height(j$("#main-wrapper").height()+75);  
     });
        function newRuleClick(){
            loadAlertRuleFormPanel('','{!JSENCODE($CurrentPage.parameters.surveyId)}', 'alert', '');
       }
     function showAlertRuleFormContainer(){
        
            j$("#main-wrapper").hide(); 
            j$("#SurveyAlertRuleFormContainer").show();
        }
        function callBackAfterCancelAlertRuleForm(){
            j$("#main-wrapper").show(); 
            j$("#SurveyAlertRuleFormContainer").hide();
            j$("#AlertRules").height(j$("#main-wrapper").height());
        }
        function callBackAfterSaveAlertRuleForm(){
            refreshAlertRuleList('{!JSENCODE($CurrentPage.parameters.surveyId)}');
            
        }
        function showAlertRuleEditContainer(){
                j$("#main-wrapper").hide(); 
                j$("#SurveyAlertRuleFormContainer").show();
                
        }
        function getPicklistNameById(jsonList,Id){
        
        
        var picklistItems = j$.grep(jsonList,function(dt){
                        return (dt.Id == Id);
                    });
                    
            return (picklistItems.length > 0) ? picklistItems[0] : notAvail = {shortName : ' -NA- ',Name : ' -NA- ', color :'#000000'};
        }
        
           
    </script>
       <apex:outputPanel id="alertRulesJsPanel">
         <script type = "text/javascript">
        var taskOwnerFieldNameMap;
       var alertAttr = function(){
            this.alertSev = null;
            this.alerttype = null;
            this.alertReason = null;
            this.alertColor = null;
            this.isAlertRuleType = null;
        }
    
        var questionWithOpr = function(){
            this.grpOperator = null;
            this.toAppend = null;
            this.question = null;
            this.objectRules = null;
            this.alertVal = null;
            this.filterLogicStr = null;
            this.advanceQuestions = null;
            
        }
    function buildQuestionsFromJson(jsonp){
                var separateRulesArray = new Array();
                var opr;
                var quesArray;
                var filterLogicVar = ""; 
                var prevID = "";
                var compJsonp = eval({!(questionAlertRulesJson)});
               
               j$.each(jsonp,function(k,v) {
                    var advanceCriteria = j$.parseJSON(this.AdvanceCriteria__c);
                    filterLogicVar = (advanceCriteria.filterLogic == '' || advanceCriteria.filterLogic == null) ? null : advanceCriteria.filterLogic;
                    var alertProps = j$.parseJSON(this.AlertCriteria__c); 
                    var isAlertRuleType = true;
                    if(alertProps.isAlertRuleType === "true") {
                        isAlertRuleType = true;   
                    } else if(alertProps.isAlertRuleType === "false") {
                        isAlertRuleType = false;
                    }
                    
                    quesArray = new Array();
                    alertAttrObj = new alertAttr(); 
                    var severityRecAvai =   getPicklistNameById(alertSeverityList,alertProps.alertSeverity);
                    var reasonRecAvai =     getPicklistNameById(alertReasonList,alertProps.alertReason);
                    var typeRecAvai =       isAlertRuleType ? getPicklistNameById(alertTypeList,alertProps.alertType) 
                                                : getPicklistNameById(ctaTypeList,alertProps.alertType);
                                                
                    alertAttrObj.alertSev = (severityRecAvai.shortName == '') ? severityRecAvai.name : severityRecAvai.shortName;
                    alertAttrObj.alertReason = (reasonRecAvai.shortName == '') ? reasonRecAvai.name : reasonRecAvai.shortName;
                    alertAttrObj.alerttype = isAlertRuleType ? ((typeRecAvai.shortName == '') ? typeRecAvai.name : typeRecAvai.shortName) : typeRecAvai.Name;
                    alertAttrObj.alertColor = severityRecAvai.color;
                    alertAttrObj.isAlertRuleType = "" + isAlertRuleType;
                
                //To get the advance filter logic and rules
                
                var AdvanceQuestionArray = new Array();
                j$.each(advanceCriteria.filterCriteria,function(k,v){
                		var advanceQuestionClass = {};
                        advanceQuestionClass.label = v.fieldLabel;
                        advanceQuestionClass.operatorLab =v.operatorLabel;
                        if(v.fieldType == 'DATETIME'){
                        	v.value = JBARAformatDate(new Date(JBARAgetValidDateFormat(v.value,'M/d/yyyy')), userLocaleDateFormatMap.DateFormat);
                        }
                        if(v.fieldType == 'MULTIPICKLIST') {
                        	if(v.value.indexOf('^,^') > 0) {
                        		v.value = v.value.split('^,^');
                        	}
                        }
                        if (v.fieldType == 'CUSTOMLOOKUP' && v.name != 'RevenueBand__c') {
					        v.value = v.value.substring(1, v.value.length - 1);
					
					        v.value = v.value.split(',');
					        var customerStageStr = '';
					
					        j$.each(v.value, function (k, v) {
					            v = v.substring(1, v.length - 1);
					            var singleBlock = j$.grep(custStageMap, function (dt) {
					                return (dt.Id == v);
					            });
					
					            customerStageStr += singleBlock[0].Name + ', ';
					
					        });
					        customerStageStr = customerStageStr.substring(0, customerStageStr.length - 2);
					        v.value = customerStageStr;
					    }
                        advanceQuestionClass.condVal = v.value;
                        AdvanceQuestionArray.push(advanceQuestionClass);
                });
                      
                    
                var firstGrpOp = 0 ;   
                j$.each(j$.parseJSON(this.TriggerCriteria__c),function(k,v){
                
                    var alertHTML = ""
                    var textHTML = " ";
                    var finalRules = new questionWithOpr();
                    finalRules.alertVal = alertAttrObj;
                            if(firstGrpOp == 0){
                                    finalRules.grpOperator = "";
                            }   
                            else{
                                finalRules.grpOperator = (v.operator != undefined) ? v.operator : "" ;
                            }
                
                    
                  if(v.pId != null){
                  		if(prevID == v.pId){
                  			finalRules.toAppend = true;
                  		}
                  		else{
                  			finalRules.toAppend = false;
                  		}
                  		
                        textHTML +=  " If answer to the question : \" ";
                            var jsonpForMatrix = j$.grep(compJsonp,function(dt){
                                    return (dt.Id == v.pId); 
                            
                                }); 
                        var forSubQuesJson = j$.grep(compJsonp,function(dt){
                                return (dt.Id == v.Id);
                        
                        });
                        
                	  if(jsonpForMatrix.length > 0 && forSubQuesJson.length > 0){
                       	textHTML += " "+jsonpForMatrix[0].Title__c+" \" with Sub-Question \" " + forSubQuesJson[0].Title__c+ "\" is ";      
						var opriterator = 0;
						for(var i =0 ; i < v.answerRecords.idList.length; i++) {
		                     
		                    j$.each(jsonpForMatrix[0].SurveyAllowedAnswers__r.records, function(key,val){
		                            
                            if(val.Id == v.answerRecords.idList[i]){
                                var oprValuMat = ", ";
                                if(opriterator == v.answerRecords.idList.length -1 ){
                                    oprValuMat = '';
                                }
                                
                                textHTML += val.Title__c + ""+oprValuMat;
                                opriterator++;
                                
                            }   
	                    });         
	                    }
                 		prevID = v.pId;
                       
                       }     
                        
                  }  
       
                  else{
                  
                      finalRules.toAppend = false;
                
                            var QuestionFromCompJson = j$.grep(compJsonp,function(dt){
                            
                                return (dt.Id == v.Id);
                            });
                   if(QuestionFromCompJson.length > 0){
                   	   textHTML +=  " If answer to the question : \" ";
	              	   textHTML += " "+QuestionFromCompJson[0].Title__c+" \" is ";
	              	   var operIterator = 0;
	                   j$.each(v.answerRecords.idList,function(i,val){
	                           
	                           var answerCompJsonp = j$.grep(QuestionFromCompJson[0].SurveyAllowedAnswers__r.records,function(dt){
	                      
	                            return (dt.Id == val);
	                      
	                           });
	                       		var operVal = ", ";
	                           if(operIterator == v.answerRecords.idList.length -1 ){
	                               operVal = '';
	                           }
	                           textHTML += " "+answerCompJsonp[0].Title__c+" "+operVal;
	                           operIterator++;
			           });
                   }
                   
                  }   
                    
                    
                    
                       finalRules.question = textHTML;
                       finalRules.filterLogicStr = filterLogicVar;
                       finalRules.advanceQuestions = AdvanceQuestionArray;
                       quesArray.push(finalRules);
                       firstGrpOp++;
                });
                       separateRulesArray.push(quesArray);                     
                       quesJson = separateRulesArray;
                });
                
         }
        
        function buildeachRuleSection(){
            j$(".eachRuleWrapper").remove();
            var compHTML = "";
            var ruleType = ""
            for(var i =0 ;i < jsonp.length; i++){
            		var AlertCriteria = j$.parseJSON(jsonp[i].AlertCriteria__c);
            		ruleType = (AlertCriteria.isAlertRuleType === "true" ? "alert" : "call to action")
                    compHTML += '<div class = "eachRuleWrapper"  index = "'+jsonp[i].Id+'">';
                    compHTML +='<div class = "eachRuleControlDiv">';
                    compHTML += '<div class = "activeIcon"><span><img class = "ActiveCloseIcon" src="" height = "40px" /></span><br /><span class = "activeInactiveText"></span></div>';
                    compHTML += ' <div class = "controlIconsSpan">';
                    compHTML +='<input type="hidden" class = "ruleType" value=""/>';
                    compHTML +='<span class = "editIcon" title = "Edit this rule"><img src="{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/edit.png" height = "15px" /></span>';
                    compHTML +='<span class = "deleteIcon" title = "Delete this rule"><img src="{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/delete.png" height = "15px" /></span>';
                    compHTML +='</div></div>';
                    compHTML +='<div class = "actionsIconsDiv">';
                    compHTML +='</div>';
                    compHTML +='<div class = "alertRulesDetailText">';
                    compHTML +='<div class = "typeOfSection">';
                    compHTML +='<span><img  src="{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/Survey_text.png" height = "40"/></span>';
                    compHTML +='<span class = "sectionHeaderText" > <span class = "onLabel">On Survey: </span> <span class = "sourceTitle"></span></span> ';
                    compHTML +='</div>';
                    compHTML +=' <div class ="oneQuestionDivSec" style = "margin-left:20px;"></div>';
                    compHTML +=' <div class ="filterLogicSection" style = "margin-left:20px; text-align:center;"></div>';
                    compHTML +='<div class = "countDisplaySec" title = "' + ruleType + 's created based on this rule."> 0 </div>';
                    compHTML +='<span><img  class = "down-arrow"  src="{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/arrow_right_simple.png" height = "40" /></span>';
                    compHTML +=' <div class = "questionSection">';
                    compHTML +='<div class = "typeOfAlert">';
                    compHTML +='<span><img class = "bellClass" style = "background-color: #CF342A;" src="{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/bell_grey.png" height = "40"/></span>';
                    compHTML +=' <span class = "sectionHeaderText">   Create "<span class = "alertTypeTxt"></span>" ' + ruleType + ' with reason "<span class = "alertReasonTxt"></span>" with ' + (AlertCriteria.isAlertRuleType === "true" ? "severity" : "priority") + ' "<span class = "alertSvrTxt"></span>" </span> ';
                    compHTML +='<span class = "alertPlayBookTxt" style="margin-left:15px;"></span> ';
                    compHTML +='<span class = "alertTaskOwnerFldTxt" ></span> ';
                    compHTML +='<span class = "alertDefaultUserTxt" ></span> ';
                    compHTML +='</div></div>';
                    compHTML +='<div class = "alertDetailSection"></div></div>';                    
                    compHTML +='</div>';                    
            }
            j$(".noRuleMsg").remove();
            j$("#main-wrapper").find(".headerNav").after(compHTML);
            j$(".sourceTitle").html('{!JSENCODE(sourceTitle)}');
            j$("#AlertRules").height(j$("#main-wrapper").height()+75);
        }
        function pageHeightCalculator(newHeight){
            j$("#thisFrame").height(newHeight);
        }
        
        function buildAlertRulesListPage(){
            
            taskOwnerFieldNameMap = eval({!(userRefFieldsListJson)});
            jsonp = eval({!(jsonforAutomatedAlertsList)});            
          
                if(jsonp.length === 0){
                    j$(".headerNav").after('<div class = "noRuleMsg">No Rules Set</div>');
                }
                else{
                alertReasonList = eval({!(alertReasonJson)});
                alertTypeList = eval({!(alertTypeJson)});
                ctaTypeList = eval({!(ctaTypeJson)});
                alertSeverityList = eval({!(alertSeverityJson)});
            	playbooksJson = eval({!(playBookDetialJson)});
                buildeachRuleSection();
                }
             j$(".eachRuleWrapper").hover(function(){
            
                j$(this).find(".bellClass").attr('src','{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/bell_white.png');
            
            },
            function(){
                    j$(this).find(".bellClass").attr('src','{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/bell_grey.png');
            }
            
            );
        
            j$(".editIcon").die("click");
            j$(".editIcon").live("click",function() {
                    var ruleType;
                    var siblings = j$(this).siblings();
                    for(var i = 0; i < siblings.length; i++) {
                        if(j$(siblings[i]).hasClass('ruleType')) {
                            ruleType = siblings[i].value;
                            break;
                        }
                    }
                    loadAlertRuleFormPanel(j$(this).parent().parent().parent().attr("index"),'{!JSENCODE($CurrentPage.parameters.surveyId)}', ruleType, j$(j$(this).parent().parent().parent().find(".alertTypeTxt")).text());
            
            });
            j$(".ActiveCloseIcon").die("click");
            j$(".ActiveCloseIcon").click(function(){
            
             if(j$(this).attr("src") == "{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/power.png"){
                 j$(this).parent().parent().find(".activeInactiveText").html('Inactive');
                 j$(this).attr('title','Activate');
                 j$(this).attr("src",'{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/power_red.png');
             }
             else{
                 j$(this).attr('title','Deactivate');
                 j$(this).attr("src",'{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/power.png');
                 j$(this).parent().parent().find(".activeInactiveText").html('Active');
             }   
             
             var updateId = j$(this).parent().parent().parent().parent().attr("index");
            updateStatus(updateId); 
             
                 
            });
            j$(".deleteIcon").die("click");
            j$(".deleteIcon").live("click",function(){
                    if (confirm('Are you sure ?')){
                        var removeId = j$(this).parent().parent().parent().attr("index");
                        j$(this).parent().parent().parent().remove();
                        deleteRule(removeId);
                    }
            
            if(j$(".eachRuleWrapper").length == 0){
                j$(".headerNav").after('<div class = "noRuleMsg">No Rules Set</div>');
            }
                    
            j$("#AlertRules").height(j$("#main-wrapper").height()+75);      
            });

     buildQuestionsFromJson(jsonp);    
        var appendCount = 0;
         j$.each(quesJson,function(k,v){
                
                  var finalHTML = "";
                     finalHTML += '<ol class = "orderList">';
                     for(var i =0 ; i < this.length; i++){
                             //finalHTML += '<div style = "width : 150px; text-align : center; margin : 0 auto;">'+v[i].grpOperator+'</div>';
                             finalHTML += "<li>"+v[i].question+"</li>";
                             var adHTML = " ";
                          	for(var j = 0 ; j < v[i].advanceQuestions.length; j++){
                             	adHTML += "<li>"+v[i].advanceQuestions[j].label + " " +v[i].advanceQuestions[j].operatorLab+" "+v[i].advanceQuestions[j].condVal+"</li>";
                          	 }
                             
                            
                     }
                    finalHTML = finalHTML + adHTML;
                    finalHTML += "</ol>";
               	
               j$(".eachRuleWrapper").slice(appendCount).find(".oneQuestionDivSec").html(finalHTML);
                if(v[0].filterLogicStr == null){
                    v[0].filterLogicStr = displayAndLogic(j$(".eachRuleWrapper").eq(appendCount).find(".orderList").find("li").length);
                }
               	if(v[0].filterLogicStr != 1){
                	j$(".eachRuleWrapper").eq(appendCount).find(".filterLogicSection").html("<i>Advanced Logic</i> : "+v[0].filterLogicStr);
                }
                j$(".eachRuleWrapper").slice(appendCount).find(".alertReasonTxt").text(v[0].alertVal.alertReason);
                j$(".eachRuleWrapper").slice(appendCount).find(".alertSvrTxt").text(v[0].alertVal.alertSev);
                j$(".eachRuleWrapper").slice(appendCount).find(".alertTypeTxt").text(v[0].alertVal.alerttype);
                var ruleType = 'alert';
                if(v[0].alertVal.isAlertRuleType === "true") {
                    ruleType = 'alert';
                } else if(v[0].alertVal.isAlertRuleType === "false"){
                    ruleType = 'cta';
                }
                j$(".eachRuleWrapper").slice(appendCount).find(".ruleType").val(ruleType);
                                
                j$(".eachRuleWrapper").slice(appendCount).find(".bellClass").css({'background-color':v[0].alertVal.alertColor});
                appendCount++;
        });
            var localCount = 0;
            var taskOwnerFieldLabel;
        j$.each(jsonp,function(k,v){
                taskOwnerFieldLabel='';
                var alertCount = (v.AlertCount__c != null) ? v.AlertCount__c : '0';
                j$(".eachRuleWrapper").slice(localCount).find(".countDisplaySec").html(alertCount);
            
            if(v.Status__c == true){
                j$(".eachRuleWrapper").slice(localCount).find(".ActiveCloseIcon").attr("src","{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/power.png");
                j$(".eachRuleWrapper").slice(localCount).find(".activeInactiveText").html('Active');
                j$(".eachRuleWrapper").slice(localCount).find(".ActiveCloseIcon").attr('title','Deactivate');
            
            }
            else if(v.Status__c == false){
                j$(".eachRuleWrapper").slice(localCount).find(".ActiveCloseIcon").attr("src","{!URLFOR($Resource.appStyles)}/AutomatedAlerts/icons/power_red.png");
                j$(".eachRuleWrapper").slice(localCount).find(".activeInactiveText").html('Inactive');
                j$(".eachRuleWrapper").slice(localCount).find(".ActiveCloseIcon").attr('title','Activate');
               
            }
            if(v.PlayBookIds__c != null && v.PlayBookIds__c != '' && v.PlayBookIds__c != undefined) {            	
            	if(playbooksJson[v.PlayBookIds__c] != null && playbooksJson[v.PlayBookIds__c] != undefined) {
            	
	            	j$(".eachRuleWrapper").eq(localCount).find(".alertPlayBookTxt").text(" and apply \""+playbooksJson[v.PlayBookIds__c].Name + "\" playbook with task owner ");
	            	
	            	if(v.TaskOwnerField__c != null && v.TaskOwnerField__c != '' && v.TaskOwnerField__c != undefined) {
		            	taskOwnerFieldLabel = (taskOwnerFieldNameMap[v.TaskOwnerField__c]!=null)? taskOwnerFieldNameMap[v.TaskOwnerField__c] : v.TaskOwnerField__c;
		            	j$(".eachRuleWrapper").eq(localCount).find(".alertTaskOwnerFldTxt").text("from \""+taskOwnerFieldLabel + "\" field ");            	
		            }
		            else{
		            	j$(".eachRuleWrapper").eq(localCount).find(".alertDefaultUserTxt").text(" as \""+v.TaskDefaultOwner__r.Name + "\" ");
		            }            	            	
		       }
            }
               			
            localCount++;
        }); 
            j$("#main-wrapper").show(); 
            j$("#SurveyAlertRuleFormContainer").hide();
        
            j$("#AlertRules").height(j$("#main-wrapper").height()+75);  
        }
        
        function displayAndLogic(countVar){
            var defaultLogicString  = "";
            for(var i = 1 ; i <= countVar;i++){
                var displayAnd = (i == countVar) ? "" : " AND "; 
                defaultLogicString +=  i + displayAnd;
            }
            return defaultLogicString;
        }
     
    </script>
    
  
     </apex:outputPanel>
<div id = "main-wrapper" >
    <div class = "headerNav">
        <h2 class = "headerTitle">Automated Alert Rules</h2>
        <div class = "addRulesSection"><a href = "" onClick = "newRuleClick();"> New Rule </a></div>
    </div>
</div>  
   
<div id="SurveyAlertRuleFormContainer" style='min-width:1150px;display:none;margin: 0 auto;'>
                                                                    <apex:outputPanel id="alertRulesContainer">
                                                                        <apex:outputPanel rendered="{!renderAlertRuleForm}">
                                                                               <div class="pbBody">
                                                                                   <div  style='padding:0px 4px 4px 10px'> 
                                                                                         <div style='padding-top:4px;width: 100%;'>
                                                                                            <div id = "thisFrame" style="margin: 0 auto;  width: 90%; "> 
                                                                                                <iframe style='min-height:500px' src="apex/AlertRuleSetup?inline=1&sourceId={!sourceId}&ruleSetId={!ruleSetId}&ruleType={!ruleType}&ctaType={!ctaType}"  width="100%" height="100%" frameborder="0"/>
                                                                                            </div>      
                                                                                        </div>
                                                                                       <div  style='clear:both;padding:4px'>
                                                                                       </div>
                                                                                   </div>
                                                                               </div>
                                                                      </apex:outputPanel>
                                                                  </apex:outputPanel> 
                                                          </div>
                                                          
      
</apex:page>