<apex:page Controller="JBCXM.CS360SectionConfigController"  sidebar="false" title="CS360 Sections Configuration"  tabStyle="Administration__tab">
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-1.5.2.min.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-ui-1.8.13.custom.min.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/jquery.htmlClean.min.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyJquery,'miscscripts/jquery.limit-1.2.source.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__SurveyUtil,'SurveyUtil.js'))}"/>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" />    <style>
        .labelColCaseSett{
            min-width:200px !important;
            display:inline-block;
        }
        
        .moveUpIconClass{
            background:url("{!URLFOR($Resource.SurveyImg)}/Icons/a_up_act.png") no-repeat center center;
            height:16px;
            width:16px;
            display:inline-block;
        }
        .moveTopIconClass{
            background:url("{!URLFOR($Resource.SurveyImg)}/Icons/go-top-3.png") no-repeat center center;
            height:16px;
            width:16px;
            display:inline-block;
        }
        .moveDownIconClass{
            background:url("{!URLFOR($Resource.SurveyImg)}/Icons/a_down_act.png") no-repeat center center;
            height:16px;
            width:16px;
            display:inline-block;       
        }
        .moveBottomIconClass{
            background:url("{!URLFOR($Resource.SurveyImg)}/Icons/go-bottom-3.png") no-repeat center center;
            height:16px;
            width:16px;
            display:inline-block;
        }
        .moveUpDownIconClass{
            background : url("{!URLFOR($Resource.SurveyImg)}/Icons/dragupdown.png") no-repeat center center;
            height:16px;
            width:16px;
            display:inline-block;       
        }
         /* popup classes */

        .overlayDialog .topLeft, .overlayDialog .topRight{
            background-color: #f0f1f5 !important;
            background-image: none !important;
        }
        .overlayDialog .topLeft h2{
        }
        .InlineEditDialogTitle{
            font-family: "HelveticaNeueRegular", "Arial" !important;
            font-size: 15px;
        }
        .dialogClose, .dialogCloseOn, .x-tool-close-over{
            background: url("{!URLFOR($Resource.GSAppCSS)}/images/CS360/cancel_cross.png") no-repeat 5px 4px;
            opacity: 0.7;
        }
        
        .overlayDialog .middle, .inlineOverlayDialog .middle{
            background: #fff !important;
        }

        .cs360SectionReportsAdminBlock,.sponsorTrackingAdminBlock {
            position: absolute !important;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            margin: auto;

        }
        /* popup classes End*/
    </style>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        var objListPreConfigured = [];
        var isNSEnabled;
        var isNSAdoptionEnabled;
        j$(document).ready(function() {
        
            isNSEnabled = eval({!(isNSEnabled)});
            isNSAdoptionEnabled = eval({!(isNSAdoptionEnabled)});
            if(isNSEnabled==false) {
                j$(".externalReportNewBtn").hide();
            }
            
            populateCS360SectionsDetails();            
            j$(".jbaraCaseObjSelectCtrl option[value='Account']").remove();            
            j$(".jbaraCaseFldSelectCtrl").attr("disabled", "disabled");
                                                
        });
        
        var isNotStdCS360Sec = true;
        
        function buildCS360TableList(cs360SecList) {
            
            if(cs360SecList.length > 0) {
                var htmlStr  ='<thead class="rich-table-thead">';
                htmlStr +='<tr class="headerRow CS360SectionHeaderRow" >';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:10%;">';
                htmlStr +='<div>Action</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:24%;">';
                htmlStr +='<div>Name</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:8%;">';
                htmlStr +='<div>Type</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:12%;">';
                htmlStr +='<div>Customer 360</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:12%;">';
                htmlStr +='<div>Account Widget</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:12%;">';
                htmlStr +='<div>Opportunity Widget</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:12%;">';
                htmlStr +='<div>Service Cloud Widget</div>';
                htmlStr +='</th>';
                htmlStr +='<th class="headerRow  " scope="col" colspan="1" style="width:25%;">';
                htmlStr +='<div></div>';
                htmlStr +='</th></tr></thead>';
                htmlStr +='<tbody class="sortableCS360SectionList">'
                var actionDetails = '', isSecActive = false, secStatustext = '';            
                var sectionLabel='';
                for(var i = 0; i < cs360SecList.length; i++) {
                    /*
                    if(cs360SecList[i].ObjectName__c && cs360SecList[i].ObjectName__c != "") {
                        objListPreConfigured.push(cs360SecList[i].ObjectName__c);
                    }
                    */
                  
                    sectionLabel = (cs360SecList[i].Name=='SponsorTracking')? cs360SecList[i].DisplayLabel__c + '&nbsp;<span style="color: rgb(255, 0, 0); display: inline-block; vertical-align: middle; font-size: 9px; font-weight:bold;" >(BETA)</span>' : cs360SecList[i].DisplayLabel__c;
                    if(cs360SecList[i].Type__c == 'ExternalReport' &&  isNSEnabled==false) {
                        continue;
                    }            
                    else{
                    
                        isSecActive = (cs360SecList[i].IsActive__c || cs360SecList[i].IsActive__c == 'true') ? true : false;
                        secStatustext = (isSecActive) ? 'Hide' : 'Show';
                        
                        //if standard editCS360Section(false), if relatedlist editCS360Section(true), if external report editExternalReportSection()                        
                        actionDetails = (cs360SecList[i].Type__c.toLowerCase() == 'standard') ? 
                                              ('<a class="actionLink" style="color: #015BA7" onclick="editCS360Section(\''+cs360SecList[i].Id+'\', false, \''+cs360SecList[i].Name+'\'); return false;" title = "Edit" href="#">Edit</a>  ') 
                                            : ((cs360SecList[i].Type__c.toLowerCase() == 'relatedlist') ? 
                                                        ('<a class="actionLink" style="color: #015BA7" onclick="editCS360Section(\''+cs360SecList[i].Id+'\', true); return false;" title = "Edit" href="#">Edit</a>') 
                                                    :   ('<a class="actionLink" style="color: #015BA7" onclick="editExternalReportSection(\''+cs360SecList[i].Id+'\', false); return false;" title = "Edit" href="#">Edit</a>'));
                                            
                        actionDetails += (cs360SecList[i].Type__c.toLowerCase() == 'standard') ? ('') : ' | <a class="actionLink" style="color: #015BA7" onclick="deleteCS360Section(\''+cs360SecList[i].Id+'\'); return false;" title = "Delete" href="#">Delete</a>  ' 
                                                                                                                                                          
                        actionDetails += (cs360SecList[i].Type__c.toLowerCase() == 'standard' && cs360SecList[i].Name.toLowerCase() == 'usage' && isNSAdoptionEnabled  == true) ? ' | <a class="actionLink" style="color: #015BA7" onclick="editExternalReportSection(\''+cs360SecList[i].Id+'\', true); return false;" title = "Edit Report" href="#"> Report</a> ' : '';                                       
                        
                        htmlStr += '<tr class="dataRow clsToCS360DataRow" id = "'+cs360SecList[i].Id+'">';
                        htmlStr += '<td class="dataCell" valign="top">'+actionDetails+'</td>';
                        htmlStr += '<td class="dataCell" valign="top">'+sectionLabel+'</td>';
                        htmlStr += '<td class="dataCell" valign="top">'+cs360SecList[i].Type__c+'</td>';
                        htmlStr += '<td class="dataCell" valign="top"><input type="checkbox" name="customer360" disabled="true" '+(cs360SecList[i].InCustomer360__c ? 'checked' : 'unchecked')+' /></td>';
                        htmlStr += '<td class="dataCell" valign="top"><input type="checkbox" name="accountWidget" disabled="true" '+(cs360SecList[i].InAccountWidget__c ? 'checked' : 'unchecked')+' /></td>';
                        htmlStr += '<td class="dataCell" valign="top"><input type="checkbox" name="opptyWidget" disabled="true" '+(cs360SecList[i].InOpportunityWidget__c ? 'checked' : 'unchecked')+' /></td>';
                        htmlStr += '<td class="dataCell" valign="top"><input type="checkbox" name="scWidget" disabled="true" '+(cs360SecList[i].InSCWidget__c ? 'checked' : 'unchecked')+' /></td>';                        
                        htmlStr += '<td class="dataCell" valign="top" style="cursor:pointer;">'
                        htmlStr += '<span title="Move Top" class="moveTopIconClass moveTopSelectedFieldIcon">&nbsp;&nbsp;</span>&nbsp;&nbsp;';
                        htmlStr += '<span title="Move Up" class="moveUpIconClass moveUpSelectedFieldIcon">&nbsp;</span>&nbsp;&nbsp;';
                        htmlStr += '<span title="Move Down" class="moveDownIconClass moveDownSelectedFieldIcon">&nbsp;</span>&nbsp;&nbsp;';
                        htmlStr += '<span title="Move Bottom" class="moveBottomIconClass moveBottomSelectedFieldIcon">&nbsp;&nbsp;</span>&nbsp;&nbsp;';
                        htmlStr += '<span title="Drag Up and Down" class="moveUpDownIconClass  moveUpDownSelectedFieldIcon">&nbsp;</span>';
                        htmlStr += '</td>'; 
                        htmlStr += '</tr>';
                    }
                }
                j$("#CS360SectionDetailsList").html(htmlStr);
               // j$('#sponsorblink').blink();
              //  j$("#sponsorblink").css("text-decoration", "blink");
            }
            
            //To attach Events.
            j$("#CS360SectionDetailsList tbody.sortableCS360SectionList").sortable({
                    containment: 'parent',
                    axis:'y',
                    handle:'.moveUpDownSelectedFieldIcon',
                    cursor: 'move',
                    helper: function(e, tr)
                    {
                        var $originals = tr.children();
                        var $helper = tr.clone();
                        $helper.children().each(function(index)
                        {
                          // Set helper cell sizes to match the original sizes
                          j$(this).width($originals.eq(index).width());
                        });                     
                        return $helper;
                    },
                    update: function( event, ui ) {
                        populateSectionDisplayOrder();  
                    }
                    
              });
              
            j$("#CS360SectionDetailsList").find("tr").find(".moveTopSelectedFieldIcon").bind("click",function(){
                j$(".sortableCS360SectionList").prepend(j$(this).parent().parent());
                populateSectionDisplayOrder(); 
            });
            
            j$("#CS360SectionDetailsList").find("tr").find(".moveUpSelectedFieldIcon").bind("click",function(){
                var row = j$(this).parents("tr:first");
                if(!row.prev().hasClass("CS360SectionHeaderRow")){
                    row.insertBefore(row.prev());
                    populateSectionDisplayOrder();
                }   
            });
            
            j$("#CS360SectionDetailsList").find("tr").find(".moveDownSelectedFieldIcon").bind("click",function(){
                var row = j$(this).parents("tr:first"); 
                row.insertAfter(row.next());
                populateSectionDisplayOrder();
            });
            
            j$("#CS360SectionDetailsList").find("tr").find(".moveBottomSelectedFieldIcon").bind("click",function(){
                j$("#CS360SectionDetailsList").append(j$(this).parent().parent());
                populateSectionDisplayOrder();
            });
            
        }   
        
        function populateSectionDisplayOrder() {
            var dsOrdBySecId = {}
            j$("#CS360SectionDetailsList tr.clsToCS360DataRow").each(function(inx) {
                dsOrdBySecId[j$(this).attr("id")] = inx+1;
            });
            updateCS360SecOrder(JSON.stringify(dsOrdBySecId));
        }
        function callbackAfterSummarySave() {
            console.log('savethis');
            closeCS360Popup("summaryAdminBlock");
            j$(".trSCWidget").hide();
            reloadAfterSummaryBuild();
        }
        
        function callbackAfterSummaryCancel() {
            closeCS360Popup("summaryAdminBlock");
        }
        
        function editCS360Section(selSecIdToEdit, isStdSecFlag, name) {
            isNotStdCS360Sec = isStdSecFlag;
            console.log(name);
            if(name && name.toLowerCase() === "summary") {
                var frameSrc = '<span id="jBaraClientErrContainer"></span><iframe src = "/apex/alertsByOpportunity?callback=callbackAfterSummarySave&callbackCancel=callbackAfterSummaryCancel&name=summary" frameBorder = "0" height = "416" width = "1151"/>';
                j$("#InlineEditDialogContent").html(frameSrc);
                
                //show editPopup for editing Summary Settings
                showSummaryAdmin();
                j$(".summaryAdminBlock").draggable({
                   handle: '.topRight'
               });
                return ;
            }
            
            else if(name && name.toLowerCase() === "sponsortracking") {
                var frameSrc = '<span id="jBaraClientErrContainer"></span><iframe src = "/apex/alertsByOpportunity?callback=callbackAfterSponsorSave&callbackCancel=callbackAfterSponsorCancel&name=sponsortracking" frameBorder = "0" height = "495" width = "1069"/>';
                j$("#FrameForEditing").html(frameSrc);
                
                j$(".sponsorTrackingAdminBlock").draggable({
                   handle: '.topRight'
                });
                showSponsorTrackng();
                return void(0);
            }
            
            else if(isStdSecFlag) {
                var frameSrc = '<span id="jBaraClientErrContainer"></span><iframe src = "/apex/alertsByOpportunity?callback=callbackAfterSectionSave&callbackCancel=callbackAfterSectionCancel&name=cs360Reports&isNSEnabled='+isNSEnabled+'&secId='+selSecIdToEdit+'" frameBorder = "0" style="height:425px; width:895px"/>';
                j$("#reportForEditing").html(frameSrc);
                
                j$(".cs360SectionReportsAdminBlock").draggable({
                   handle: '.topRight'
                });
                show360SectionReports(false);
                return void(0);
            }
            callEditAction(selSecIdToEdit, isStdSecFlag, name);
        }
        function show360SectionReports(isNew) {
            openSectionDetailPopup(isNew, 'cs360SectionReportsAdminBlock');
        }
        
        function callbackAfterSectionSave() {
            closeCS360Popup("cs360SectionReportsAdminBlock");
            callCreateNewRecord(false);
        }
        
        function callbackAfterSectionCancel() {
            closeCS360Popup("cs360SectionReportsAdminBlock");
        }
        
        function callbackAfterSponsorSave() {
            closeCS360Popup("sponsorTrackingAdminBlock");
            reloadAfterSummaryBuild();
        }
        function callbackAfterSponsorCancel() {
            closeCS360Popup("sponsorTrackingAdminBlock");
        }
        function showSponsorTrackng() {
            openSectionDetailPopup(false, 'sponsorTrackingAdminBlock');
        }
        function showSummaryAdmin() {
            openSectionDetailPopup(false, "summaryAdminBlock");
        }
        function editExternalReportSection(selSecIdToEdit, isUsage) {         
            //window.location.href = '/apex/CustomerRelatedReports'+((selSecIdToEdit!='' && selSecIdToEdit != null)? ('?sectionId='+selSecIdToEdit) : (''))+''+( (isUsage != null && isUsage !='' && isUsage == true) ? '&sectionName=usage' : '');           
            var frameSrc = '<span id="jBaraClientErrContainer"></span><iframe src = "/apex/alertsByOpportunity?callback=callbackAfterSectionSave&callbackCancel=callbackAfterSectionCancel&name=cs360Reports&type=ExternalReport&isNSEnabled='+isNSEnabled+'&isUsage='+isUsage+'&secId='+selSecIdToEdit+'" frameBorder = "0" style="height:425px; width:895px"/>';
            j$("#reportForEditing").html(frameSrc);
                
            j$(".cs360SectionReportsAdminBlock").draggable({
                handle: '.topRight'
            });
            show360SectionReports();
        }
        function deleteCS360Section(selSecIdToDelete) {
             if (confirm('Are you sure ?')) { callDeleteAction(selSecIdToDelete) };
        }
        
        function updateSectionStatus(thisPointer, selSecIdToChangeStatus) {
            callToggleStandardSection(selSecIdToChangeStatus, ((j$(thisPointer).text() == 'Show') ? true : false))
            j$(thisPointer).attr('title', ((j$(thisPointer).text() == 'Show') ? 'Click to hide' : 'Click to show'));
            j$(thisPointer).text(((j$(thisPointer).text() == 'Show') ? 'Hide' : 'Show'));
        }
        
        function removeAlreadySelectObject() {
            var objectNameList = new Array();
            objectNameList = objListPreConfigured;
            
            var isFirstNotSel = true;
            j$(".jbaraCaseObjSelectCtrl option[value='Account']").remove();         
            //remove the already selected objects from the list
            j$('.jbaraCaseObjSelectCtrl > option').each(function(){         
                if(objectNameList.indexOf(this.value) > -1 ) {
                    j$(this).hide(); //means this option is already selected
                }
                else{
                    //set this as default check now
                    if(isFirstNotSel) {
                        j$('.jbaraCaseObjSelectCtrl').val(this.value);
                        isFirstNotSel = false;
                    }
                }               
            });
            j$(".jbaraCaseFldSelectCtrl").attr("disabled", "disabled");
            getObjectFields();                  
        }
    
        //var objectNameToCapture='';
        var errorList;
        var isCreate;
        
        function openSectionDetailPopup(isNew, className) {        
            isNotStdCS360Sec = (isNew) ? true : isNotStdCS360Sec; 
            isCreate =  isNew;           
            j$(".jbaraDummyRuleConfigSettingForm").draggable({
               handle: '.topRight'
           });
            className = className || "jbaraDummyRuleConfigSettingForm" ;
            j$(".InlineEditDialogTitle").text(((isNew) ? "New Section" : (className === "summaryAdminBlock") ? "Edit Summary" :"Edit Section"));
           //create popop and show
           var overLayHeight = j$(document).height();
           var overLayWidth = j$(window).width()
           j$(".jbaraDummyOverLayForm").css({
                'z-index': '4999',
                'left': 0,
                'position': 'fixed',
                'width': overLayWidth,
                'height': overLayHeight + 350
            }).show();
            
            //show overlay form           
            j$("."+className).css({
                   'z-index': '5000',
                   'left':  "0px",
                   'right' : "0px",
                   'bottom' : "0px",
                   'top': '-140px',
                   'position': 'fixed',
                   'visibility': 'visible',
                   'margin' : 'auto',
                   'border': 'none'
             }).show(); 
            
        }
        
               
        function saveAndConfigViewClick(isConfigView) {         
            //get the selected object name from the dropdown list                               
            //objectNameToCapture = j$(".jbaraCaseObjSelectCtrl").val();
            //fire validation rules         
            var isNoError = false;
            if(validateRelatedListDetails()) {
                if(isCreate) {      
                    callCreateNewRecord(isConfigView);
                }
                else {
                    callSaveEditedRecord(isConfigView);
                }
            }
            else {                           
                    showJBaraValidationErrors('jBaraClientErrContainer', errorList);
                    enableSaveBtn();                 
            }           
        }
        
        function sanitizeInput() {
            var displayLabelObj = j$('#recordName').children('input[type=text]');
            var displayLabelValue = j$.trim(displayLabelObj.val());
            displayLabelValue = j$.htmlClean(displayLabelValue, { allowedTags: [""]}); 
            displayLabelObj.val(displayLabelValue);
        }
                
        function validateRelatedListDetails() {         
            errorList = new Array();
            var validEntries = true;
            //sanitizeInput();        
            var displayLabel = j$('#recordName').children('input[type=text]').val();
            if(!displayLabel) {              
                 errorItem = new JBaraErrorClass();
                 errorItem.header = 'Required:';
                 errorItem.msg = 'Section Label';
                 errorList.push(errorItem);
                 validEntries = false;
            }
            return validEntries;        
        }
           
        function closeCS360Popup(className) {
            className = className || "jbaraDummyRuleConfigSettingForm";
            j$("."+className).hide();
            j$(".jbaraDummyOverLayForm").hide();
            j$("#jBaraClientErrContainer").html("");  
            enableSaveBtn();
            enableNewBtn();
            
            if(isNSEnabled==false) {
                j$(".externalReportNewBtn").hide();
            }
            
            j$(".jbaraCaseObjSelectCtrl").removeAttr("disabled");
            //empty all the selections
            j$('#displayOrder').children('input[type=text]').val("");
            j$('#recordName').children('input[type=text]').val("");                                     
        }
        
        function disableBtn(obj) {
            j$(obj).attr("disabled", true);
            j$(obj).removeClass("btn").addClass("btnDisabled");
        }        
        
        function enableSaveBtn() {
            //j$(".saveNewRelatedList").show();
            j$(".saveNewRelatedList").removeAttr('disabled', 'disabled');
            j$(".saveNewRelatedList").removeClass("btnDisabled").addClass("btn");
        }
        
        function enableNewBtn() {                   
            j$(".relatedListNewBtn").show();
            j$(".relatedListNewBtn").removeAttr('disabled', 'disabled');
            j$(".relatedListNewBtn").removeClass("btnDisabled").addClass("btn");
            
            //hide other buttons
            j$(".relatedListNewSaveBtn").hide();
            j$(".relatedListCancelBtn").hide();                         
        }
        
       
       function showEditForm(objName) {         
            j$(".relatedListNewBtn").hide();
            
            //show popup with filled values
            openSectionDetailPopup(false);
                        
            //disable the Object select
            j$(".jbaraCaseObjSelectCtrl").attr("disabled", "disabled");
            
            j$(".jbaraCaseObjSelectCtrl").val(objName);
            
            
            j$(".relatedListNewSaveBtn").show();
            j$(".relatedListNewSaveBtn").removeAttr('disabled', 'disabled');
            j$(".relatedListNewSaveBtn").removeClass("btnDisabled").addClass("btn");
            
            
            j$(".relatedListCancelBtn").show();
            j$(".relatedListCancelBtn").removeAttr('disabled', 'disabled');
            j$(".relatedListCancelBtn").removeClass("btnDisabled").addClass("btn");         
       }
        
        function initiateNew360Section() {
            isNotStdCS360Sec = true;
            //initiateNewSectionPopualtion();
            var frameSrc = '<span id="jBaraClientErrContainer"></span><iframe src = "/apex/alertsByOpportunity?callback=callbackAfterSectionSave&callbackCancel=callbackAfterSectionCancel&name=cs360Reports&isNSEnabled='+isNSEnabled+'" frameBorder = "0" style="height:425px; width:895px"/>';
            j$("#reportForEditing").html(frameSrc);
                
            j$(".cs360SectionReportsAdminBlock").draggable({
                handle: '.topRight'
            });
            show360SectionReports(true);
        }     
    </script>
    
    <apex:outputPanel id="hideNewRecordPanel">
        <script type="text/javascript">
            function hideOverLayForm(){         
                if({!(isErrorFound)}) {            
                    //show error message
                }
                else {
                    closeCS360Popup();
                }
            }           
        </script>
    </apex:outputPanel>
    
    <apex:outputPanel id="updateSelectedObjListPanel">
        <script type="text/javascript">
            function populateCS360SectionsDetails() {
                var cs360SecList = eval({!(AllCS360SectionsListJSON)});
                buildCS360TableList(cs360SecList);
            }
        </script>
    </apex:outputPanel>
    
    
    
    <apex:sectionHeader title="Customer 360 Sections"/> 
    <a href="/apex/Administration?sfdc.tabName={!($CurrentPage.parameters.tabId)}#Administration-UIViews" style="text-decoration:none;">&nbsp;«&nbsp;Back</a>
    
        
    
    <apex:form >        
        
        <!------------------------------  PAGE - DISPLAY SECTION  ------------------------------------->        
        <apex:pageBlock title="Sections" id="relatedListIdBlock">
            <apex:pageBlockButtons location="top">
                <div style="clear: both;">
                    <input type="button" value="Add new section" class="btn relatedListNewBtn" onclick="disableBtn(this); initiateNew360Section();" />
                </div>
            </apex:pageBlockButtons>
            
            <apex:outputPanel id="tablePanel" rendered="true" >
                <table class="list " border="0" cellpadding="0" cellspacing="0" id="CS360SectionDetailsList" width="80%" align="center"></table>                         
            </apex:outputPanel>
             
        </apex:pageBlock>
        <!------------------------------  PAGE - DISPLAY SECTION - ENDS  ------------------------------------->     
        
        
        
        <!------------------------------  POPUP ------------------------------------->
        
        <div class="overlayBackground jbaraDummyOverLayForm" style="position: absolute; display: none;"></div>                                      
        <apex:outputPanel id="popupPanel">
          <apex:outputPanel rendered="{!loadNewAndEditForm}">   
              <div class="overlayDialog inlineEditDialog jbaraDummyRuleConfigSettingForm bPageBlock" style="position: absolute; min-width: 700px; min-height: 220px; max-width: 800px; max-height: 300px; display: none;">
                  <div class="topRight" style='cursor: move'>
                      <div class="topLeft">
                          <img src="/s.gif" class="dialogClose" onclick="closeCS360Popup()"
                            onmouseout="this.className = 'dialogClose'" onmouseover="this.className = 'dialogCloseOn'"
                            id="InlineEditDialogX" />
                          <h2 class="InlineEditDialogTitle" id="InlineEditDialogTitle">Section Settings</h2>
                          <span class="pbSubExtra" style='float: right; margin-right: 10px'>
                                <span class="requiredLegend" style="display:none;">
                                    <span class="requiredExampleOuter">
                                        <span class="requiredExample">
                                            &nbsp;
                                        </span>
                                    </span>
                                    <span class="requiredMark">
                                        *
                                    </span>
                                    <span class="requiredText">
                                        = Required Information
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="middle" style="min-width: 480px; min-height: 200px;">                   
                    <div id="InlineEditDialogContent" class="innerContent">
                        <span id="jBaraClientErrContainer"></span>
                        <apex:pageMessages id="jbaraDashboardErrorMessages" />
                        <table class="rounded-corner" width="100%" style = "margin: 10px auto;" id ="tableRelatedListTable">
                            <tbody>
                    
                                <tr class="dashboardNameSection">
                                    <td width="50%">
                                        <b>Section Label:</b>
                                    </td>
                                    <td width="50%">
                                     <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                            <span id="recordName" ><apex:inputText value="{!newRelatedObject.JBCXM__DisplayLabel__c}" /></span>
                                     </apex:outputPanel>    
                                    </td>
                                </tr>
                                
                                    <tr class="relatedObjectSection">
                                        <td width="50%">
                                            <b>Lookup Object:</b>
                                        </td>
                                        <td width="50%">
                                        <apex:outputPanel rendered="{!isNotStdSection}">
                                         <apex:outputPanel styleClass="requiredInput" layout="block">
                                            <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                                <apex:selectList size="1" value="{!newRelatedObject.JBCXM__ObjectName__c}" onchange="getObjectFields()" StyleClass="jbaraCaseObjSelectCtrl">
                                                    <apex:selectOptions value="{!AccountRelatedObjectList}"/>
                                                </apex:selectList>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                        </td>
                                    </tr>
                                    
                                    <tr class="AccountLookUpFieldSection">
                                        <td width="50%">
                                            <b>Account Lookup Field:</b>
                                        </td>
                                        <td width="50%">
                                        <apex:outputPanel rendered="{!isNotStdSection}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block">
                                            <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                                <apex:selectList value="{!newRelatedObject.JBCXM__AccountReference__c}" size="1" StyleClass="jbaraCaseFldSelectCtrl" disabled="false" id="caseCustomObjectField" >
                                                    <apex:selectOptions value="{!ObjectFields}"/>
                                                </apex:selectList>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                        </td>                                   
                                    </tr>                                                                  
                                                                
                                <tr class="dashboardNameSection">                               
                                    <td width="50%">
                                        <b>Show in Customer360 :</b>
                                    </td>
                                    <td width="50%">
                                        <apex:inputCheckbox value="{!newRelatedObject.JBCXM__InCustomer360__c}" styleClass="jbaraCaseSettingsCheckbox inputDashboardId"/>
                                    </td>
                                </tr>
                                
                                <tr class="dashboardNameSection trAccWidget">                               
                                    <td width="50%">
                                        <b>Show in Account Widget:</b>
                                    </td>
                                    <td width="50%">
                                        <apex:inputCheckbox value="{!newRelatedObject.JBCXM__InAccountWidget__c}" styleClass="jbaraCaseSettingsCheckbox inputDashboardId chkAccItem"/>
                                    </td>
                                </tr>
                                
                                <tr class="dashboardNameSection trOppWidget">                               
                                    <td width="50%">
                                        <b>Show in Opportunity Widget:</b>
                                    </td>
                                    <td width="50%">
                                        
                                        <apex:inputCheckbox value="{!newRelatedObject.JBCXM__InOpportunityWidget__c}" styleClass="jbaraCaseSettingsCheckbox inputDashboardId chkOppItem"/>
                                    </td>
                                </tr>
                                 
                                <tr class="dashboardNameSection trSCWidget" style="display:none;">                               
                                    <td width="50%">
                                        <b>Show in Service Cloud Widget:</b>
                                    </td>
                                    <td width="50%">                                        
                                        <apex:inputCheckbox value="{!newRelatedObject.JBCXM__InSCWidget__c}" styleClass="jbaraCaseSettingsCheckbox inputDashboardId chkSCItem"/>
                                    </td>
                                </tr>
                                
                                <tr>    
                                    <td colspan="2" align="center">
                                    <br /><br />
                                        <input class = "btn saveNewRelatedList" type = "button" value = " Save " onClick = "disableBtn(this); saveAndConfigViewClick(false);" />
                                        <apex:outputPanel rendered="{!isNotStdSection}">
                                        <input class = "btn saveNewRelatedList clsTorediretUIViews" type = "button" value = " Save & Configure View" onClick = "disableBtn(this); saveAndConfigViewClick(true);" />
                                        </apex:outputPanel>
                                        <input class = "btn saveNewRelatedList" type = "button" value = " Cancel " onClick = "closeCS360Popup();" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
                  <script type="text/javascript">
                  if(isNotStdCS360Sec == true || isNotStdCS360Sec == 'true') {
                    j$("tr.relatedObjectSection, tr.AccountLookUpFieldSection, .clsTorediretUIViews").show();
                        if('{!(newRelatedObject.Id)}' ==''){
                            j$(".chkAccItem").removeAttr("checked");
                            j$(".chkOppItem").removeAttr("checked");
                        }
                    
                  }
                  else {
                    j$("tr.relatedObjectSection, tr.AccountLookUpFieldSection, .clsTorediretUIViews").hide();
                  }
                  
                  if('{!(newRelatedObject.Name)}' =='AccountAttributes'){
                        j$(".trAccWidget").hide();
                        j$(".trOppWidget").hide();
                  }
                  if('{!(newRelatedObject.Name)}' == 'Usage' || '{!(newRelatedObject.Name)}' == 'Features'){
                        j$(".trSCWidget").show();
                  }
                  
                  
                  </script>
            </apex:outputPanel>        
        </apex:outputPanel>
        
        
        <!------------------------------  POPUP - ENDS------------------------------------->
        
        
        
        <!------------------------------  ACTION FUNCTIONS------------------------------------->        
        <apex:actionFunction name="getObjectFields" reRender="caseCustomObjectField"/>
        
        <!-- CREATE -->
        <apex:actionFunction name="callCreateNewRecord" action="{!saveRelatedListItem}" onComplete="hideOverLayForm(); populateCS360SectionsDetails();" reRender="hideNewRecordPanel, updateSelectedObjListPanel" >     
            <apex:param name="redirectToUIView" value="" />  
        </apex:actionFunction>
       
        <!-- To Initiate new section -->
        <apex:actionFunction name="initiateNewSectionPopualtion"  action="{!initiateNewSectionLoad}" rerender="popupPanel" onComplete="openSectionDetailPopup(true); removeAlreadySelectObject();" />
        
        
        <!-- GET DETAILS FOR EDIT -->
        <apex:actionFunction name="callEditAction"  action="{!populateSectionById}" rerender="popupPanel" onComplete="showEditForm('{!(newRelatedObject.JBCXM__ObjectName__c)}');" >
              <apex:param name="sectionId" value=""/>
               <apex:param name="isStdSec" value=""/>
        </apex:actionFunction>
        
        <!-- SAVE EDITED -->
        <apex:actionFunction name="callSaveEditedRecord"  action="{!saveEditedRecord}" onComplete="hideOverLayForm(); populateCS360SectionsDetails();" reRender="hideNewRecordPanel, updateSelectedObjListPanel">
            <apex:param name="redirectToUIView" value="" />  
        </apex:actionFunction>                      
                
        <!-- DELETE -->     
        <apex:actionFunction name="callDeleteAction" action="{!deleteSectionRecord}" onComplete="populateCS360SectionsDetails();" rerender="updateSelectedObjListPanel" >
               <apex:param name="sectionId" value="" />  
        </apex:actionFunction>                      
        
        <apex:actionFunction name="callToggleStandardSection"  action="{!toggleSectionsStatus}" oncomplete="return null;" >
              <apex:param name="sectionId" value=""/>
              <apex:param name="secStatus" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction name="updateCS360SecOrder"  action="{!updateSectionDisplayOrder}" oncomplete="return null;" >
              <apex:param name="displayOrderData" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction name="reloadAfterSummaryBuild"  action="{!anonymousCall}" oncomplete="populateCS360SectionsDetails();" reRender="updateSelectedObjListPanel">
        </apex:actionFunction>
        <!------------------------------  ACTION FUNCTIONS END------------------------------------->
        
        
        
    </apex:form>  
    
    
                <div class="overlayDialog inlineEditDialog summaryAdminBlock bPageBlock ui-draggable" style = "display:none; position: absolute; min-width: 980px; min-height: 450px; max-width: 1172px; max-height: 500px;">
                  <div class="topRight" style='cursor: move'>
                      <div class="topLeft">
                          <img src="/s.gif" class="dialogClose" onclick="closeCS360Popup('summaryAdminBlock')"
                            onmouseout="this.className = 'dialogClose'" onmouseover="this.className = 'dialogCloseOn'"
                            id="InlineEditDialogX" />
                          <h2 class="InlineEditDialogTitle" id="InlineEditDialogTitle">Section Settings</h2>
                          <span class="pbSubExtra" style='float: right; margin-right: 10px'>
                                <span class="requiredLegend" style="display:none;">
                                    <span class="requiredExampleOuter">
                                        <span class="requiredExample">
                                            &nbsp;
                                        </span>
                                    </span>
                                    
                                </span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="middle" style="min-width: 480px; min-height: 200px;">                   
                        <div id="InlineEditDialogContent" class="innerContent">
                        </div>
                    </div>
                 </div>
                 
                 
                 <div class="overlayDialog inlineEditDialog sponsorTrackingAdminBlock bPageBlock ui-draggable" style = "display:none; position: absolute; min-width: 980px; min-height: 450px; max-width: 1098px; max-height: 500px;">
                  <div class="topRight" style='cursor: move'>
                      <div class="topLeft">
                          <img src="/s.gif" class="dialogClose" onclick="closeCS360Popup('sponsorTrackingAdminBlock')"
                            onmouseout="this.className = 'dialogClose'" onmouseover="this.className = 'dialogCloseOn'"
                            id="InlineEditDialogX" />
                          <h2 class="InlineEditDialogTitle" id="InlineEditDialogTitle">Edit Sponsor Tracking</h2>
                          <span class="pbSubExtra" style='float: right; margin-right: 10px'>
                                <span class="requiredLegend" style="display:none;">
                                    <span class="requiredExampleOuter">
                                        <span class="requiredExample">
                                            &nbsp;
                                        </span>
                                    </span>
                                    
                                </span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="middle" style="min-width: 480px; min-height: 200px;">                   
                        <div id="FrameForEditing" class="innerContent">
                        </div>
                    </div>
                 </div>
                 
                 <div class="overlayDialog inlineEditDialog cs360SectionReportsAdminBlock bPageBlock ui-draggable" style = "display:none; position: absolute; min-width: 900px; max-width: 920px; height: 480px;">
                  <div class="topRight" style='cursor: move'>
                      <div class="topLeft">
                          <img src="/s.gif" class="dialogClose" onclick="closeCS360Popup('cs360SectionReportsAdminBlock')"
                            onmouseout="this.className = 'dialogClose'" onmouseover="this.className = 'dialogCloseOn'"
                            id="InlineEditDialogX" />
                          <h2 class="InlineEditDialogTitle" id="InlineEditDialogTitle">Create New Section</h2>
                          <span class="pbSubExtra" style='float: right; margin-right: 10px'>
                                <span class="requiredLegend" style="display:none;">
                                    <span class="requiredExampleOuter">
                                        <span class="requiredExample">
                                            &nbsp;
                                        </span>
                                    </span>
                                    
                                </span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="middle">                   
                        <div id="reportForEditing" class="innerContent">
                        </div>
                    </div>
                 </div>
          
</apex:page>