<!-- Copyright (c) 2011 JBara Software, Inc.
---- Purpose					: Container page for Customer Experience Control Panel.
----		   					  Includes pages (Summary,Alerts,Adoption,NPS and Transactions).
---- Other comments (optional)	: User can have the complete summary of a customer in the account level.
-->
<apex:page docType="html-5.0" standardController="Account"  sidebar="false" title="Customer Success" showChat="false" extensions="JBCXM.Customer360Broker,JBCXM.NSRemoting">
        
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS,'css/CS360/CS360.css'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS,'css/CS360/acct-opt-styles.css'))}"/>
    
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'css/redmond/jquery-ui-1.8.11.custom.css'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/grids/jqgrid-4.5.2/css/ui.jqgrid.css'))}"/>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/data_charting/raphael-min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/data_charting/d3.v3.min.js'))}"></script>
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />
    
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-1.10.2.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-UI-1.10/js/jquery.ui.min.js'))}"></script>

    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/jquery.htmlClean.min.js'))}" type="text/javascript"></script>
    
     
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/trunk8.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery-scrollto.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery.expose.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery.ba-dotimeout.min.js'))}"></script>
    
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.6.0/js/jquery.jqGrid.src.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.6.0/js/i18n/grid.locale-en.js'))}"></script>   
    <script src="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jqgrid.Custom.Utility.js'))}"></script>    
    <script src="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" ></script>   
    
    <script src="{!JSENCODE(URLFOR($Resource.HighchartsJS, 'Highstock-2.0.4/highstock.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.HighchartsJS, '4.0.1/highcharts-more.js'))}"></script>    
    <script src="{!JSENCODE(URLFOR($Resource.HighchartsJS, 'HighchartsJS/themes/gray.js'))}" ></script>
    <script src="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/adoptiongraph.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.JSONUtil))}"></script>
    
    <script src="{!JSENCODE(URLFOR($Resource.NS,'NS/newStack/js/pivotgrid/pivotGrid.js'))}"> </script> 
    <script src="{!JSENCODE(URLFOR($Resource.NS,'NS/newStack/js/restclient/restClient.js'))}"> </script>
    

    
    <link   href="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.min.css'))}" rel="stylesheet" type="text/css" />
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.jquery.min.js'))}" type="text/javascript"></script>
 	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src = "{!JSENCODE(URLFOR($Resource.JqueryTablesorter,'jquery.tablesorter.min.js'))}"> </script>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JqueryTablesorter,'themes/blue/style.css'))}" />
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__NS,'NS/newStack/stylesheets/pivotgrid/pivotgrid.css'))}" />
    
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/multiple-select.css'))}"/>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiple.select.js'))}"></script> 
	
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/jquery.multiselect.filter.css'))}"/>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiselect.filter.js'))}"></script>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/CS360/gsApps.css'))}" />	 
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/workflow/workflow.css'))}" />
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/data_charting/crossfilter.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/moment.min.js'))}" type="text/javascript"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/lib/jquery.event.drag-2.2.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.core.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.grid.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.dataview.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.editors.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.rowselectionmodel.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangeselector.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangedecorator.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellselectionmodel.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.autotooltips.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/sparklines/jquery.sparkline.min.js'))}"></script> 
	<link href="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.grid.css'))}" rel="stylesheet" type="text/css"/>
	<link href="{!JSENCODE(URLFOR($Resource.GSAppCSS,'css/CS360/ns-usagedata.css'))}" rel="stylesheet" type="text/css"/>
    
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/require.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/underscore-min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/backbone-min.js'))}"></script>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS,'css/ScoreCards.css'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/reports/report-builder.css'))}"/>
    
    <!-- <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.GSAppCSS, 'css/gsGlobal.css'))}" />
     -->
    <script type="text/javascript">
        var j$ = $.noConflict();
        window.jQuery = j$;
        window.jLatest = j$;
        j$.jgrid.no_legacy_api = true;
        j$.jgrid.useJSON = true;        
        google.load('visualization', '1', {packages:['gauge']});    
        
    </script>
    <style>
        body{
            overflow-y:hidden;
            overflow-x:auto;
        }
        .dateControl {
            max-width : 70px;
        }
        div.gs_content_wrapper{
            
        }
        .bPageFooter{
            padding: 2px 0 2px !important;
        } 
        .AdChartContainer {
            max-width : 700px;
        }
        /*------NPS-Responses-----
        .noTitleBar .ui-dialog .ui-dialog-content {
            padding: 0em !important;
        }*/
        #event_div_cls_frame {
            padding: 0em !important;
        }
        #event_frame_id .ui-dialog.ui-widget {
            left:0px !important;
        }       
        .featuresCls {
            top:20px !important;
        }
        body .bodyDiv #bodyTable {
            margin-bottom: -20px;
        }
        .requiredLegend {
            background-color : inherit;
        }
        .gs_retention .alert_card .alert_title,.gs_retention .events_card .event_title {
            cursor: default;
        }
        .ui-button-text:focus,.ui-dialog:focus,.ui-widget .ui-button:focus,.ui-widget .ui-button:focus,.ui-button-icon-primary:focus   {outline:none;}
        .gs_invalidCustomer {
            width : 420px;
            height : 70px;
            margin :auto;
            left :0px; right :0px; bottom :0px; top:0px;
            position : absolute;
            padding: 16px;
        }
        
        
        .gs_inavlidCustomerSpan{
            width: 570px;
            height: 70px;
            margin: auto;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            position: absolute;
        }
        .gs_searchformForInvalid {
            width: 570px;
            height: 70px;
            margin: auto;
            left: 80px;
            right: 0px;
            bottom: 0px;
            top: 100px;
            position: absolute;
        }
        .gs_inavlidTextSpan {
            text-align: center;
        }
        .gs_inavlidTextSpan a {
            display : block;
        }
        .operatorSelectDropdown {
        	min-width : 100px !important;
        	max-width : 100px !important;
        }
     	.noBorderDialog{
			background-color: transparent !important;
			border: solid 0px #fffff !important;
			border: none !important;
			border : 0px !important;
			border-color: transparent !important;
		}
		.noBorderChild {
			border: none !important;
			border : 0px !important;
			border-color: transparent !important;
		}
		div.alertFrameDialog {
		height:400px !important;
		overflow:auto !important;
		width:970px !important;
	}
	 .pull-right {
		float: right !important;
	}
	.pull-left {
		float: left !important;
	}
	.col-md-3 {
		width: 25%; float: left;
	}
	.col-md-9 {
		width: 75%; float: left;
	}
	.form-control {
		display: block;
		width: 97%;
		font-size: 13px;
		padding: 4px 6px;
		line-height: 1.428571429;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #dbdbdb;
		border-radius: 3px;
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.ui-dialog .ui-dialog-title{padding: 0px !important;}
	.addCtapopup .ui-widget-header{padding: 8px 10px !important;}
	.addCtapopup .ui-dialog-titlebar-close span.ui-icon-closethick {
		margin: 0px -5px;
	}
	.addCtapopup .ui-dialog-titlebar-close.ui-button{ 
		background: none !important;
	}
	.gs-btn {
		display: inline-block;
		padding: 6px 15px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 3px;
		outline: none !important;
		min-width: 100px;
	}
            /*-----save----*/
	.btn-save {
		color: #fff;
		background-color: #46b789;
	}
	.btn-save:hover {
		color: #fff;
		background-color: #34a476;
	}
	.btn-save:active {
		color: #fff;
		background-color: #34a476;
	}
	/*-----cancel----*/
	.btn-cancel {
		color: #fff;
		background-color: #acacac;
	}
	.btn-cancel:hover {
		color: #fff;
		background-color: #bfbebe;
	}
	.btn-cancel:active {
		color: #fff;
		background-color: #abaaaa;
	}
	.alert-warning {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
		}
	.alert {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;/*border-radius: 4px;*/
	}	
	.usageExtreportSectionTitle {
		background: none repeat scroll 0 0 #1492cf;
		border-bottom: 1px solid rgb(187, 187, 187);
		height: 30px;
	}
	.usageExtreportSectionTitle h1{
		display: inline-block !important;
		margin-left: 8px;
		margin-top: 4px;
		color:#fff;
	}
	.usageExtreportSelect {
		display: inline;
		float: right;
		margin-right: 4px;
		margin-top: 4px;
		right: 20px;
		width: 200px;
	}
	#reportDivScreenId1 {
		overflow-x: auto;
	}
	.ui-jqgrid-htable input {
			border : 1px solid #B1B2B6 !important;
	}
	.drill-down-column-chooser{
   		display: none;
    }
    </style>
    <div class="gs_main_wrapper">
    </div>
    
    <script>
        
        var hideTopbar = "{!($CurrentPage.parameters.hideMenu) == '1'}";
        var d = new Date();
        var GS = GS || {};
            
            GS.sfdcBaseURL          = "{!(sfdcBaseURL)}"; 
            GS.remotingEndPoint     = '{!$RemoteAction.Customer360Broker.customer360RequestBroker}';
	    	GS.remotingBulkEndPoint = '{!$RemoteAction.Customer360Broker.customer360BulkRequestBroker}';    
            GS.isPackagedInstance   = "{!(isPkgInstance)}";
            GS.packageNS            = (GS.isPackagedInstance == "true" || GS.isPackagedInstance == true) ? "JBCXM__" : "";
            GS.currentDate          = "{!JSENCODE(currentDate)}";
            GS.customerName         = "{!(JSINHTMLENCODE(customerName))}";
            GS.customerStatus       = "{!(customerStatus)}";
            GS.custStatusSysName    = "{!(custStatusSysName)}";
            GS.sessionId =  "{!(NSSessionId)}";
            GS.remoting = "{!$RemoteAction.NSRemoting.apinsinvoke}";            
		    GS.userConfig = {
		        userLocale  : {!(dateTimeFormatByLocale)},
		        userName    : "{!$User.FirstName}"+" "+"{!$User.LastName}",
		        userId      : "{!$User.Id}",
		        userEmail	: "{!$User.Email}"    
		    };
		    
		     GS.dataConfig = {
               date: d.getFullYear() + '-' + (d.getMonth()>8 ? "":"0") + (d.getMonth() + 1) + "-" + (d.getDate() > 9 ? "":"0") + (d.getDate()),
               interval:"days",
               units:"7" // last 7 days
           }    
           
		    GS.isCustomerExists = "{!(isCustomerExists)}";
		    GS.accountId  = "{!(accountId)}";		    
		    GS.customerId = "{!(customerId)}";
		  
      		
		    GS.isAccountExists = "{!(isAccountExists)}";
		    GS.customLabels			= eval({!(customLabelsMap)});
		    GS.currencyConfig 		= eval({!(currencyConfigJSON)});
		    GS.profilePhoto 		= "{!(profilePhoto)}";
		    GS.userDisplayName      = "{!(JSINHTMLENCODE(userDisplayName))}";
		    GS.isFromWidgets		= true;
	    	GS.customLookUpConfig   	= eval({!(customLookUpConfigMap)});
		    GS.taskFields = {!(taskFields)};
		    GS.isChatterEnabled = {!(feedEnabled)};		    
			GS.defaultCTAClosedStage = "{!(defaultCTAClosedStage)}";
            var currencyConfigObject = eval({!(currencyConfigJSON)});
            GS.isSegmentIOEnabled	= {!(isSegmentIOEnabled)} || {!(ismixPanelEnabled)}; 
		    GS.isScorecardHistoryEnabled = {!(isScoreCardHistoryEnable)};
		    GS.isScorecardEnabled = {!isScorecardEnabled};
		    GS.enableSnooze =  "{!(snoozeEnabled)}";
		    GS.sfDate = "{!(sfDate)}";
		    GS.feedObject  = "{!(feedObject)}";
		    GS.showComments = "{!(showComments)}";
		    GS.sfDate =  "{!(sfDate)}";
		    GS.contactsEnabled = "{!(contactsEnabled)}";
		    GS.userBlankPhoto = "{!JSENCODE(URLFOR($Resource.GSAppCSS, 'images/workflow/No-User.jpg'))}";
		    GS.isWidget = true;
		    
		     define("jQuery", [], function(){
                    return window.jLatest;
                });
		   
		    require.config({
		        baseUrl : "",
		        paths : {
		          'framework': "{!JSENCODE(URLFOR($Resource.GSApp,'js/Gainsight'))}",
		          //'framework': "https://localhost/GS-UI/GSApp/js/Gainsight",
		          'newStack' : "{!JSENCODE(URLFOR($Resource.NS,'NS/newStack/js'))}",
		          'vendor'   : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor'))}",
		          'text'     : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/text'))}",
			'async':"{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/async'))}"
		        },
				config: {
					text: {
							useXhr: function(url, protocol, hostname, port) {
								return true;
							}
					}
				}
				//,urlArgs: "bust=" +  (new Date()).getDate()
		    });
		    
		    var viewport = {width:0, height:0};
		    var navigationManagerView;
			
		  
		    j$(document).ready(function() {
		    		    
		    	j$(".AdChartContainer").width(j$(".gs_section_title").width());
		    	if( 
		    		GS.accountId != "" && 
		    		GS.accountId != "null" && 
		    		GS.accountId != null &&
		    		(GS.isCustomerExists == "true" || GS.isCustomerExists == true)
		    	){
			       loadCustomerConfig();
		        } 
		        else if(GS.isAccountExists == true || GS.isAccountExists == "true"){
		        
		        	j$('.gs_main_wrapper').html(prepareHTML());
		        	
		        }
		
		    });
		    function loadCustomerConfig() {
		    	//JB-000   
		    	 require(["framework/views/customer360/CustomNavigationManagerView"],
			        
					         function(CustomNavigationManagerView) {
					        
									navigationManagerView = new CustomNavigationManagerView({
											el:".gs_main_wrapper",
											data:{
												hideTopbar:hideTopbar
											}
									});
									
									navigationManagerView.loadConfig();
									
										        	
					        });
		    }
		    
	    	 function prepareHTML() {
		    
				var htmlStr = "";
				
					htmlStr += "<div class='gs_invalidCustomerWrapper'>";
					htmlStr += "<div class = 'gs_invalidCustomer'>";
					htmlStr += "<div class = 'gs_inavlidTextSpan'><div class = 'dmContainer'><div class = 'gs_inavlidCustomerSpan_ForNewAccount' style = 'float: none;'></div><span style = 'font-size: 20px;'>"+ GS.customerName +"</span></div><div style = 'clear:both;'>This Account is not added to Gainsight Customer Repository!</div>";
					htmlStr += "<br><input type='button'  class='btn' onclick = 'saveCustomer()' value='Add Account'></div></div></div>";
					
				return htmlStr;
		    }
		    function NavigateAccount() {
		    	window.location.href = "/" + GS.accountId;
		    }
		    function saveCustomer() {
		    	
		    	 require(["framework/commands/AjaxCommand"],
			        
					         function(AjaxCommand) {
					        
								new AjaxCommand({
									message:"Saving",
									"size":"small"
								}).excecute({
					            	"action":"accountWidget.saveCustomer",
					                "data":{"accountId":GS.accountId}
							    }).done(function(data){
							    	try{
							    		GS.accountId  = data.accountId;		    
		  							    GS.customerId = data.customerId;
							    		loadCustomerConfig();
							    	}catch(e){
							    		console.error(e);
							    	}
			   				 	}).fail(function(data){
			   				 		alert("Please check the customer once again");
			   				 	});
										        	
					        });
		    }
		    
		    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
			var eventer = window[eventMethod];
			var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
			eventer(messageEvent,function(e) {
				try{
					console.info(e.data.callback +", " + window[e.data.callback]);
			 		window[e.data.callback].apply(window, e.data.args);
			 	}catch(e){
			 		console.warn(e);
			 	}
			},false);
			
			function OnChatterRendered(){
            	
            	j$(".gs-chatter-loader-img").hide();
            	if(GS.isChatterEnabled)
            		j$(".chatterMainDivClass").show();
            	j$("#publishersharebutton").on("click", onClickShareButton);
            	j$("#publishereditablearea").val("#Gainsight-Cockpit "+"#"+ GS.CTAName + ": ");
            }
            function onClickShareButton(){
            	
            	window.setTimeout(function(){
            			j$("#publishereditablearea").val("#Gainsight-Cockpit "+"#"+ GS.CTAName + ": ");
            	}, 1500);
            }
            		    
	</script>
	<apex:form >
		<apex:actionfunction name="loadAdoptionComp" action="{!rerenderAdoption}" rerender="AdoptionPanel"  /> 	
	</apex:form>
	<apex:form >
		<apex:actionFunction name="actionCTAIdforChatter" action="{!getCTAIdForChatter}" reRender="chatterIdCTA, rerenderCTAChatterPanel" oncomplete="OnChatterRendered()" >
			<apex:param name="paramCTAId" value="" />
		</apex:actionFunction> 
	</apex:form>
	<div class="gs-chatter-loader-img" style="display:none;">
			<div class="gs-chatter-loader"></div>
			<span>Loading Chatter</span>
	</div>
	<div class="chatterMainDivClass" style="display:none;">
		<apex:outputPanel id="rerenderCTAChatterPanel">	
			<apex:outputPanel id="renderCTAChatterPanel">
				<div id="chatterDivId">
					<chatter:feed entityId="{!ctaChatterId}" id="chatterIdCTA" />
				</div>
			</apex:outputPanel>	
		</apex:outputPanel>
	</div>
	<apex:outputPanel id="AdoptionPanel" styleClass="AdChartContainer">
		 <apex:outputPanel rendered="{!renderAdoption}" styleClass="AdoptionPanelChild">
			<c:Usage360 customerId="{!Account.id}" customerName="{!Account.Name}" graphTitle="{!Account.Name}" showTitle="false" containerHeight="400px" formName="AccountWidget" >
			</c:Usage360>
		</apex:outputPanel>
		
	
	</apex:outputPanel>
	<!-- JB-000 --> 	
      <div id="nsParams" style="display:none;width:100%;"></div>
    
	 <script>
    	var GSGA = {
			orgId: "{!$Organization.Id}",
			orgName: "{!$Organization.Name}",
			userName: "{!$User.FirstName}"+" "+"{!$User.LastName}"
		};
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
	</script>
	<script src="{!JSENCODE(URLFOR($Resource.CustomJS,'CustomJS/analyticsWrapper.js'))}"></script>  
     
</apex:page>