<!-- Removing the code
---- Copyright (c) 2011 JBara Software, Inc. 
---- Purpose					: deprecated .
---- Other comments (optional)	: . 
-->
<apex:page docType="html-5.0" controller="JBCXM.LayoutBroker"
	showHeader="{!showHeader}" sidebar="false" title="Customers">

	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'css/redmond/jquery-ui-1.8.11.custom.css'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/grids/jqgrid-4.5.2/css/ui.jqgrid.css'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS,'css/ScoreCards.css'))}" />   
	
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/data_charting/raphael-min.js'))}"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-1.10.2.min.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-UI-1.10/js/jquery.ui.min.js'))}"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.5.2/js/jquery.jqGrid.min.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.5.2/js/i18n/grid.locale-en.js'))}"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/lib/jquery.event.drag-2.2.js'))}"></script>

	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/slick.grid.css'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/controls/slick.columnpicker.css'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/controls/slick.pager.css'))}" />

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.core.js'))}"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.rowselectionmodel.js'))}"></script>
    <script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangeselector.js'))}"></script>
    <script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangedecorator.js'))}"></script>
    <script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellselectionmodel.js'))}"></script>
    <script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.autotooltips.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.checkboxselectcolumn.js'))}"></script>
	<link
		href="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.min.css'))}"
		rel="stylesheet" type="text/css" />
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.jquery.min.js'))}"
		type="text/javascript"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.grid.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.dataview.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.editors.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/controls/slick.columnpicker.js'))}"></script>


	<script
		src="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jqgrid.Custom.Utility.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/jbaraCustomUtility.js'))}"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/require.min.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/underscore-min.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/backbone-min.js'))}"></script>

	<link
		href="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/multiple-select.css'))}"
		rel="stylesheet" type="text/css" />
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiple.select.js'))}"
		type="text/javascript"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/jquery.htmlClean.min.js'))}"
		type="text/javascript"></script>

	<script
		src="{!JSENCODE(URLFOR($Resource.HighchartsJS, '3.0.7/highcharts.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.HighchartsJS, '3.0.7/highcharts-more.js'))}"></script>
	<script
		src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery.expose.js'))}"></script>

	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/CS360/gsApps.css'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/analytics/analytics.css'))}" />	
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/layout/layout_stylesheet.css'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/buttons-icons.css'))}"/>
	<!-- 
	<link rel="stylesheet" type="text/css" href="https://localhost:8080/UI/GSAppCSS/css/CS360/gsApps.css"/>
	<link rel="stylesheet" type="text/css" href="https://localhost:8080/UI/GSAppCSS/css/analytics/analytics.css"/>
	 -->
	
	<style>
.resize_layout .resize_header{
   padding: 9px 0px !important;}
   
.filter-container{
	margin-right: 10px;
	margin-top:10px;
}
.gs-moreactions-drop{
	margin-top: 12px !important;
}
.chartSubContainer {
	display: inline-block;
}

.controlFilters {
	padding: 10px 5px;
}

body .bodyDiv #bodyTable {
	margin-bottom: -20px;
}

.gs-loadingMsg {
	margin-top: 10%;
}

.tagsContainer {
	padding: 5px 0;
}

.tagsContainer .results-btn {
	display: inline-block;
}

.tagsContainer .editTags {
	float: right;
	display: inline-block;
}

.slick-cell.selected {
	border-top: none !important;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #fff;
	border-radius : 3px;
	background-color:#fff;
	padding: 2px;
}
.chosen-container-multi .chosen-choices:hover{
	background-color:#fff !important;
	border: 1px solid #aaaaaa;
	padding: 2px;
}
.chosen-container .chosen-results li.highlighted{
	background-color: #33A6E5 !important;
	background-image:none !important;
}
.chosen-container-active .chosen-choices {
border: 1px solid #aaa;
}

.ui-widget-overlay {
	z-index: 999;
}
.ui-dialog {
	z-index : 9999;
}
   
.filter-container{
	margin-right: 10px;
}
.home-page-slick-grid {
  border: 1px solid #E7E7E7 !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
  padding:0px 5px;
  border:none;}
 .user_settings.viewsDropArea{
  margin-top: 10px;
 }
 .chosen-container-multi .chosen-choices li.search-field{
	border: none !important;
	background-image: none !important;
	line-height: 23px;
 }
 .gs-csum-main .gs-loadingMsg {
	margin-top: 0px;
	position: absolute !important; 
	left: 50% !important;
	background-color: none !important;
	
}
.slick-header-column-sorted {
	font-style: normal;
}
.noDataFound {
	top: 70px;
	position: relative;
}
.brandPrimaryBrd {
	overflow: hidden !important;
	padding-bottom : 25px;
}
.customerGrid {
	padding-bottom: 0px !important;
}
.viewsDropArea .ui-multiselect {
	width : 195px !important;
	max-width : 195px !important;
}
</style>
	<div class="chartMainContainer"></div>


	<script>
		var j$ = $.noConflict();
		window.jLatest = j$;
		
		var GS = GS || {};
	    	GS.userConfig = {
		        userLocale  : {!(dateTimeFormatByLocale)},
		        userName    : "{!$User.FirstName}"+" "+"{!$User.LastName}", 
		        userId      : "{!$User.Id}",
		    	emailId		: "{!$User.Email}",
		    	profilePhoto : "{!(profilePhoto)}",
				userDisplayName : "{!(userDisplayName)}"
		    };
		    GS.remotingEndPoint     	= '{!$RemoteAction.LayoutBroker.layoutRequestBroker}';
		    GS.remotingBulkEndPoint     = '{!$RemoteAction.LayoutBroker.layoutBulkRequestBroker}';
		    GS.renderSummary 			= true;
		    GS.customLabels	 		= {!(customLabelsMap)};
		    GS.operatorsListMap 	= {!(operatorsListMap)};
		    GS.fiscalYrEnabled  	= {!(IsCustomFiscalYearSettingsEnabled)};
		    GS.customLookUpConfig 	= {!(customLookUpConfigMap)};
		    GS.churnLabelMap 		= {!(churnLabelMap)};
		    GS.currencyConfig 		= {!(currencyConfigJSON)};
		    GS.isPackagedInstance   = "{!(isPkgInstance)}";
		    GS.packageNS            = (GS.isPackagedInstance == "true" || GS.isPackagedInstance == true) ? "JBCXM__" : "";
			GS.statePreservation 	= {}; 
			GS.generalPageSize = parseInt('{!(CustomerRecordLimit)}');
		    GS.scmuPageSize = 100;
		    GS.useSparkLinesforAdoption = false;
		    
		require.config({
			baseUrl : "",
				paths : {
				'framework': "{!JSENCODE(URLFOR($Resource.GSApp,'js/Gainsight'))}", 
				//'framework': "https://localhost:8080/UI/GSApp/js/Gainsight",
				'vendor' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor'))}",
				'text' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/text'))}"
			},
			config: {
				text: {
						useXhr: function(url, protocol, hostname, port) {
							return true;
						}
				}
			}//,
			//urlArgs: "bust=" +  (new Date()).getTime()
			
		});
		
		j$(function () {
		
			var isOnlyChart = "{!($CurrentPage.parameters.chart)}";
			if(GS.isPackagedInstance === "true") {
				//Managed Package
				j$(".chartMainContainer").css({"margin-top" : "-15px"});
			}
			else {
				//DEv code 
				j$(".chartMainContainer").css({"margin-top" : "-15px"});
				
			}
			require([
			        "framework/views/analytics/CustomerManager",
			        "framework/views/analytics/CustomerAnalytics",
			        "text!framework/views/analytics/customer-analytics-template.html",
			        'framework/commands/AjaxCommand',
			        "framework/utils/Utils"
			    ],
			    function(CustomerManager, CustomerAnalytics, layout_template, AjaxCommand,Utils) {
					
					var createAnalyticsView =  function(){
				        j$("body").append(layout_template);
						//j$("body").find('.bPageHeader').hide();
						//j$("body").find(".bPageFooter").hide();
						j$("body").find('#bodyTable').css('margin', '0');
						
				        this._layoutTemplate = j$("#customerAnalyticsTemplate").html().trim();
				        this._containerTemplate = j$("#customerContainerTemplate").html().trim();
				
				        j$("#customerAnalyticsTemplate").remove();
				        j$("#containerTemplate").remove();
				
				        j$(".chartMainContainer").append(_.template(this._layoutTemplate, {
				            cid: "_abc"
				        }));
				
				        this._layoutTemplate = j$(".chartMainContainer").find(".customerChart").clone();
				
				        j$(".chartMainContainer").html("").append(this._layoutTemplate);
				
				        window._tv = new CustomerAnalytics({
				            el: j$(".chartMainContainer").find(".customerChart"),
				            data: {
				                configFilterInfo: JSON.parse(JSON.stringify(GS.customLookUpConfig)),
				                height: 450
				            }
				        });
				        window._tv.on("SAVESTATE_TRIGGERED", saveStatePreservation, window);
					
					}
			
					var saveStatePreservation = function(){	
						GS.statePreservation["Name"] = 'CustomersTab';
						GS.statePreservation[Utils.getKey("SubSection__c")] = GS.statePreservation[Utils.getKey("SubSection__c")] 
						                                                      || JSON.stringify({"name":'CUSTOMERS',"index": 0});
								
						new AjaxCommand().excecute({
							"action":"statePreservation.saveState",
							"data" : {
								"stateJSON" : JSON.stringify(GS.statePreservation),
								"areaName" : 'CustomersTab'
							}
						},false, false).done(function(data) {					
						});
					}
					
					var getStatePreservation = function(){
						var self = this;
						new AjaxCommand().excecute({
							"action":"statePreservation.getState",
							"data" : {"areaName" : "CustomersTab"}
						}).done(function(data) {
							
							GS.statePreservation = data.data;
							createAnalyticsView();
							
						});		
						
					}
					
					if(!isOnlyChart) {
						// Fetch the initial Config
						new AjaxCommand().excecute({
							action : "customers.GETCUSTOMERCONFIG"
						}).done(function(data) {
							GS.isNotificationEnabled = data.isNotificationEnabled;
							GS.customLabelsMap	= JSON.parse(data.customLabelsMap);
							GS.stageLabel = GS.customLabelsMap.Stage;
							ca = new CustomerManager({
										el:j$(".chartMainContainer"),
									});
						});
					}
			        else {
			        
			        	getStatePreservation();
				    }
	    		});
    	});
			
	</script>
	<script>
    	var GSGA = {
			orgId: "{!$Organization.Id}",
			orgName: "{!$Organization.Name}",
			userName: "{!$User.FirstName}"+" "+"{!$User.LastName}"
		};
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
	</script>
	<script
		src="{!JSENCODE(URLFOR($Resource.CustomJS,'CustomJS/analyticsWrapper.js'))}"></script>
	
</apex:page>