<apex:page docType="html-5.0" controller="JBCXM.LayoutBroker" sidebar="false" title="Gainsight" tabStyle="Gainsight__tab" extensions="JBCXM.NSRemoting">

	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'css/redmond/jquery-ui-1.8.11.custom.css'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/grids/jqgrid-4.5.2/css/ui.jqgrid.css'))}"/>
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS,'css/ScoreCards.css'))}"/>   
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/data_charting/raphael-min.js'))}"></script>
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-1.10.2.min.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-UI-1.10/js/jquery.ui.min.js'))}"></script>
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.6.0/js/jquery.jqGrid.src.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/jqgrid-4.6.0/js/i18n/grid.locale-en.js'))}"></script>
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/lib/jquery.event.drag-2.2.js'))}"></script>
	
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/slick.grid.css'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/controls/slick.columnpicker.css'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/grids/slickgrid/controls/slick.pager.css'))}"/>
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.core.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/sparklines/jquery.sparkline.min.js'))}"></script>		
	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.rowselectionmodel.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangeselector.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellrangedecorator.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.cellselectionmodel.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.autotooltips.js'))}"></script>	
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/plugins/slick.checkboxselectcolumn.js'))}"></script>	
	<link   href="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.min.css'))}" rel="stylesheet" type="text/css" />
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/chosen/chosen.jquery.min.js'))}" type="text/javascript"></script>

	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.grid.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.dataview.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/slick.editors.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/grids/slickgrid/controls/slick.columnpicker.js'))}"></script>
	
	<script src="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jqgrid.Custom.Utility.js'))}"></script>    
	<script src="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" ></script>   
	
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/require.min.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/underscore-min.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/backbone-min.js'))}"></script>
	
	<link   href="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/multiple-select.css'))}" rel="stylesheet" type="text/css" />
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiple.select.js'))}" type="text/javascript"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/jquery.htmlClean.min.js'))}" type="text/javascript"></script>
	
	<script src="{!JSENCODE(URLFOR($Resource.HighchartsJS, 'Highstock-2.0.4/highstock.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.HighchartsJS, '4.0.1/highcharts-more.js'))}"></script>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery.expose.js'))}"></script>
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__NS, 'NS/newStack/js/restclient/restClient.js'))}" />
	
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/growl/jquery.growl.css'))}"/>
	<script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/growl/jquery.growl.js'))}"></script>
 
	<style>
		.slickPager .gs_grid_footer, .slickPager {
			background: #FFFFFF!important;
		}
		
		.gs_laym_header .layout_name .selectedLayout {
			height: 23px;
			width: 200px;
			padding: 0px 0px 0px 4px;
			line-height: 23px !important;
			margin-top: 2px;
		}

		.gs_laym_header .layout_name {
			font-size: 13px
		}
		
		.gs_laym_header .layout_name ul.layouts_list {
			width: 202px;
		}
		
		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
		}
		.loadingSpin {
			height: 100%;
			left: 0;
			opacity: 0.75;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 3;
			background-color: #ffffff;
		}
		/* search results showing the details which is causig the horizontal scroll bar. Hidden this to get rid of horizontal scroll */
		.gs_search_section span.ui-helper-hidden-accessible {
			display: none;
		}
		
		.user_settings.viewsDropArea .ui-multiselect {
			font-size: 16px !important;
			/*border: 1px solid #fff !important;*/
			overflow: hidden;
       		white-space: nowrap;
        	text-overflow: ellipsis;
        	height: 29px;
        	width: 300px !important;
  		}
		/*.user_settings.viewsDropArea .ui-multiselect .ui-icon {
			background-image: none !important;
    	}*/
    	.resize_layout .resize_header .user_settings {	
        	float:left !important;
		}	
		.resize_layout .resize_header .user_settings.filter-container {	
        	display: inline-block;	  
	        float:right !important;	     
	   	}
	   	.resize_header .ui-multiselect-selected-label{ 
	   		margin-left: -15px;
	   	}
		.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
			text-align:left;
			font-weight:400;
			padding:5px 10px!important;
		}
		
		.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
			display:inline;
		}
		
		.ui-multiselect-checkboxes li.ui-multiselect-child label {
			padding-left:20px!important;
		}
		
		.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label h1 {
			color:#ff9666!important;
		}
		.drill-down-column-chooser{
			display:none !important;
		}
	</style>
	<script type="text/javascript">
    	var j$ = $.noConflict();
    	window.jLatest = j$;
    	Highcharts.setOptions({
		 colors: ['#45b698', '#eba638', '#76ad27', '#166da5', '#7a5892', '#009ab2', '#f17921', '#2e3b56', '#c14977', '#3a63d0', '#58d0b0' , '#fbc064' ]
		});
    </script>
    
    <script>
    	
	    var GS = GS || {};
	    	var nsParams 				= eval({!(nsParams)}); 
		    GS.remotingEndPoint     	= '{!$RemoteAction.LayoutBroker.layoutRequestBroker}';
		    GS.remotingBulkEndPoint     = '{!$RemoteAction.LayoutBroker.layoutBulkRequestBroker}';	
		    	    
		    GS.isPackagedInstance   = "{!(isPkgInstance)}";
		    GS.packageNS            = (GS.isPackagedInstance == "true" || GS.isPackagedInstance == true) ? "JBCXM__" : "";		
		    
		    GS.remoting = "{!$RemoteAction.NSRemoting.apinsinvoke}";
            GS.sessionId = "{!NSSessionId}";
            GS.isNSEnabled = nsParams.nsenabled == "true" ? true : false; 
            
		    GS.userConfig = {
		        userLocale  : {!(dateTimeFormatByLocale)},
		        userName    : "{!$User.FirstName}"+" "+"{!$User.LastName}", 
		        userId      : "{!$User.Id}",
		    	emailId		: "{!$User.Email}",
		    	profilePhoto: "{!(profilePhoto)}",
		    	userDisplayName: "{!(userDisplayName)}"
		    };
		    			
		    GS.customLabels	 		= {!(customLabelsMap)};
		    GS.operatorsListMap 	= {!(operatorsListMap)};
		    GS.fiscalYrEnabled  	= {!(IsCustomFiscalYearSettingsEnabled)};
		    GS.customLookUpConfig 	= {!(customLookUpConfigMap)};
		    GS.churnLabelMap 		= {!(churnLabelMap)};
		    GS.currencyConfig 		= {!(currencyConfigJSON)};
		    
		    GS.layoutId = unescape("{!URLENCODE($CurrentPage.parameters.layoutid)}");
		    GS.isLayoutPreview 	= ('{!URLENCODE($CurrentPage.parameters.preview)}' !== '') ? true : false;
		   
		    GS.emailId =  GS.userConfig.emailId || "";
		    
		    GS.usageDataPageSize 	= parseInt('{!(UsageDataRecordLimit)}');
		    GS.generalPageSize = 500;
		    GS.scmuPageSize = {!ScorecardLimit};
		    GS.useSparkLinesforAdoption = true;
		    GS.isInstanceSearchEnable = {!(isInstanceSearchEnable)};
		    GS.customerSearchType   = '{!(customerSerchType)}';
		    GS.isScorecardEnabled		= {!(isScorecardEnabled)};
		    
		    require.config({
				baseUrl : "",
					paths : {
					'framework': "{!JSENCODE(URLFOR($Resource.GSApp,'js/Gainsight'))}",
					//'framework': "https://localhost/ReleaseUI/GSApp/js/Gainsight",
					'vendor' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor'))}",
					'text' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/text'))}",  
					'async':"{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/async'))}"
					},
				config: {
					text: {
							useXhr: function(url, protocol, hostname, port) {
								return true;
							}
					}
				}
				//,urlArgs: "bust=" +  (new Date()).getDate()
				
			});
			
			var layoutView = null;
			var layoutHeaderView =  null;
				
			
		    j$(document).ready(function() {
		    
		    	require([
		    				"framework/views/managers/layout/LayoutView", 
		    				"framework/utils/jQueryProxy",
		    				"framework/views/managers/layout/LayoutHeaderView",
		    				"framework/utils/Utils"
		    			], function(LayoutView, jQ, LayoutHeaderView, Utils){
						
							layoutHeaderView = new LayoutHeaderView({
									el:jQ(".layoutHeader"),
									data:{
										name:GS.userConfig.userName,
										emailId:GS.emailId,
										layoutId:GS.layoutId,
										userId:GS.userConfig.userId,
										profilePhoto:GS.userConfig.profilePhoto,
										userDisplayName:GS.userConfig.userDisplayName
									}
							});
							 
	    					if(Utils.isValidSalesforceId(GS.layoutId) || GS.layoutId == ""){
	    				
								layoutHeaderView.on("LAYOUT_DATA_READY", fetchLayout, this);
								layoutHeaderView.on("NO_LAYOUTS_AVAILABLE", renderNoLayoutsMessage, this);
								
								layoutView =  new LayoutView({
									el:jQ(".layoutManager"),
									data:{
										mode:"READ_MODE",
										layoutWidth:jQ(".layoutManager").width() 
									}
								});	
								layoutView.on("INVALID_LAYOUT", invalidLayoutMsg, this);
								
							}else{
						
								layoutHeaderView.setInvalidLayoutMsg();
								jQ(".emptyLayoutMessage").show();
						
							}
							
						
		    	});
		    	
		    	function fetchLayout(evt)
		    	{
		    		var layoutId = evt.layoutId ? evt.layoutId : GS.layoutId;
			    		layoutView.fetchLayout(layoutId);
						layoutHeaderView.off("LAYOUT_DATA_READY", fetchLayout, this);					
		    	}
		    	
		    	function renderNoLayoutsMessage() {		    				    		
		    		layoutView.renderNoLayoutsMessage();		    		
		    	}
		    	
		    	function invalidLayoutMsg() {
		    		layoutHeaderView.setInvalidLayoutMsg();
		    	}
		    	
		    });
		        
</script>

<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/CS360/gsApps.css'))}"/>
<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/layout/layout_stylesheet.css'))}"/>
<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/gridster/jquery.gridster.css'))}"/>
<script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/gridster/jquery.gridster.js'))}"></script>
<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/reports/report-builder.css'))}"/>

<!--
<link rel="stylesheet" type="text/css" href="https://localhost:8080/UI/GSAppCSS/css/CS360/gsApps.css"/>
<link rel="stylesheet" type="text/css" href="https://localhost/SUI/GSAppCSS/css/layout/layout_stylesheet.css"/>

<link rel="stylesheet" type="text/css" href="//localhost/Gainsight-UI/GSApp/js/vendor/gridster/jquery.gridster.css"/>
<script src="//localhost/Gainsight-UI/GSApp/js/vendor/gridster/jquery.gridster.js" type="text/javascript"></script>
-->

<style>
	.tagsContainer{
		padding : 5px 0;		
	} 
	.tagsContainer .results-btn {
		display: inline-block;
	}
	.tagsContainer .editTags{
		float:right;
		display:inline-block;
	}	
	
	.tagsContainer .results-btn {
	    color: #FFFFFF;
	    cursor: pointer;	    
	    height: 25px;
	    line-height: 25px;
	    margin: 0 0 0 10px;
	    text-align: center;
	    width: 60px;
	}
	.tagsContainer .cancel-tags {
	    background-color: #B2B2B2;
	}
	.tagsContainer .apply-tags {
	    background-color: #92BA5A;
	}
	.tagsContainer .remove-tags {
	    background-color: #E02900;
	}
	.slick-cell.selected {
	    border-top: none !important;
	}
	.noSidebarCell, .sidebarCell .fixed {
		padding:0px;
	}
	 .gridster li {
		font-size: 12px;
		list-style: none;
		background-color: #FFF;
		margin: 0px;
		list-style: none;
	}

.ui-dialog .ui-dialog-content{ min-height:20px !important;}
.noSidebarCell, .sidebarCell .fixed{ pading:0px !important;}
		
		.slick-cell.selected {
		  background-color: #fff;
		  border-top:solid 1px #C0C0C0;
		}
		.slick-row.odd {
		  background: #fff;
		}

       .slick-cell.active {
		  border-color: #000;
		  border-style: solid;
		  border-bottom  : 1px solid #000 !important;
		  
		}
		
		li {
			background : none;
		}
	.gridster {
	    margin: 0 auto;
	    transition: opacity 0.6s ease 0s;
	}

	.ui-dialog{
		z-index:99999 !important;
	}
	
	.noSidebarCell, .sidebarCell .fixed {
	    padding: 0px !important;
	}
	
	
</style>
<apex:form ></apex:form>
<div class="layoutHeader"></div>
<div class="layoutManager homepage_layout" style="min-height:800px;"><div class="emptyLayoutMessage" style="display:none;">Invalid Layout Id!</div></div>

	<script>
    	var GSGA = {
			orgId: "{!$Organization.Id}",
			orgName: "{!$Organization.Name}",
			userName: "{!$User.FirstName}"+" "+"{!$User.LastName}"
		};
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
	</script>
	<script src="{!JSENCODE(URLFOR($Resource.CustomJS,'CustomJS/analyticsWrapper.js'))}"></script>
	<script>
		gainsightTrackEvents.pushPageViews('Gainsight Home');
	</script>
</apex:page>