<apex:page docType="html-5.0" sidebar="false" title="Integrations" Controller="JBCXM.NSRemoting" tabStyle="Administration__tab">
    
     <script src="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/jquery/jquery-1.10.2.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-migrate-1.2.1.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-UI-1.10/js/jquery.ui.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.jqGrid,'jqGridLatest/js/i18n/grid.locale-en.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.jqGrid,'jqGridLatest/js/jquery.jqGrid.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jqgrid.Custom.Utility.js'))}"></script>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__jqGrid, 'css/ui.jqgrid.css'))}"/>
    
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery, 'css/redmond/jquery-ui-1.8.11.custom.css'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/jquery.multiselect.filter.css'))}"/>

     <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__colorpicker,'colorPicker.css'))}"/>

    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />
    <script src="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" ></script> 
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor,'js/vendor/jquery/jquery-1.10.2.min.js'))}"/>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/jquery/jquery-UI-1.10/js/jquery.ui.min.js'))}"></script>
 
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__NS, 'NS/newStack/js/restclient/restClient.js'))}" />
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/multiple-select.css'))}"/>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiple.select.js'))}"></script>
    
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/multiple-select/jquery.multiselect.filter.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/underscore-min.js'))}"></script>
    
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/require.min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/underscore-min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/backbone-min.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/ui.tabs.paging.js'))}"></script>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor, 'js/vendor/date/moment.min.js'))}"></script>
	 
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/growl/jquery.growl.css'))}"/>
    <script src="{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/growl/jquery.growl.js'))}"></script>
    
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/CS360/gsApps.css'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'bootstrap/bootstrap.css'))}"/> 
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/dataintegration/dataintegration.css'))}"/>    <!--  --> 
    <link rel="stylesheet" type="text/css" href="{!JSENCODE(URLFOR($Resource.GSAppCSS, 'css/rules/rules-engine.css'))}"/>
    <!-- <link rel="stylesheet" type="text/css" href="https://localhost/C-UI/GSAppCSS/css/dataintegration/dataintegration.css"/> -->
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery, 'css/redmond/jquery-ui-1.8.11.custom.css'))}"/>
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/jquery.multiselect.filter.css'))}"/>
    
    <script type="text/javascript">
        var j$ = $.noConflict();
        window.jLatest = j$;
    </script>
    
    <script>
        
        var GS = GS || {};
            
            GS.userConfig = {
            	userLocale  : JSON.parse('{!(dateTimeFormatByLocaleNS)}'),
                userName    : "{!$User.FirstName}"+" "+"{!$User.LastName}", 
                userId      : "{!$User.Id}",
                emailId     : "{!$User.Email}"
            };
           
           GS.remotingEndPoint = "{!$RemoteAction.NSRemoting.integrationRequestBroker}";
           GS.remoting = "{!$RemoteAction.NSRemoting.apinsinvoke}";
           GS.sessionId = "{!NSSessionId}";
           GS.orgId = "{!$Organization.Id}";
           GS.dateFormatMap = JSON.parse('{!(dateTimeFormatByLocaleNS)}');
           
            require.config({
                baseUrl : "",
                    paths : {
                    'framework': "{!JSENCODE(URLFOR($Resource.GSApp,'js/Gainsight'))}",
                    //'framework': "https://localhost/C-UI/GSApp/js/Gainsight",
                    'vendor' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor'))}",
                    'text' : "{!JSENCODE(URLFOR($Resource.GSVendor,'js/vendor/text'))}"
                },
                config: {
                    text: {
                            useXhr: function(url, protocol, hostname, port) {
                                return true;
                            }
                    }
                },
                //urlArgs: "bust=" +  (new Date()).getTime()
                
            });
            
            /*var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
			var eventer = window[eventMethod];
			var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
			eventer(messageEvent, function (e) {
					GS.isGAAuthorized = messageEvent.data;
					if(typeof window.test == "function")
						test(e);
			}, false);*/
            
            
            j$(document).ready(function() {
                
                require([
                            "framework/views/integrations/IntegrationsListView",
                            "framework/utils/jQueryProxy"
                        ], function(IntegrationsListView, jQ){
                        
                        new IntegrationsListView({
                            el:jQ(".fluid")
                        });
                });
                
            });

    </script>
 
    <html>
        <body>
            <div class="workflow-wrapper">
                <div class="workflow-ctn">
                     <div class="content">
                      <div class="fluid">
                        <div class="listContainer"></div>
                        <div class="inte_container"></div>
                      </div>
                    </div>
                </div>
            </div>
         </body> 
    </html>
    
    <style>
        body {
                   font-size: 12px !important;
        }
        .layout_name .selectedLayout {
            height: 30px;
            overflow: hidden;
            width: 160px: break-word;
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            line-height: 21px !important;
            padding: 4px 20px 4px 4px;
            background: url({!URLFOR($Resource.GSAppCSS)}/images/orange/orange_arrow_down.png) no-repeat 97% 12px;
            z-index: 0;
            position: relative;
            cursor : pointer;
        }
        ul {
            list-style: none outside none;
        }
        #ga_step1, #ga_step2, #ga_step3, #ga_step44{
            display : none;
        }
        .ui-Blocker {
            position: absolute !important; 
            height: 100%; 
            width : 100% !important; 
            background-color: rgba(0, 0, 0, 0.1);
            z-index: 999999 !important;
            display: block;
        }
        
        .ui-Blocker .loadingImage {
            left: 0px !important;
            right: 0px !important;
            top: 0px !important;
            bottom: 0px !important;
            position: absolute !important;
            margin: auto !important;
            background-position-x: 0;
            padding-left: 44px;
            width: 250px;
        }
        #growls.default {
            bottom : 10px;
            top : auto;
        }
        .ui-widget-header {

    background-image: none !important;

    background-color: #FFFFFF;

    border-radius: 0px !important;

    border-right: none !important;

    border-color: #FFFFFF;

    color: #333;

}

.ui-jqgrid-hbox {

    padding-right: 0px !important;

}

.ui-jqgrid-hbox th, .ui-jqgrid-pager {

    /*background-color: #CFE4F7 !important;*/

    background-image: none !important;

}

.ui-jqgrid-labels th {

    background: #33A6E5 !important;

    color: #fff !important;

    font-weight: normal !important;

    font-size: 13px;

}
 .ui-jqgrid .ui-search-toolbar .ui-th-column {
    background: #fff !important;
    border-color: #e2e2e2 !important;
    color: #545557 !important;
    
   
}
 .ui-jqgrid .ui-jqgrid-hdiv{border: solid #ddd 0px !important;}
.ui-jqgrid .ui-jqgrid-bdiv, .ui-jqgrid .ui-jqgrid-hdiv {  background: #fff !important;}
.ui-jqgrid .ui-search-toolbar .ui-th-column input{ border: solid #ddd 1px !important; height: 20px !important; }
.ui-jqgrid .ui-jqgrid-pager {  border-top: 1px solid #CCCCCC !important; background: #fff !important; }

.ui-jqgrid .ui-widget-content {

    border: 1px solid #CCCCCC !important;

}

.ui-widget-content.ui-state-hover {

    background: none !important;

}

.ui-jqgrid .ui-corner-bottom {

    border-bottom-left-radius: 0px !important;

    border-bottom-right-radius: 0px !important;

}
.ui-jqgrid .ui-jqgrid-htable th{
	 height: 30px !important;
 }
    </style>
    
    <apex:form ></apex:form>
    
    <script>
    	var GSGA = {
			orgId: "{!$Organization.Id}",
			orgName: "{!$Organization.Name}",
			userName: "{!$User.FirstName}"+" "+"{!$User.LastName}"
		};
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
	</script>
	<script src="{!JSENCODE(URLFOR($Resource.CustomJS,'CustomJS/analyticsWrapper.js'))}"></script>
	<script>
		gainsightTrackEvents.pushPageViews('Integrations');
	</script>
    
</apex:page>