<apex:page Controller="JBCXM.OpportunityMap"  sidebar="false" title="Opportunity Connector Settings"  tabStyle="Administration__tab">
  <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-1.5.2.min.js'))}"/>
   	<style>
   		.jbaraOppFieldsList{
   			min-width:200px !important;
   		}
   		#jbaraDummyOpportunityDateInput{
   			position:relative;
   		}
   	</style>
	<script type="text/javascript">
		var j$ = jQuery.noConflict();
		var prevOpprtColListStr = '';
		var newArrSelectedItems;
		var initialSelectedField ;
		j$(document).ready(function() {
	     	actionLoadOppConnectorFieldRulesSettings();	   
	     	var opprtSecColList = "{!(opportunityConnectorSelectedFields)}";  		     	
  	 
	     	var selectedItems = j$('.jbaraOppFieldsSelectedList').val();
	     	newArrSelectedItems = new Array();
	     	if(selectedItems !=null){
	     		newArrSelectedItems = selectedItems;
	     	}
	     	
	     	var dummyArray = new Array();
	     	//First remove the unselected items in the selected list 
	     	j$(".jbaraOppFieldsSelectedList option").each(function() {
	     		selectedItems = j$(this).attr("selected");
	     		if(!selectedItems){
	     			j$(this).remove();
	     		}
	     		else {
	     			dummyArray[j$(this).val()] = j$(this).text();
	     		}
		   	});
		   	
		   	if(opprtSecColList !='[]'){
	     		opprtSecColList = j$.trim(opprtSecColList).substr(1, opprtSecColList.length-2);
	     		opprtSecColList  = opprtSecColList.split(",");	     	
	     	
		     	var optionsHTML = '';
		     	prevOpprtColListStr = '';
		     	for(var k = 0; k < opprtSecColList.length; k++) {
					optionsHTML += '<option value="'+j$.trim(opprtSecColList[k])+'">'+dummyArray[j$.trim(opprtSecColList[k])]+'</option>'; 
					prevOpprtColListStr += (k == opprtSecColList.length-1) ? ''+j$.trim(opprtSecColList[k])+'' : ''+j$.trim(opprtSecColList[k])+',';
		     	}
	     	
	     	}
		   	j$(".jbaraOppFieldsSelectedList option").remove();
		   	j$(".jbaraOppFieldsSelectedList").append(optionsHTML);
		   	//Remove the attr selected because the user gets confused. 
		   	j$(".jbaraOppFieldsSelectedList option").each(function() {
	     		j$(this).removeAttr("selected");
		   	});
		   	
		   	//Remove the selected items from the unselected list.
		  	for(var i = 0 ; i < newArrSelectedItems.length ;i++ ){
		   		j$(".jbaraOppFieldsUnSelectedList option[value='"+newArrSelectedItems[i]+"']").remove();
		   	}
	     	
	     	//Move right to left or left to right in the multiselect boxes. 
	     	j$('.rightArrowIcon').click(function() {  
				return !j$('.jbaraOppFieldsUnSelectedList option:selected').remove().appendTo('.jbaraOppFieldsSelectedList');  
			});  
			j$('.leftArrowIcon').click(function() { 
				return !j$('.jbaraOppFieldsSelectedList option:selected').remove().appendTo('.jbaraOppFieldsUnSelectedList');  
			});
			
			// This is for only for the sake our testing team not to display alert for the first time. 			 
			initialSelectedField = "{!(opportunityConnectorSelectedFields)}"	     	
		});
		
		function cancelClick(){
		  	window.top.location.href='/apex/Administration?sfdc.tabName={!($CurrentPage.parameters.tabId)}#Administration-Opportunity';	  
	    }
	    
	    function showOverLayForm(){
			var overLayHeight = j$(document).height();
            var overLayWidth = j$(window).width()
            j$(".jbaraDummyOverLayForm").css({
                   'z-index':'700009',
                   'left':'0px',
                   'top':'0px',
                   'width':overLayWidth,
                   'height':overLayHeight

            }).show();
		}
		
		function jbaraOpportunityDateInputControl(id) {
               j$("#datePicker").css({
                   'z-index': '15001'
               });
               DatePicker.pickDate(true, id, false);
	    }
	    
	    
    </script>
     <apex:outputPanel id="rulesConnectorJSPanel">
      <script type="text/javascript">
	       function afterOppConnectorFieldRules(){
		    	j$("#jBaraRulesConnectorform").show();
		    	j$(".jbaraDummyOpportunityDateInput").val('{!(oppSettCloseDate)}');
		    }
		    function afterOppRulesSettSaveClick(){	   
		    	if({!(oppRulesSettingsValid)}){
		       		window.top.location.href='/apex/Administration?sfdc.tabName={!($CurrentPage.parameters.tabId)}#Administration-Opportunity';	  
		     	}
		    	else {
		      		hideOverLayForm();
		       }
			}
			
			function hideOverLayForm(){
				 j$(".jbaraDummyOverLayForm").hide();
			}
		    
		  	function saveOppRulesSetttingsClick(){
		  		j$(".jbaraOppFieldsSelectedList option").each(function() {
		     		j$(this).attr("selected","selected");
			   	});
		 		if(prevOpprtColListStr == j$.trim(j$('.jbaraOppFieldsSelectedList').val())) {
		 			actionSaveOppRulesSettings();
		 		}
		 		else {
		 			if(j$('.jbaraOppFieldsSelectedList option').length>0 ){
		 				if(initialSelectedField != '[]'){
				 			if(confirm("Modifying Opportunity connector settings will reset Opportunity Booking Types Rules and should be reconfigured.\n Do you want to continue?.")) {
				 				j$(".jbaraEmptyBookingTypes").val("true");
				 				actionSaveOppRulesSettings();			 				
				 			}else{
				 				hideOverLayForm();
				 			}
			 			}else{
			 				actionSaveOppRulesSettings();
			 				hideOverLayForm();
			 			}
		 			}else{
		 				actionSaveOppRulesSettings();
		 				hideOverLayForm();
		 			}
		 		}
		 		
		    }
	   </script>
     </apex:outputPanel>
    <apex:sectionHeader title="Opportunity Connector Settings"/>	
    <a href="/apex/Administration?sfdc.tabName={!($CurrentPage.parameters.tabId)}#Administration-Opportunity" style="text-decoration:none;">&nbsp;«&nbsp;Back</a>
 	<apex:form > 
 	<apex:actionFunction name="actionLoadOppConnectorFieldRulesSettings" action="{!loadOppConnectorFieldRulesSettingsPage}" reRender="rulesConnectorJSPanel" oncomplete="return afterOppConnectorFieldRules()">
 		</apex:actionFunction>
 	
 	<apex:actionFunction name="actionSaveOppRulesSettings" action="{!saveOppRulesAppSettings}" reRender="jbaraOppConnectorLabelErrorMessages,rulesConnectorJSPanel" oncomplete="return afterOppRulesSettSaveClick()"/>
 	
 	 <apex:pageBlock mode="edit">
	        <apex:pageBlockButtons location="top" style="padding-left:250px;">
	        	<input type="button" value="Save" class="btn btnSaveClick" onClick="showOverLayForm();saveOppRulesSetttingsClick();"/>&nbsp;
	        	<input type="button" value="Cancel" class="btn btnCancelClick" onClick="showOverLayForm();cancelClick();"/>&nbsp;
	        </apex:pageBlockButtons>
 		 <apex:pageMessages id="jbaraOppConnectorLabelErrorMessages" />
 		  <span Id="jBaraOppConnectorValidationsContainer"></span> 
		 <div style="text-align:right;">
		<span class="pbSubExtra">
				<span class="requiredLegend">
					<span class="requiredExampleOuter">
						<span class="requiredExample">&nbsp;</span>
					</span>
					<span class="requiredMark">*</span>
					<span class="requiredText"> = Required Information</span>
				</span>
			</span>	
		</div>	
		<div id="jBaraRulesConnectorform" align="center" style="display:none;">
		 <apex:outputPanel id="rulesConnectorform">
		
			 <table class="rounded-corner" width="50%">
				<tbody>
					<tr class="oppConnectorSettingsCls">
						<td valign="top">
							<b>Opportunity Close Date</b>
						</td>
						<td valign="top">
							 <apex:outputPanel styleClass="requiredInput" layout="block">
								<apex:outputPanel styleClass="requiredBlock" layout="block" />
							 		<apex:inputText value="{!oppSettCloseDate}" size="12" maxlength="10" id="jbaraDummyOpportunityDateInput"
			                                  onfocus="jbaraOpportunityDateInputControl('{!$Component.jbaraDummyOpportunityDateInput}')" />
								</apex:outputPanel>		
						</td>
					</tr>
					<tr class="oppConnectorSettingsCls">
						<td width="30%" valign="top">
							<b>Opportunity Rules Field</b>
						</td>
						<td width="30%" valign="top">
							<div style="padding-left:5px;"><b>Available Fields</b></div>
							<apex:selectList size="15" multiselect="true" StyleClass="jbaraOppFieldsList jbaraOppFieldsUnSelectedList" >
								<apex:selectOptions value="{!OpportunityFieldWithRecordType}"/>
							</apex:selectList>
						</td>
						<td width="10%" valign="middle" class="zen-phs buttonCell">
						    <div class="text">Add</div>
						        <div class="zen-mbs text">
						            <a id="colselector_select_0_right">
						                <img title="Add" class="rightArrowIcon" alt="Add" src="/s.gif"/>
						            </a>
						        </div>
					        	<div class="text">
						            <a id="colselector_select_0_left">
						                <img title="Remove" class="leftArrowIcon" alt="Remove" src="/s.gif"/>
					                </a>
						        </div>
				        	<div class="duelingText">Remove</div>
					    </td>
						<td width="30%" valign="top">
							<div style="padding-left:5px;"><b>Selected Fields</b></div>
							 <apex:outputPanel styleClass="requiredInput" layout="block">
								<apex:outputPanel styleClass="requiredBlock" layout="block" />
									<apex:selectList size="15" value="{!opportunityConnectorSelectedFields}" multiselect="true" StyleClass="jbaraOppFieldsList jbaraOppFieldsSelectedList" >
										<apex:selectOptions value="{!OpportunityFieldWithRecordType}"/>
									</apex:selectList>
								</apex:outputPanel>		
						</td>
					</tr>
				</tbody>
			</table>
		
		<apex:inputText value="{!emptyBookingTypeInOppFldMap}"	style="display: none;" styleClass="jbaraEmptyBookingTypes" />
			
		</apex:outputPanel>	
	</div>		
     <apex:pageBlockButtons location="bottom" style="padding-left:250px;">
	        	<input type="button" value="Save" class="btn btnSaveClick" onClick="showOverLayForm();saveOppRulesSetttingsClick();"/>&nbsp;
	        	<input type="button" value="Cancel" class="btn btnCancelClick" onClick="showOverLayForm();cancelClick();"/>&nbsp;
	      </apex:pageBlockButtons>
 	 </apex:pageBlock>
 	</apex:form>
 	
 	    <div class="overlayBackground jbaraDummyOverLayForm" style="position: absolute; display: none;"></div>
 	
</apex:page>