<apex:component controller="TIMBASURVEYS.timbaSurveysBreadCrumbController" >
<apex:attribute name="steps" description="StepString" type="String" required="true" assignTo="{!stepString}"/>

<div id="breadCrumb">
	<ul> 
	<apex:repeat value="{!StepList}" var="step">
		<!-- First Step -->
		<apex:outPutPanel rendered="{!step.styleClass=='step first'}" layout="none">
			<li class="{!step.styleClass}">
				<a class="first" href="{!step.link}">{!step.Name}</a>
			</li>
		</apex:outPutPanel>
		<!-- Step -->
		<apex:outPutPanel rendered="{!step.styleClass=='step'}" layout="none">
			<li class="stepDivider">&nbsp;</li>
			<li class="{!step.styleClass}">
				<a href="{!step.link}">{!step.Name}</a>
			</li>
		</apex:outPutPanel>
		<!-- Acctual Step -->
		<apex:outPutPanel rendered="{!step.styleClass=='acctual'}" layout="none">
			<li class="{!step.styleClass}">
				<span class="acctual">{!step.Name}</span>
			</li>
		</apex:outPutPanel>
	</apex:repeat>
	</ul>
	<!-- Reneder Close Button if there is an Actual Step -->
	<apex:outPutPanel rendered="{!StepList.size>1}" layout="none">
		<a href="{!PreviousStep}" class="close">Close</a>
	</apex:outPutPanel>
</div>
</apex:component>