<apex:page >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"> </script>
    <script src="https://online.qas.com/SalesForceV3/Scripts/system.js"> </script>
    <script src="https://online.qas.com/SalesForceV3/Scripts/xd.js"> </script>
    
    <script>
        var xd = QASNA.typedown.XD;
        
        var xdReceiver = xd.createReceiver();
        xdReceiver.receiveMessage();
    </script>
</apex:page>