<apex:page standardController="Idea">
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page
  <!-- End Default Content REMOVE THIS -->
  
  <apex:relatedList list="Clients_For_Idea" />
</apex:page>