<apex:component controller="Five9.Five9SettingsController" access="global" >
    <head>
        <style>
            html {
                overflow: hidden;
            }
            body {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                overflow: hidden;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 75%;
                }
        </style>
    </head>
    <body>    
        <apex:outputText rendered="{!NOT(ISNULL(codebase))}">
        <iframe scrollbar="no" src="{!codebase}/bridge_acd_status.html" frameborder="0" border="0" cellspacing="0" width="100%" height="190"></iframe>
        </apex:outputText>
        <apex:outputText rendered="{!ISNULL(codebase)}">
            Five9 ACD Status is not available because "Voicemail URL Base" is not set. Please, contact an administrator. 
        </apex:outputText>
    </body>
</apex:component>