<!-- Copyright (c) 2011 JBara Software, Inc. 
----- Purpose: Displays summary of a customer.
----- Other comments (optional): 
-->
<apex:component id="Case360Component"> 
    
    <apex:attribute description="Account Attibutes" name="customerId" type="String"></apex:attribute>  
    
    
      
</apex:component>