<apex:component Controller="JBCXM.Milestone" allowDML="true">
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-1.5.2.min.js'))}"/>	
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'miscscripts/jquery.limit-1.2.source.js'))}"/>

	<apex:attribute assignTo="{!headerText}" description="Header text" name="headerText" type="String" ></apex:attribute>
	<apex:attribute assignTo="{!pastMilestoneCustomerId}" description="Customer id" name="customerId" type="String"  required="true"></apex:attribute>
	<apex:attribute assignTo="{!milestoneId}" description="milestone Id" name="milestoneId" type="String"></apex:attribute>
	
	<apex:attribute assignTo="{!callBackAfterSave}" description="Callback function  after save" name="callBackAfterSave" type="String"></apex:attribute>
	<apex:attribute assignTo="{!callBackAfterCancel}" description="Callback function after cancel" name="callBackAfterCancel" type="String"></apex:attribute>
	<apex:attribute assignTo="{!isDraggable}" description="Can form be dragged" name="isDraggable" type="Boolean"></apex:attribute>
	
	<script type="text/javascript" >
	
		 var j$ = jQuery.noConflict();
         j$(function() {
         	initialize();          	
         });
       
        //Adds z-index on mouseover on help text in overlay form.
        function setHelpZindex() {
            j$(".helpText").css({'z-index': '5001'});
        }
        
        function disableBtn(obj) {
            j$(obj).attr("disabled", true);
            j$(obj).removeClass("btn").addClass("btnDisabled");
        }
        
		function jbaraMilestoneDateInputControl(id) {
	       j$("#datePicker").css({
	           'z-index': '5001'
	       });
	       DatePicker.pickDate(true, id, false);
	    }
	    
	     function onCustomerChange(custName,custId){
			j$(".theHiddenCustomerId").val(custId);
		}
		
	 </script>
	 <apex:outputPanel id="milestoneComponetJsPanel">
	       <script type="text/javascript" >
	        function jbaraAfterMilestoneSaveClick(){
	        	j$(".dummyAllMilestoneSaveBtn").removeAttr("disabled");
                j$(".dummyAllMilestoneSaveBtn").removeClass("btnDisabled").addClass("btn");
	        	if ({!milestoneValid}) {
	        		{!callBackAfterSave}();
	        		j$("#jbaraDummymilestoneDateInput").val("");
                	j$(".jbaraDummyMilestoneInputCtrl").val("");
                	j$(".jbaraDummyMilestoneNameSelectCtrl").val("0");
	        	}	        	
	        }
	        function jbaraCloseMilestoneCancelClick(){
	        	{!callBackAfterCancel}();
	        }
	        function renderMilestoneCompForm(){
	        	if('{!isMilestoneAssociatedToOpportunity}' == "true") {
	        		j$("#trOpportunityRow").show();
	        	}
	        }
	        
	        
            </script>
     </apex:outputPanel> 
     
	 <apex:actionFunction name="initialize" action="{!initialize}" reRender="milestoneComponetJsPanel,milestoneMainPanel" oncomplete="renderMilestoneCompForm();" />
	 <!-- Admin Transaction Line Items Form Container Starts Here-->
	  <apex:outputPanel id="milestoneMainPanel">
         <apex:outputPanel id="panelNewMilestoneForm">
				<div class="inlineOverlayDialog jbaraDummyMilestoneInputForm bPageBlock"
	            style="position: absolute; min-width: 800px; min-height: 300px; max-width: 800px; max-height: 800px; border: 1px solid #A6C9E2 !important;">
	                <div class="topRight headerRow">
	                    <div class="topLeft">
	                        <img src="/s.gif" class="dialogClose" onclick="jbaraCloseMilestoneCancelClick()"
	                        onmouseout="this.className = 'dialogClose'" onmouseover="this.className = 'dialogCloseOn'"
	                        id="InlineEditDialogX" />
	                        <h2 id="MilestoneInlineEditDialogTitle">
	                            {!headerText}
	                        </h2>
	                        <span class="pbSubExtra" style='float: right; margin-right: 10px'>
	                            <span class="requiredLegend">
	                                <span class="requiredExampleOuter">
	                                    <span class="requiredExample">
	                                        &nbsp;
	                                    </span>
	                                </span>
	                                <span class="requiredMark">
	                                    *
	                                </span>
	                                <span class="requiredText">
	                                    = Required Information
	                                </span>
	                            </span>
	                        </span>
	                    </div>
	                </div>
         	 
                <div class="middle" style="min-width: 680px; min-height: 280px;">
                    <div id="InlineEditDialogContent" class="innerContent">
                        <div class="activeField">
                            <div class="inlineEditCompoundDiv">
                                <apex:pageMessages id="jbaraAdminMilestoneErrorMessages" />
                                <table class="rounded-corner" width="100%"> 
                                    <tbody>
                                    	<tr>
                                            <td class="header" width="27%" valign="top" style="padding-top:3px !important;">
                                                Customer:
                                                <apex:outputPanel rendered="{!$ObjectType.JBCXM__CustomerInfo__c.Fields.JBCXM__Account__c.inlineHelpText !=''}">
                                                    <span id="Account-_help" class="helpButton" onmouseover="setTimeout('setHelpZindex()',20)">
                                                        <img style="vertical-align: middle;" title="" class="helpOrb" alt="" src="/s.gif"
                                                        />
                                                        <script type="text/javascript" >

                                                            sfdcPage.setHelp('Account', '{!JSENCODE($ObjectType.CustomerInfo__c.Fields.Account__c.inlineHelpText)}');
                                                        </script>
                                                    </span>
                                                </apex:outputPanel>
                                            </td>
                                            <td class="header" colspan='3' style="padding: 0px 3px 0px 0px !important" width="73%">

                                                <c:CustomerLookup customerStatus="ActiveCustomer,InactiveCustomer" customerId="{!milestoneCustomerId}" requiredIndicator="true"
                                                        customerName="{!customerName}"  callBackFunctionName="onCustomerChange" isDisabled="{!disableMilestoneCustLookup}">
                                                </c:CustomerLookup>
                                                <apex:inputText value="{!milestoneCustomerId}" Styleclass="theHiddenCustomerId" style="display:none" />
                                            
                                            </td>
                                        </tr>
                                        
                                         
                                         <tr id="trOpportunityRow" style="display:none;">
                                             <td class="header" width="25%">
                                                 Opportunity:
                                                 <apex:outputPanel rendered="{!$ObjectType.JBCXM__Milestone__c.Fields.JBCXM__Opportunity__c.inlineHelpText != null}">
                                                   <span id="Milestone-_help" class="helpButton" onmouseover="setTimeout('setHelpZindex()',20)">
                                                       <img style="vertical-align: middle;" title="" class="helpOrb" alt="" src="/s.gif"
                                                       />
                                                       <script type="text/javascript" >
                                                            sfdcPage.setHelp('Milestone', '{!$ObjectType.Milestone__c.Fields.Opportunity__c.inlineHelpText}');
                                                       </script>
                                                   </span>
                                                 </apex:outputPanel>
                                             </td>
                                             <td width="25%">
                                                     <apex:selectList value="{!milestoneOpportunityId}" multiselect="false" size="1" StyleClass="jbaraDummyMilestoneNameSelectCtrl" >
                                                            <apex:selectOptions value="{!OpportunityList}" />
                                                     </apex:selectList>
                                             </td>
                                        </tr>
                                        
                                        <tr>
                                             <td class="header" width="25%">
                                                 Milestone:
                                                 <apex:outputPanel rendered="{!$ObjectType.JBCXM__Milestone__c.Fields.JBCXM__Milestone__c.inlineHelpText != null}">
                                                   <span id="Milestone-_help" class="helpButton" onmouseover="setTimeout('setHelpZindex()',20)">
                                                       <img style="vertical-align: middle;" title="" class="helpOrb" alt="" src="/s.gif"
                                                       />
                                                       <script type="text/javascript" >
                                                            sfdcPage.setHelp('Milestone', '{!$ObjectType.Milestone__c.Fields.Milestone__c.inlineHelpText}');
                                                       </script>
                                                   </span>
                                                 </apex:outputPanel>
                                             </td>
                                             <td width="25%">
                                                  <apex:outputPanel styleClass="requiredInput" layout="block">
                                                        <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                                        <apex:selectList value="{!milestoneName}" multiselect="false" size="1" StyleClass="jbaraDummyMilestoneNameSelectCtrl" >
                                                            <apex:selectOptions value="{!MilestonePicklist}" />
                                                        </apex:selectList>
                                                   </apex:outputPanel>
                                             </td>
                                        </tr>
                                        
                                    	<tr>
	                                    	<td class="header" width="25%">
	                                            Date:
	                                             <apex:outputPanel rendered="{!$ObjectType.JBCXM__Milestone__c.Fields.JBCXM__Date__c.inlineHelpText != null}">
                                                   <span id="MilestoneDate-_help" class="helpButton" onmouseover="setTimeout('setHelpZindex()',20)">
                                                       <img style="vertical-align: middle;" title="" class="helpOrb" alt="" src="/s.gif"
                                                       />
                                                       <script type="text/javascript" >
                                                            sfdcPage.setHelp('MilestoneDate', '{!$ObjectType.Milestone__c.Fields.Date__c.inlineHelpText}');
                                                       </script>
                                                   </span>
                                                 </apex:outputPanel>
	                                        </td>
	                                        <td width="25%">
                                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                                    <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                                    <apex:inputText value="{!milestoneDate}" maxlength="10" id="jbaraDummymilestoneDateInput"
                                                    onfocus="jbaraMilestoneDateInputControl('{!$Component.jbaraDummyMilestoneDateInput}')">
                                                    </apex:inputText>
                                                </apex:outputPanel>
                                            </td> 
                                        </tr>                                     
                                        
                                        <tr>
                                            <td class="header" style="min-width: 80px">
                                                Comments:
                                                <apex:outputPanel rendered="{!$ObjectType.JBCXM__Milestone__c.Fields.JBCXM__Comment__c.inlineHelpText != null}">
                                                    <span id="Comment-_help" class="helpButton" onmouseover="setTimeout('setHelpZindex()',20)">
                                                        <img style="vertical-align: middle;" title="" class="helpOrb" alt="" src="/s.gif"
                                                        />
                                                        <script type="text/javascript" >
                                                            sfdcPage.setHelp('Comment', '{!$ObjectType.Milestone__c.Fields.Comment__c.inlineHelpText}');
                                                        </script>
                                                    </span>
                                                </apex:outputPanel>
                                            </td>
                                            <td colspan="3">
                                                <apex:inputTextarea cols="100" rows="3" value="{!milestoneComment}" StyleClass="jbaraDummyMilestoneInputCtrl jbaraDummyMilestoneCommentInputCtrl"
                                                />
                                                <div align="right">
                                                    <span id="charsLeftCommentMilestone">0
                                                    </span>
                                                    characters left.
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div style="display: none;">
                        </div>
                        <div class="buttons" id="InlineEditDialog_buttons">
                            <input type="button" onclick="disableBtn(this);actionSaveMilestone()" value="Save"
                            class="btn dummyAllMilestoneSaveBtn"/>
                            <input type="button" onclick="jbaraCloseMilestoneCancelClick()" value="Cancel"
                            class="btn"/>
                            <apex:actionFunction name="actionSaveMilestone" action="{!saveMilestone}" reRender="jbaraAdminMilestoneErrorMessages,milestoneComponetJsPanel"
                            oncomplete="return jbaraAfterMilestoneSaveClick();" />
                        </div>
                    </div>
                </div>
              <div class="bottomRight">
                    <div class="bottomLeft">
                    </div>
                </div>
            </div>
			<script type="text/javascript" >
                j$('textarea.jbaraDummyMilestoneCommentInputCtrl').limit('4096', '#charsLeftCommentMilestone');
	       </script>           	
        </apex:outputPanel>
        <!-- Admin Transaction Line Items Form Container Ends Here-->
        
	  </apex:outputPanel>
</apex:component>