<apex:component Controller="JBCXM.SurveyDistribution"  >
	<!--<apex:attribute assignTo="{!surveyId}"
		description="Survey to display the participant list and performing distribution operation"
		name="surveyId" type="String" />
	<apex:attribute assignTo="{!surveyTitle}" description="Survey Name"
		name="surveyName" type="String" />
	<apex:attribute assignTo="{!surveyStatus}" description="Survey Status"
		name="surveyStatus" type="String" />
	<apex:attribute assignTo="{!surveyInternalSubmit}"
		description="Survey Internal Submit" name="surveyInternalSubmit"
		type="Boolean" />
	<apex:attribute assignTo="{!surveyPublishedUrl}"
		description="survey Published Url" name="surveyPublishedUrl"
		type="String" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.SurveyJquery,'js/jquery-1.7.1.min.js'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.SurveyJquery,'js/jquery-ui-1.8.18.custom.min.js'))}" />

	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.jqGrid,'js/i18n/grid.locale-en.js'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jquery.jqGrid.min.js'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.jqGrid,'js/jqgrid.Custom.Utility.js'))}" />

	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.SurveyUtil,'SurveyUtil.js'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.jqGrid, 'css/ui.jqgrid.css'))}" />
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.SurveyJquery, 'css/redmond/jquery-ui-1.8.18.custom.css'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.CustomJS, 'CustomJS/date.format.js'))}" />



	<style type="text/css">
.surveyParticipantResponsePreview {
	background: url("/img/icon/contracts16.png") no-repeat;
	background-position: center;
	padding: 10px;
	cursor: pointer;
}
	.distributionFromAddress, .distStatusLabel{
	    display: none;
	}
	.distributionFromAddress{
		max-width:280px;
	}

.surveyParticipantResponseSubmit {
	background: url("/img/icon/form16.png") no-repeat;
	background-position: center;
	padding: 10px;
	cursor: pointer;
}

.surveyMailTo { /*/img/icon/mail16.png*/
	background: url("/img/func_icons/util/mailCloseEnv16.gif") no-repeat;
	background-position: center;
	padding: 10px;
	cursor: pointer;
}

a.surveyParticipantResponsePreviewLInk {
	text-decoration: none;
}

span.distStatusLabel {
	font-weight: bold;
}

select {
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 5px #cfcfcf inset;
	border: 1px solid #cfcfcf;
	vertical-align: middle;
	background-color: #FFFFFF;
}

option:hover {
	cursor: pointer;
}

tr.SurveyDistributionStatistics td {
	text-align: center;
	padding: 4px 15px 4px 15px;
	background-color: #FFFFFF;
	border-top: 1px solid #A6C9E2;
	border-bottom: 1px solid #A6C9E2;
	font-weight: bold
}

tr.NotContactedSurveyDistributionStatistics td {
	text-align: center;
	padding: 2px 7.5px 2px 7.5px;
	background-color: #FFFFFF;
	border-top: 1px solid #A6C9E2;
	border-bottom: 1px solid #A6C9E2;
	font-weight: bold
}

tr.SurveyDistributionStatisticsLabels {
	font-weight: bold;
}

span.analyticsSym {
	color: #A6C9E2;
	font-size: 30px;
}

span.notContactAnalyticsSym {
	color: #A6C9E2;
	font-size: 25px;
}

span.analyticsValues {
	font-size: 22px;
}

span.notContactAnalyticsValues {
	font-size: 18px;
}

span.analyticsText {
	border-top: 1px solid #A6C9E2;
	line-height: 20px;
}

span.notContactAnalyticsText {
	border-top: 1px solid #A6C9E2;
	line-height: 17px;
}

div.participantStatusCls:hover {
	background-color: #F8F8F8;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 5px #CFCFCF inset;
	vertical-align: middle;
}

div.participantStatusCls {
	cursor: pointer;
}

.ui-jqgrid tr.ui-row-ltr td {
	overflow: hidden;
}
</style>

	<script type="text/javascript">
        var j$ = jQuery.noConflict();
        j$.jgrid.no_legacy_api = true;
        j$.jgrid.useJSON = true;    
        var distributionListBySurvey;
        var participantsListBySurvey;
        var selSurveyId, selSurveyStatus, selParticipantStatus, selSurveyDistStatistics;
        var selectedParticipantsCnt;
        var surveyInternalSubmit;
        var surveyPreviewTitle;
        var surveyViewColumnModel,  surveyViewGridLabels;
        var surveyUIViewColumnsStr;
        var surveyDistributionGridId;
        var surveyPublishedUrl;
        var blnSendEmailClicked;
        var blnDeletedClicked;
        var viewSortableColumnList;
        var uiViewExists = false;
        var participantHasAtleastOneLinkedToContacts=false;
        var enableViewScheduleBtn=false;
        var reloadGrid=true;
        //Advance Search
        var isAnonymousSurvey;
        var anonymousSurveyType;
        var refreshAdvanceSearchPanel=true;
        var userLocaleDateFormatMap,jqGridDateFormat,jqGridDateTimeFormat,alertDataByCustomer;
        userLocaleDateFormatMap =eval({!(userLocaleDateFormatMap)});
		jqGridDateFormat 		=JBARAjqGridDateFormat(userLocaleDateFormatMap);
		jqGridDateTimeFormat 	=JBARAjqGridDateTimeFormat(userLocaleDateFormatMap);
		statePreservStringSD		= eval({!(userStateDetailsJsonSD)});
		statePreservStringSD.ServerSideFilters__c = j$.parseJSON(statePreservStringSD.ServerSideFilters__c);
		isSameUserSessionExists		= '{!(isSameUserSessionSD)}';
		var isPackagedVersion = "{!(isPkgInstance)}"; //Clienside
		var isExternalServicesEnalbed = {!externalServicesEnabled};
		//To handle the currency symbol.
		var currencyConfigObject = eval({!(currencyConfigJSON)});
			
		function hideOverLayForm(){
			 j$(".jbaraDummyOverLayForm").hide();
			 
		 }
		 
		 function showOverLayForm(){
		 	
			j$(".jbaraDummyOverLayForm").css({
                   'z-index':'700009',
                   'left':'0px',
                   'top':'0px',
                   'width':'100%',
                   'height':'100%'

            }).show();
		}
		// To save values into user state object				
		var actionTimer;
		function processEntireState() {
			clearTimeout(actionTimer);
			statePreservStringSD.Name = 'SurveyDistribution';
			statePreservStringSD.ClientSideFilter__c = JSON.stringify({});
		 	statePreservStringSD.SortColumns__c = (statePreservStringSD.SortColumns__c) ? ((typeof statePreservStringSD.SortColumns__c == "string") ? statePreservStringSD.SortColumns__c : JSON.stringify(statePreservStringSD.SortColumns__c)) :  JSON.stringify({});
		 	statePreservStringSD.ServerSideFilters__c = (statePreservStringSD.ServerSideFilters__c) ? ((typeof statePreservStringSD.ServerSideFilters__c == "string") ? statePreservStringSD.ServerSideFilters__c : JSON.stringify(statePreservStringSD.ServerSideFilters__c)) :  JSON.stringify({});
		 	actionTimer = setTimeout(function() {
		 		var dmyStr = (isPackagedVersion == "true") ? JSON.stringify(pushStatePreservationJbaraNameSpace(statePreservStringSD)) : JSON.stringify(statePreservStringSD);
		 		var dmlFrame = document.getElementById("childDMLOperationIframe");
				dmlFrame.contentWindow.loadUserStateByTab(dmyStr, "{!(sdUserSessionIdStr)}", "SurveyDistribution");
			}, 2000);
		}
		/***
		*This function reset the State preservation string and page redirect based on the tab selection.
		*/
		function redirectPageByTabSelection(latestUsrStateJSON, latestUsrSessionFlag) {
					statePreservStringSD = latestUsrStateJSON;
					isSameUserSessionExists = latestUsrSessionFlag;
		}
		/**
        *function to get date format based on the salesforce user local.
        */
        function getDateByUserLocal(dateAsInput) {
        	var  userLocalDateFormat         = "m/d/yyyy";
            return dateFormat(new Date(dateAsInput), userLocalDateFormat);
        }
        
        function setGridWrapping() {
            if (j$("#chkWrapText").is(":checked")) {
                j$(".ui-jqgrid tr.ui-row-ltr td").css({
                    "overflow": "hidden",
                    "white-space": "pre-line"
                });
            } else {
                j$(".ui-jqgrid tr.ui-row-ltr td").css({
                    "overflow": "hidden",
                    "white-space": "nowrap"
                });
            }
       }
        /**
		*Javascript Object to store the survey paricipant details properties.
		*/ 
		function SurveyParticipantPropertiesClass(data) {
			this.Id									= data.Id
		    this.Customer_link          			= data.Customer_link;
		    this.Participant			         	= data.Participant;
		    this.Email                 				= data.Email;
		    this.Role					        	= data.Role;
		    this.Distribution_status        	    = data.Distribution_status;
		    this.Distribution_time                	= data.Distribution_time;
		    this.Last_activity                		= data.Last_activity;
		    this.Last_activity_time                 = data.Last_activity_time;
		    this.User_response_preview              = data.User_response_preview;
		    this.comment				            = data.comment;
		    this.mailToLink				            = data.mailToLink;
		    this.participantUrl			            = data.participantUrl;
		}
		
		var surveyParticipantPropertiesObjList, surveyParticipantPropertiesObj;
		var distStatus, lastActivity, lastActivityTime, cust_link, accName;
		var participantToken ='';
		var surveyRespCls='';
		var userResponseView; 
		var participant_link;
		var participantlookupId;
		var linkEmail;
		var externalObjectLookupFieldName;
		/**
		*This function returns the survey paricipant details list.
		*/
		var surveyRespondedByInternal;  
		function getSurveyParticipantDetailsData(rawData, participantStatus) {
			if(participantStatus == 'All' && isAnonymousSurvey == "true"){
				rawData= j$.grep(rawData, function(dt) {
			    	return (dt.AnonymousTempUser__c == true);
			    });
			}
			var anonymousQuySrt;			
			participantHasAtleastOneLinkedToContacts = false;
			surveyParticipantPropertiesObjList = new Array();
			//displayInternalSubmit =  (surveyInternalSubmit=="true") ? 'inline' : 'none';
			for(var p = 0; p < rawData.length; p++) {
				linkEmail=(rawData[p].Contact__c != null) ? rawData[p].Email__c : rawData[p].SentEmail__c;
				participantlookupId = (rawData[p].Contact__c != null) ? rawData[p].Contact__c : '';
				if(participantlookupId=='' && externalObjectLookupFieldName != '' ){
					participantlookupId =(rawData[p][externalObjectLookupFieldName] != null) ? rawData[p][externalObjectLookupFieldName] : '';
				}	
				if(!participantHasAtleastOneLinkedToContacts){
					participantHasAtleastOneLinkedToContacts = (rawData[p].Contact__c!=null) ? true : false;
				}
				distStatus = '';
				if(participantStatus == 'Contacted' || participantStatus == 'Notcontacted' || participantStatus == 'Inschedule' || participantStatus == 'All') {
					distStatus = (rawData[p].Scheduled__c && rawData[p].Sent__c) ? ((rawData[p].EmailSentCount__c > 1) ? 'Email resent' :  'Email sent') : (rawData[p].Scheduled__c && !rawData[p].Sent__c) ? 'Scheduled' : 
									(!rawData[p].Scheduled__c && rawData[p].Sent__c) ? ((rawData[p].EmailSentCount__c > 1) ? 'Email resent' :  'Email sent') : 'Not contacted'; //we have to think for Email resent.
				}				
				if(rawData[p].Undelivered__c) {	//for bounced emails
                   distStatus = 'Undelivered';        
                }	
				if(rawData[p].Contact__r && rawData[p].Contact__r.HasOptedOutOfEmail){
					distStatus = 'Opted Out Of Email';	
				}			
				surveyRespondedByInternal = (participantStatus == 'Contacted') ? 'SurveyResponse' :'SurveyResponsePreview' ;
				surveyPreviewTitle = (participantStatus == 'Contacted') ? 'Submit survey as internal user' :'Preview survey response' ;
				lastActivity 	 = 'NA'; 
				lastActivityTime = null;
				userResponseView = 'NA';
				surveyRespCls = (participantStatus == 'Responded') ? 'surveyParticipantResponsePreview' : 'surveyParticipantResponseSubmit';
				participantToken = (rawData[p].Token__c == null) ? rawData[p].Id : rawData[p].Token__c;				
				
				if(isAnonymousSurvey == "true" && anonymousSurveyType == "Complete") {
					anonymousQuySrt = '?stid='+rawData[p].Token__c ;	
				}
				if(isAnonymousSurvey == "true" && anonymousSurveyType == "Partial") {
					anonymousQuySrt = '?stid='+rawData[p].AnonymousTokenId__c+'&atid='+rawData[p].Token__c;
				}	
							
				if(participantStatus == 'Contacted' || participantStatus == 'Responded' || participantStatus == 'All') { 
					if(rawData[p].Opened__c) { 
						lastActivity 	 = 'Email opened';
						lastActivityTime = (rawData[p].EmailOpenDate__c != null) ? JBARAgetDateTimeByUserLocal(rawData[p].EmailOpenDate__c,userLocaleDateFormatMap) : rawData[p].EmailOpenDate__c; 
						
					}
					if(rawData[p].SurveyOpened__c) { 
						lastActivity 	 = 'Survey page opened'; 
						lastActivityTime = (rawData[p].SurveyOpenedDate__c != null) ? JBARAgetDateTimeByUserLocal(rawData[p].SurveyOpenedDate__c,userLocaleDateFormatMap) : rawData[p].SurveyOpenedDate__c; 
					}
					if(rawData[p].Responsed__c) {
						lastActivity 	 = 'Responded'; 
						lastActivityTime = (rawData[p].ResponseDate__c != null) ? JBARAgetDateTimeByUserLocal(rawData[p].ResponseDate__c,userLocaleDateFormatMap) : rawData[p].ResponseDate__c; 
					}
				}
				
				if(participantStatus == 'Responded'){
						participantToken = (isAnonymousSurvey == "true")  ? rawData[p].Id : participantToken;
						userResponseView = "<a href="+surveyRespondedByInternal+"?surveyId="+selSurveyId+"&pId="+participantToken+" title='"+surveyPreviewTitle+"' target ='_blank' class='surveyParticipantResponsePreviewLInk'><span class='"+surveyRespCls+"'>&nbsp;</span></a>";
				}
				else if(participantStatus == 'Contacted' || participantStatus == 'Notcontacted'|| participantStatus == 'Inschedule'){
					userResponseView = (surveyInternalSubmit=="true") ? "<a onClick=submitInternalFunction('SurveyResponse','"+selSurveyId+"','"+participantToken+"','"+anonymousQuySrt+"'); class='surveyParticipantResponsePreviewLInk' title='Submit survey as internal user'><span class='"+surveyRespCls+"'>&nbsp;</span></a>" : "";
					userResponseView += "<a onClick=sendMailTo('"+escape(linkEmail)+"','"+escape(rawData[p].DisplayName__c) +"','"+encodeURIComponent(participantToken)+"','"+anonymousQuySrt+"') target='_blank' style='text-decoration:underline;' title='Send email'><span class='surveyMailTo'>&nbsp;</span></a>";
				}
				else if(participantStatus == 'All'){
					surveyPreviewTitle = (!rawData[p].Responsed__c) ? 'Submit survey as internal user' :'Preview survey response' ;
					surveyRespCls = (rawData[p].Responsed__c) ? 'surveyParticipantResponsePreview' : 'surveyParticipantResponseSubmit';
					surveyRespondedByInternal = (!rawData[p].Responsed__c) ? 'SurveyResponse' :'SurveyResponsePreview' ;
					userResponseView = (surveyInternalSubmit=="true") ? "<a onClick=submitInternalFunction('"+surveyRespondedByInternal+"','"+selSurveyId+"','"+participantToken+"','"+anonymousQuySrt+"'); title='"+surveyPreviewTitle+"' target ='_blank' class='surveyParticipantResponsePreviewLInk'><span class='"+surveyRespCls+"'>&nbsp;</span></a>" : "&nbsp;&nbsp;&nbsp;&nbsp;";
					userResponseView += (rawData[p].Responsed__c && surveyInternalSubmit !="true") ? "<a href=SurveyResponsePreview?surveyId="+selSurveyId+"&pId="+participantToken+" title='"+surveyPreviewTitle+"' target ='_blank' class='surveyParticipantResponsePreviewLInk'><span class='"+surveyRespCls+"'>&nbsp;</span></a>" : "&nbsp;&nbsp;";
					userResponseView += (!rawData[p].Responsed__c) ?  "<a onClick=sendMailTo('"+escape(linkEmail)+"','"+escape(rawData[p].DisplayName__c) +"','"+encodeURIComponent(participantToken)+"','"+anonymousQuySrt+"') target='_blank' style='text-decoration:underline;' title='Send email'><span class='surveyMailTo'>&nbsp;</span></a>":"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
				}
				
				
				cust_link = (rawData[p].Account__r == null) ? '' : ('<a title=\''+ (rawData[p].Account__r.Name).replace(/'/g, "&rsquo;") +'\' href=\'CustomerSuccess360?cid='+ rawData[p].Account__c +'\' target=\'_top\'>'+ (rawData[p].Account__r.Name) +'</a>');				
				if(participantlookupId!=''){
					participant_link =(rawData[p].DisplayName__c != null) ? '<a title=\''+rawData[p].DisplayName__c.replace(/'/g, "&rsquo;") +'\'  href=/'+participantlookupId+' target ="_top">'+rawData[p].DisplayName__c+'</a>' : "NA";
				}
				else{
					participant_link =(rawData[p].DisplayName__c != null) ? rawData[p].DisplayName__c : "NA";
				}	 
				
				
				surveyParticipantPropertiesObj = new SurveyParticipantPropertiesClass({
					Id						: rawData[p].Id,
					Customer_link			: cust_link,
					Participant				: participant_link,  //(rawData[p].DisplayName__c != null) ? "<a href=/"+rawData[p].Contact__c+" title='"+rawData[p].DisplayName__c+"' target ='_top'>"+rawData[p].DisplayName__c+"</a>" : "NA", 
					Email					: ((lastActivity == 'Responded') ? rawData[p].SentEmail__c : ((rawData[p].Email__c==null)? rawData[p].SentEmail__c: rawData[p].Email__c)),
					Role					: rawData[p].Role__c,
					Distribution_status		: distStatus,
					Distribution_time		: (participantStatus == 'Contacted' || participantStatus == 'All') ? ((rawData[p].EmailSentDate__c != null) ? JBARAgetDateTimeByUserLocal(rawData[p].EmailSentDate__c,userLocaleDateFormatMap) : rawData[p].EmailSentDate__c) : null,
					Last_activity			: lastActivity,
					Last_activity_time		: lastActivityTime,
					User_response_preview	: userResponseView,
					participantUrl			: (surveyPublishedUrl != '') ? ((isAnonymousSurvey == "false" ) ? surveyPublishedUrl+'?surveyId='+selSurveyId+'&pId='+participantToken : surveyPublishedUrl+anonymousQuySrt): 'NA'
				});
				//+rawData[p].DisplayName__c+"<br/>Customer Name"+rawData[p].Account__r.Name+"<br/>" 
				var filteredAlertDataByViewList  = new Array();
        		var filteredAlertDataByView  = new Array();
        		viewColumnList = surveyUIViewColumnsStr;
        		if((participantStatus != 'Responded' && isAnonymousSurvey == "true") || isAnonymousSurvey == "false"){ 
						for(var c = 0; c < viewColumnList.length; c++) {
						
			       			colDataType = viewColumnList[c].fieldType.toLowerCase();
			       			colDataType = (colDataType == "double" || colDataType == "integer") ? "number" : colDataType;
		       				colFieldName = viewColumnList[c].name;
		       				colObjectName = viewColumnList[c].objectName;
		       				//alert(colFieldName +':'+  rawData[p].Contact__r[colFieldName]);
		       				var indexName = (viewColumnList[c].objectName == 'Contact') ? 'Contact__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'Account') ? 'Account__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'CustomerInfo__c') ? 'Account__r.CustomerInfo__r.'+ viewColumnList[c].name : viewColumnList[c].name) );
		       				if((colFieldName != "EmailBouncedDate" && colObjectName == 'Contact') || colObjectName == 'Account' || colObjectName == 'CustomerInfo__c') {
		       					if(viewColumnList[c].name.indexOf(".") > 0) {
			       					var testStr = viewColumnList[c].name.split(".");
			       					colFieldName = (colObjectName == 'Contact') ? ((rawData[p].Contact__r != null) ? ((rawData[p].Contact__r[testStr[0]] != null) ?  rawData[p].Contact__r[testStr[0]][testStr[1]] : null ) : null)
			       																: ((colObjectName == 'Account') ? ((rawData[p].Account__r != null) ? ( (rawData[p].Account__r[testStr[0]] != null) ?  rawData[p].Account__r[testStr[0]][testStr[1]] : null) : null)
			       																: ((rawData[p].Account__r != null) ? ((rawData[p].Account__r.CustomerInfo__r != null) ? ( (rawData[p].Account__r.CustomerInfo__r[testStr[0]] != null) ?  rawData[p].Account__r.CustomerInfo__r[testStr[0]][testStr[1]] : null) : null) : null));	
			       				}
			       				else {
			       					colFieldName = (colObjectName == 'Contact') ? ((rawData[p].Contact__r != null) ? rawData[p].Contact__r[colFieldName] : null)
			       																: ((colObjectName == 'Account') ? ((rawData[p].Account__r != null) ? rawData[p].Account__r[viewColumnList[c].name] : null)
			       																: ((rawData[p].Account__r != null) ? ((rawData[p].Account__r.CustomerInfo__r != null) ? rawData[p].Account__r.CustomerInfo__r[viewColumnList[c].name] : null) : null));
			       				
			       				}
			       				
			       				if(colDataType == 'date') {
			       					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? JBARAgetDateByUserLocal(colFieldName, userLocaleDateFormatMap) : '');
			       				}
			       				else if(colDataType == 'datetime') {        												
			       					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? JBARAgetDateTimeByUserLocal(colFieldName, userLocaleDateFormatMap) : '');
			       				}
			   					else {    
			    					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? colFieldName : ((colDataType == "number" || colDataType == "currency") ? '0' : ''));
			   					}	   					
			   				}
			   				else {
			   					colFieldName = (rawData[p][indexName] != null) ? rawData[p][indexName] : null;
			       				if(colDataType == 'date') {
			       					surveyParticipantPropertiesObj[indexName] = ((colFieldName!= null) ? JBARAgetDateByUserLocal(colFieldName,userLocaleDateFormatMap) : '');
			       				}
			       				else if(colDataType == 'datetime') {        							
			       					surveyParticipantPropertiesObj[indexName] = ((colFieldName!= null) ? JBARAgetDateTimeByUserLocal(colFieldName,userLocaleDateFormatMap) : '');
			       				}
			   					else {    
			    					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? colFieldName : ((colDataType == "number" || colDataType == "currency") ? '0' : ''));
			    					
			   					}	   			
			   					
			   				} 
		       			}
       			}
				surveyParticipantPropertiesObjList.push(surveyParticipantPropertiesObj); 								 
			}
			return surveyParticipantPropertiesObjList;
		}
		
		function sendMailTo(userEmail,displayName,participantTkn,anonymousQuySrt) {
			if(selSurveyStatus == "Publish") {
				if(isAnonymousSurvey == "true") {
					window.open('mailto:'+unescape(escape(userEmail))+'?subject=Feedback&body=Hi '+unescape(escape(displayName))+',%0A'+encodeURIComponent(surveyPublishedUrl+anonymousQuySrt));
				}
				else {
					window.open('mailto:'+unescape(escape(userEmail))+'?subject=Feedback&body=Hi '+unescape(escape(displayName))+',%0A'+encodeURIComponent(surveyPublishedUrl+'?surveyId='+selSurveyId+'&pId='+participantTkn));
				}				
	    	}else if(selSurveyStatus == "Closed"){
	    		alert("This survey is Closed. You need to reopen the survey for sending email.");
	    		return false;
	    	}else{
	    		alert("This survey is not published yet. You need to publish the survey for sending email.");
	    		return false;
	    	}
		}
		
		function submitInternalFunction(surveyRespondedByInternal,selSurveyId,participantToken,anonymousQuySrt){
			if(selSurveyStatus == "Publish") {								
				if(isAnonymousSurvey == "true") {
					window.open(surveyRespondedByInternal+anonymousQuySrt);	
				}
				else {
					window.open(surveyRespondedByInternal+"?surveyId="+selSurveyId+"&pId="+participantToken);				
				}	    	
	    	}else if(selSurveyStatus == "Closed"){
	    		alert("This survey is Closed. You need to reopen the survey for sending email.");
	    		return false;
	    	}else{
	    		alert("This survey is not published yet. You need to publish the survey for internal submission.");
	    		return false;
	    	}	    	
		}
		
		// This function is used when the UI Views is configured. 
		
		function buildSurveyViewColumnModel(viewColumnList, selParticipantStatus){
			var selFieldName;
			var blnSortable;   
			surveyViewColumnModel = new Array();
			surveyViewGridLabels = new Array();
			if((selParticipantStatus != 'Responded' && isAnonymousSurvey == "true") || isAnonymousSurvey == "false") {  
				for(var c = 0; c < viewColumnList.length; c++) {
					uiViewExists=true;
	            	colHidden = (viewColumnList[c].visibilityMode) ? false : true;
	            	blnSortable =true;
	            	selFieldName = viewColumnList[c].name;         	            	
	            	surveyViewGridLabels.push(viewColumnList[c].label);
	            	colDataType = viewColumnList[c].fieldType.toLowerCase();
	            	colDataType = (colDataType == "double" || colDataType == "integer") ? "number" : colDataType;  
	            	selFieldName =  (viewColumnList[c].objectName == 'Contact') ? 'Contact__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'Account') ? 'Account__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'CustomerInfo__c') ? 'Account__r.CustomerInfo__r.'+ viewColumnList[c].name : viewColumnList[c].name) );
	            		            	
	            	if(!isFieldSortable(viewColumnList[c].objectName, viewColumnList[c].name)) {
	            		blnSortable = false;
	            	}
	            	
	            	if(colDataType == 'string' || colDataType == 'picklist') {
	            		surveyViewColumnModel.push('{"name":"'+selFieldName+'", "index":"'+selFieldName+'","sortable":'+ blnSortable+', "width":100, "searchoptions" : {sopt:["cn"]}, hidden:'+colHidden+'}');
	            	}
	            	else if(colDataType == 'number' || colDataType == 'currency') {
	            		colPrefix = (colDataType == 'currency') ? currencyConfigObject.symbol+' ' : '';
	            		surveyViewColumnModel.push('{"name":"'+selFieldName+'", "index":"'+selFieldName+'","sortable":'+ blnSortable+', "sorttype":"number", "align":"right", "width":65, "formatter":"'+colDataType+'", "formatoptions":{"decimalPlaces":0, "thousandsSeparator":",",  "prefix": "'+colPrefix+'" }, hidden:'+colHidden+'}');
	            	}
	            	else if(colDataType == 'date') {
	            		surveyViewColumnModel.push('{"name":"'+selFieldName+'", "sortable":'+ blnSortable+', "width":90, "sorttype":"date"}');
	            	}
	            	else if(colDataType == 'datetime') {
	            		surveyViewColumnModel.push('{"name":"'+selFieldName+'", "sortable":'+ blnSortable+',"width":150, "sorttype":"datetime"}');
	            	}
	            	else {
	            		surveyViewColumnModel.push('{"name":"'+selFieldName+'", "index":"'+selFieldName+'","sortable":'+ blnSortable+', "width":100, "searchoptions" : {sopt:["cn"]}, hidden:'+colHidden+'}');
	            	}
	            }
	    	}
        }
		
		function getSurveyUndeliveredParticipantDetailsData(rawData, participantStatus) {			
			var userResponseView;
			var anonymousQuySrt;
			surveyParticipantPropertiesObjList = new Array();
			for(var p = 0; p < rawData.length; p++) {
				//linkEmail=(rawData[p].Contact__c!=null)? rawData[p].Email__c:rawData[p].SentEmail__c;
				linkEmail = (rawData[p].Email__c != null) ? rawData[p].Email__c : ((rawData[p].SentEmail__c != null) ? rawData[p].SentEmail__c : '');
				participantlookupId = (rawData[p].Contact__c!=null)? rawData[p].Contact__c: '';
				if(participantlookupId=='' && externalObjectLookupFieldName!='' ){
					participantlookupId =(rawData[p][externalObjectLookupFieldName]!=null)?rawData[p][externalObjectLookupFieldName]:'';
				}
				if(participantlookupId!=''){
					participant_link =(rawData[p].DisplayName__c != null) ? '<a title=\''+rawData[p].DisplayName__c.replace(/'/g, "&rsquo;") +'\'  href=/'+participantlookupId+' target ="_top">'+rawData[p].DisplayName__c+'</a>' : "NA";
				}
				else{
					participant_link =(rawData[p].DisplayName__c != null) ? rawData[p].DisplayName__c : "NA";
				}	 
				
				if(isAnonymousSurvey == "true" && anonymousSurveyType == "Complete") {
					anonymousQuySrt = '?stid='+rawData[p].Token__c ;	
				}
				if(isAnonymousSurvey == "true" && anonymousSurveyType == "Partial") {
					anonymousQuySrt = '?stid='+rawData[p].AnonymousTokenId__c+'&atid='+rawData[p].Token__c;
				}
				
				cust_link = (rawData[p].Account__r == null) ? '' : ('<a title=\''+ (rawData[p].Account__r.Name).replace(/'/g, "&rsquo;") +'\' href=\'CustomerSuccess360?cid='+ rawData[p].Account__c +'\' target=\'_top\'>'+ (rawData[p].Account__r.Name) +'</a>');				
				userResponseView = (surveyInternalSubmit=="true") ? "<a  onClick=submitInternalFunction('SurveyResponse','"+selSurveyId+"','"+participantToken+"','"+anonymousQuySrt+"'); title='Send survey as internal user' target ='_blank' class='surveyParticipantResponsePreviewLInk'><span class='surveyParticipantResponseSubmit'>&nbsp;</span></a>" : "";
				userResponseView += "<a onClick=sendMailTo('"+escape(linkEmail)+"','"+escape(rawData[p].DisplayName__c) +"','"+encodeURIComponent(participantToken)+"','"+anonymousQuySrt+"') target='_blank' style='text-decoration:underline;' title='Send email'><span class='surveyMailTo'>&nbsp;</span></a>";
				
				surveyParticipantPropertiesObj = new SurveyParticipantPropertiesClass({
					Id						: rawData[p].Id,
					Customer_link			: cust_link,
					Participant				: participant_link, 
					Email					: linkEmail,
					Role					: rawData[p].Role__c,
					comment					: (rawData[p].DeliveryResponse__c == null || rawData[p].DeliveryResponse__c == '') ?  'Bounced: '+rawData[p].Contact__r.EmailBouncedDate : rawData[p].DeliveryResponse__c,				
					User_response_preview	: userResponseView,
					participantUrl			: (surveyPublishedUrl != '') ? ((isAnonymousSurvey == "false" ) ? surveyPublishedUrl+'?surveyId='+selSurveyId+'&pId='+participantToken : surveyPublishedUrl+anonymousQuySrt): 'NA'
					
				});
				
				var colDataType, colFieldName,colObjectName;
				
				for(var c = 0; c < viewColumnList.length; c++) {						
	       			colDataType = viewColumnList[c].fieldType.toLowerCase();
	       			colDataType = (colDataType == "double" || colDataType == "integer") ? "number" : colDataType;
       				colFieldName = viewColumnList[c].name;
       				colObjectName = viewColumnList[c].objectName;
       				//alert(colFieldName +':'+  rawData[p].Contact__r[colFieldName]);
       				var indexName = (viewColumnList[c].objectName == 'Contact') ? 'Contact__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'Account') ? 'Account__r.'+ viewColumnList[c].name 
	            						: ((viewColumnList[c].objectName == 'CustomerInfo__c') ? 'Account__r.CustomerInfo__r.'+ viewColumnList[c].name : viewColumnList[c].name) );
       				if((colFieldName != "EmailBouncedDate" && colObjectName == 'Contact') || colObjectName == 'Account' || colObjectName == 'CustomerInfo__c') {
       					if(viewColumnList[c].name.indexOf(".") > 0) {
	       					var testStr = viewColumnList[c].name.split(".");
	       					colFieldName = (colObjectName == 'Contact') ? ((rawData[p].Contact__r != null) ? ((rawData[p].Contact__r[testStr[0]] != null) ?  rawData[p].Contact__r[testStr[0]][testStr[1]] : null ) : null)
	       																: ((colObjectName == 'Account') ? ((rawData[p].Account__r != null) ? ( (rawData[p].Account__r[testStr[0]] != null) ?  rawData[p].Account__r[testStr[0]][testStr[1]] : null) : null)
	       																: ((rawData[p].Account__r != null) ? ((rawData[p].Account__r.CustomerInfo__r != null) ? ( (rawData[p].Account__r.CustomerInfo__r[testStr[0]] != null) ?  rawData[p].Account__r.CustomerInfo__r[testStr[0]][testStr[1]] : null) : null) : null));	
	       				}
	       				else {
	       					colFieldName = (colObjectName == 'Contact') ? ((rawData[p].Contact__r != null) ? rawData[p].Contact__r[colFieldName] : null)
	       																: ((colObjectName == 'Account') ? ((rawData[p].Account__r != null) ? rawData[p].Account__r[viewColumnList[c].name] : null)
	       																: ((rawData[p].Account__r != null) ? ((rawData[p].Account__r.CustomerInfo__r != null) ? rawData[p].Account__r.CustomerInfo__r[viewColumnList[c].name] : null) : null));
	       				
	       				}
	       				
	       				if(colDataType == 'date') {
	       					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? JBARAgetDateByUserLocal(colFieldName, userLocaleDateFormatMap) : '');
	       				}
	       				else if(colDataType == 'datetime') {        												
	       					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? JBARAgetDateTimeByUserLocal(colFieldName, userLocaleDateFormatMap) : '');
	       				}
	   					else {    
	    					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? colFieldName : ((colDataType == "number" || colDataType == "currency") ? '0' : ''));
	   					}	   					
	   				}  
	   				else {
	   					colFieldName = (rawData[p][indexName] != null) ? rawData[p][indexName] : null;
	       				if(colDataType == 'date') {
	       					surveyParticipantPropertiesObj[indexName] = ((colFieldName!= null) ? JBARAgetDateByUserLocal(colFieldName,userLocaleDateFormatMap) : '');
	       				}
	       				else if(colDataType == 'datetime') {        							
	       					surveyParticipantPropertiesObj[indexName] = ((colFieldName!= null) ? JBARAgetDateTimeByUserLocal(colFieldName,userLocaleDateFormatMap) : '');
	       				}
	   					else {    
	    					surveyParticipantPropertiesObj[indexName] = ((colFieldName != null) ? colFieldName : ((colDataType == "number" || colDataType == "currency") ? '0' : ''));
	   					}
	   				} 
       			}
				surveyParticipantPropertiesObjList.push(surveyParticipantPropertiesObj); 								 
			}
			return surveyParticipantPropertiesObjList;
		}
        
        /***
        *This function renders the survey disrtibution list grid.
        */
	    function bindSurveyParticipantListGrid(data, participantStatus,sortColumn,sortOrder) {
	       j$(".distributionFromAddress,.distFromAddLabel").hide();
	        var listData = data;
	        var arrCols = (participantStatus == 'Responded') ? getSurveyParticipantListColumnsByResponded() : ((participantStatus == 'Contacted') ? getSurveyParticipantListColumnsByContacted() :  
	        						((participantStatus == 'Notcontacted' || participantStatus == 'Inschedule') ? getSurveyParticipantListColumnsByNotContacted() : 
	        						( (participantStatus == 'Undelivered') ?  getSurveyParticipantListColumnsByUndelivered(): getSurveyParticipantListColumnsByAll()) ) );
	        var screenWidth = screen.width - 60;
	        surveyDistributionGridId = 'surveyDistributionListContainer_'+selParticipantStatus+'';
	        var gridParam = {
	            'Id': surveyDistributionGridId,
	            'colnames': arrCols[0],
	            'colmodel': arrCols[1],
	            'data': listData,
	            'rowNum':300,
	         	'disableAutofilter': true,
	            'sort': {
	                'name': sortColumn,
	                'order': sortOrder
	            },
	            'width': screenWidth-25,
	            'height': '300px',
	            'Multiselect': (participantStatus == 'Responded' || participantStatus == 'All') ? false : true,
	            'gridComplete':gridCompleteParticipantList,
	            'onSortCol':gridSortClick,
	            'userLocaleDateFormatMap' : userLocaleDateFormatMap
	        }
	        
	        j$(".AjaxLoadingButtonForshowDistListByParticipantStatus").hide(); //to hide ajax loading image.
	        j$("#grdPageBtnContainer").appendTo("body").hide();
		   
		    /* j$("#surveyDistributionListContainer_"+selParticipantStatus+"").html("");
			buildjqGrid('surveyDistributionListContainer', gridParam);
		    */
		    if(reloadGrid==false){
		    	j$("#surveyDistributionListContainer_"+selParticipantStatus+"").jqGrid('clearGridData',true);
		    	j$("#surveyDistributionListContainer_"+selParticipantStatus+"").jqGrid('addRowData','Id', listData);
		    	reloadGrid=true
		    }
		    else{
			    j$("#surveyDistributionListContainer_"+selParticipantStatus+"").html("");
			    buildjqGrid('surveyDistributionListContainer', gridParam);
			    reloadGrid=true;
	        }
	        j$(".ui-pg-div").hide();
	       
	        j$(".ui-jqgrid tr.ui-row-ltr td").css({
                "overflow": "hidden",
                "white-space": "nowrap"
             })
	                
	        j$("#gbox_surveyDistributionListContainer_"+selParticipantStatus+"").addClass("ui-corner-all ui-corner-bottom");  
	        j$("#gbox_surveyDistributionListContainer_"+selParticipantStatus+"").removeClass("ui-corner-all").addClass("ui-corner-bottom");    
	        j$(".headerSurveyDistributionGridDiv").show();
	        j$("#grdPageBtnContainer").css({'width':j$("#gbox_surveyDistributionListContainer_"+selParticipantStatus+"").width()});
	        j$("#grdPageBtnContainer").show(); 
	        setGridWrapping(); 	        
            if((j$(".btnToReSendMail").is(":visible") || j$(".btnToSendMail").is(":visible")) && isExternalServicesEnalbed === false){
               j$(".distributionFromAddress,.distFromAddLabel").show();
            }
            else {
                  j$(".distributionFromAddress,.distFromAddLabel").hide();
            }
	       
	    }
	    
	    function gridCompleteParticipantList(){
			j$("#surveyDistributionListContainer_"+selParticipantStatus+"").find(".cbox").bind("click",function(){
				if(j$("#surveyDistributionListContainer_"+selParticipantStatus+"").find(".cbox:checked").length !=j$("#surveyDistributionListContainer_"+selParticipantStatus+"").find(".cbox").length){
					j$("#cb_surveyDistributionListContainer_"+selParticipantStatus+"").removeAttr("checked");
				}
				else {
					j$("#cb_surveyDistributionListContainer_"+selParticipantStatus+"").attr("checked","checked");
				}
				
			});
			j$("#surveyDistributionListContainer_"+selParticipantStatus+"").find("td").css({
	            "overflow": "hidden",
	            "white-space": "nowrap"
	        });
	        j$("#gbox_surveyDistributionListContainer_"+ selParticipantStatus).append(j$("#grdPageBtnContainer"));  
	        removeSortingCursor();
	        setGridWrapping();
	        //hide overlay
	        hideOverLayForm();
		}
	 	
	 	function removeSortingCursor(){
               	//this need to be made dynamic
                j$("#jqgh_comment").removeClass("ui-jqgrid-sortable");
               	j$("#jqgh_User_response_preview").removeClass("ui-jqgrid-sortable");
               	j$("#jqgh_Last_activity").removeClass("ui-jqgrid-sortable");
               	j$("#jqgh_participantUrl").removeClass("ui-jqgrid-sortable");
               	j$("#jqgh_Distribution_status").removeClass("ui-jqgrid-sortable");
               	
               	if(uiViewExists){
                		j$("#surveyDistributionListContainer").find(".ui-jqgrid-htable").find(".ui-jqgrid-labels").find("div.ui-jqgrid-sortable").each(function(){
                			if(j$(this).attr("id")!='jqgh_Customer_link' && j$(this).attr("id")!='jqgh_Participant' 
                				&& j$(this).attr("id")!='jqgh_Email' && j$(this).attr("id")!='jqgh_Role'){
                				if(j$(this).attr("id").indexOf("Contact__r") > 0) {
                					fldName= j$(this).attr("id").split("jqgh_Contact__r.")[1];
                					if(!isFieldSortable('Contact', fldName)) {
	                					j$(this).removeClass("ui-jqgrid-sortable");
	                				}	
                				}
                				else if(j$(this).attr("id").indexOf("Account__r.CustomerInfo__r") > 0) {
                					fldName= j$(this).attr("id").split("jqgh_Account__r.CustomerInfo__r.")[1];
                					if(!isFieldSortable('CustomerInfo__c', fldName)) {
	                					j$(this).removeClass("ui-jqgrid-sortable");
	                				}	
                				}
                				else if(j$(this).attr("id").indexOf("Account__r") > 0) {
                					fldName= j$(this).attr("id").split("jqgh_Account__r.")[1];
                					if(!isFieldSortable('Account', fldName)) {
	                					j$(this).removeClass("ui-jqgrid-sortable");
	                				}	
                				}
                				else {
                					fldName= j$(this).attr("id").split("jqgh_")[1];
                					if(!isFieldSortable('SurveyParticipant__c', fldName) && fldName!='Last_activity_time'){
	                					j$(this).removeClass("ui-jqgrid-sortable");
	                				}	
                				}
                				
                			}
                		});
                	}
       	}
		
		function gridSortClick(index,colIndex,sortOrder){
				var dmyStr = {"name":index,"order":sortOrder,"viewbystatus":j$(".jbaraDummyDistributionStatusSelectControl").val()};
				statePreservStringSD.SortColumns__c = dmyStr; 
				reloadGrid=false;
                actSortByCols(index,sortOrder);
                processEntireState();
        }
        
        function isFieldSortable(sortableObject, fldName){
        	var sortableList = [];
        	var isSortable = false;
        	if(sortableObject == 'CustomerInfo__c' && (fldName == 'Account__r.Industry' || fldName == 'Stage__r.Name' || fldName == 'Status__r.Name')) {
        		isSortable = true;
        	}
        	else {
	        	sortableList = (viewSortableColumnList[sortableObject]) ? viewSortableColumnList[sortableObject] : [];
	       		for(var kdx = 0; kdx < sortableList.length; kdx++){
	       			if(sortableList[kdx] == fldName) {
	       				isSortable = true;
	       				break;
	       			}
	       		}
	       	}	
        	return isSortable;
        }
    
	    /***
        *This function returns the column model for survey distribution grid.
        */
	    function getSurveyParticipantListColumnsByResponded() {
	        var colArray = new Array();
	        var colModel = new Array();
	        var colNames;
	        colNames=['Id', 'Account', 'Participant', 'Email', 'Role']; 
	        colModel.push("{name:'Id', index:'Id', hidden:true, classes:'hideInColChooser'}");
	        colModel.push("{name:'Customer_link', index:'Customer_link', width:150, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Participant', index:'Participant', width:120, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Email', index:'Email', width:130, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Role', index:'Role', width:90, searchoptions :{sopt:['cn']}}");
	      
	        if(surveyViewGridLabels != '') {
	        	colNames = colNames.concat(surveyViewGridLabels) ;
	        	colModel = colModel.concat(surveyViewColumnModel);
	        } 
	        colNames = colNames.concat(['Last Activity', 'Last Activity Time', 'Action']);	        
	        colModel.push("{name:'Last_activity', index:'Last_activity', width:100,sortable:false, searchoptions :{sopt:['cn']}}");
	       
	        
	        
	        //customerViewColumnModel.push('{"name":"'+selFieldName+'", "width":150, "sorttype":"datetime", "datefmt":"ISO8601Long","formatter":"date","formatoptions":{"srcformat": "ISO8601Long", "newformat":jqGridDateTimeFormat}, "searchoptions" : {sopt:["cn"]}, hidden:'+colHidden+'}');
	        
	        
	        colModel.push("{name:'Last_activity_time', index:'Last_activity_time', width:135,sorttype:'datetime'}");
	        colModel.push("{name:'User_response_preview', index:'User_response_preview', width:110, sortable: false, search:false,title:false, resizable:false, align:'center',cellattr :function(){return 'hideOnExport=true';}}");
	     	
	       	colNames.push('Survey Link');
	       	colModel.push("{name:'participantUrl', index:'participantUrl', hidden:true,sortable:false}");
	       	
	       	sort={'name':'Customer_link','order':'desc'};	 
	       	
	       	colModel = ''+colModel.join(",")+'';
	        colModel = eval('[' + colModel + ']');	        
	        colArray.push(colNames);
	        colArray.push(colModel);
	        colArray.push(sort);
	        return colArray;
	        
	    }
	    
	    function getSurveyParticipantListColumnsByContacted() {
	        var colArray = new Array();
	        var colNames;
	        var colModel = new Array();
	        colNames=['Id', 'Account', 'Participant', 'Email', 'Role'];
	        colModel.push("{name:'Id', index:'Id', hidden:true, classes:'hideInColChooser'}");
	        colModel.push("{name:'Customer_link', index:'Customer_link', width:100, searchoptions :{sopt:['cn']}}"); 
	        colModel.push("{name:'Participant', index:'Participant', width:100, searchoptions :{sopt:['cn']}}"); 
	        colModel.push("{name:'Email', index:'Email', width:120, searchoptions :{sopt:['cn']}}"); 
	        colModel.push("{name:'Role', index:'Role', width:70, searchoptions :{sopt:['cn']}}"); 
	        
	        if(surveyViewGridLabels != '') {
	        	colNames = colNames.concat(surveyViewGridLabels) ;
	        	colModel = colModel.concat(surveyViewColumnModel);
	        }	        
	        if(isAnonymousSurvey == "false"){
	        	colNames = colNames.concat(['Distribution Status', 'Distribution Time', 'Last Activity', 'Last Activity Time','Action']);	
	        }
	        else {
	        	colNames = colNames.concat(['Distribution Status', 'Distribution Time', 'Action']);		
	        } 	        	        
	                
	        colModel.push("{name:'Distribution_status', index:'Distribution_status',sortable:false, width:80, searchoptions :{sopt:['cn']}}"); 
	        colModel.push("{name:'Distribution_time', index:'Distribution_time', width:100,sorttype:'datetime'}"); 
	        
	        if(isAnonymousSurvey == "false"){
	        	colModel.push("{name:'Last_activity', index:'Last_activity',sortable:false, width:100, searchoptions :{sopt:['cn']}}"); 
	        	colModel.push("{name:'Last_activity_time', index:'Last_activity_time', width:100,sorttype:'datetime'}");
	        }
	        
	        colModel.push("{name:'User_response_preview', index:'User_response_preview', width:100,title:false, search:false, sortable:false,resizable:false, align:'center',cellattr :function(){return 'hideOnExport=true';}}");
	        colNames.push('Survey Link');
	       	colModel.push("{name:'participantUrl', index:'participantUrl', hidden:true,sortable:false}");
	       	
	       	sort={'name':'Customer_link','order':'desc'};    
	       	colModel = ''+colModel.join(",")+'';
	        colModel = eval('[' + colModel + ']');
	        colArray.push(colNames);
	        colArray.push(colModel);
	        colArray.push(sort);
	        return colArray;
	        
	    }
	    
	    function getSurveyParticipantListColumnsByNotContacted() {
	        var colArray = new Array();
	        var colNames;
	        var colModel = new Array();
	        colNames=['Id', 'Account', 'Participant', 'Email', 'Role']; 
	        colModel.push("{name:'Id', index:'Id', hidden:true, classes:'hideInColChooser'}");
	        colModel.push("{name:'Customer_link', index:'Customer_link', width:150, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Participant', index:'Participant', width:120, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Email', index:'Email', width:180, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Role', index:'Role', width:90, searchoptions :{sopt:['cn']}}");
	        
	        if(surveyViewGridLabels != '') {
	        	colNames = colNames.concat(surveyViewGridLabels) ;
	        	colModel = colModel.concat(surveyViewColumnModel);
	        } 
	        colNames = colNames.concat(['Distribution Status', 'Distribution Time','Action']);
	        
	        colModel.push("{name:'Distribution_status', index:'Distribution_status',sortable:false,width:100, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Distribution_time', index:'Distribution_time', width:135,sorttype:'datetime'}");
	        colModel.push("{name:'User_response_preview', index:'User_response_preview', width:110, sortable: false,title:false, search:false, resizable:false, align:'center',cellattr :function(){return 'hideOnExport=true';}}");
	        
	        colNames.push('Survey Link');
	       	colModel.push("{name:'participantUrl', index:'participantUrl', hidden:true,sortable:false}");
	       	
	        sort={'name':'Customer_link','order':'desc'};        
	       	
	       	colModel = ''+colModel.join(",")+'';
	        colModel = eval('[' + colModel + ']');
	        colArray.push(colNames);
	        colArray.push(colModel);
	        colArray.push(sort);
	        return colArray;
	    }
	    
	    /***
        *This function returns the column model for survey distribution grid.
        */
	    function getSurveyParticipantListColumnsByAll() {
	        var colArray = new Array();
	        var colNames;
	        var colModel = new Array();
	        colNames=['Id', 'Account', 'Participant', 'Email', 'Role']; 
	        colModel.push("{name:'Id', index:'Id', hidden:true, classes:'hideInColChooser'}");
	        colModel.push("{name:'Customer_link', index:'Customer_link', width:130, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Participant', index:'Participant', width:120, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Email', index:'Email', width:140, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Role', index:'Role', width:90, searchoptions :{sopt:['cn']}}");
	        
	        if(surveyViewGridLabels != '') {
	        	colNames = colNames.concat(surveyViewGridLabels) ;
	        	colModel = colModel.concat(surveyViewColumnModel);
	        } 	        
	        if(isAnonymousSurvey == "false") {
	        	colNames = colNames.concat(['Distribution Status','Distribution Time', 'Last Activity', 'Last Activity Time', 'Action']);	
	        }
	        else {
	        	colNames = colNames.concat(['Distribution Status','Distribution Time','Action']);	
	        }
	        colModel.push("{name:'Distribution_status', index:'Distribution_status',sortable:false, width:100, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Distribution_time', index:'Distribution_time',width:135,sorttype:'datetime'}");
	        if(isAnonymousSurvey == "false") {
	        	colModel.push("{name:'Last_activity', index:'Last_activity',sortable:false,width:80, searchoptions :{sopt:['cn']}}");
	        	colModel.push("{name:'Last_activity_time', index:'Last_activity_time',width:135,sorttype:'datetime'}");
	        }
	        colModel.push("{name:'User_response_preview', index:'User_response_preview', width:110, sortable: false,title:false, search:false, resizable:false, align:'center',cellattr :function(){return 'hideOnExport=true';}}");
	          
	       	colNames.push('Survey Link');
	       	colModel.push("{name:'participantUrl', index:'participantUrl', hidden:true,sortable:false}");
	       	
	       	sort={'name':'Customer_link','order':'desc'};  
	       	colModel = ''+colModel.join(",")+'';
	        colModel = eval('[' + colModel + ']');
	        colArray.push(colNames);
	        colArray.push(colModel);
	        colArray.push(sort);
	        return colArray;
	    }
    	
    	/***
        *This function returns the column model for survey distribution grid.
        */
	    function getSurveyParticipantListColumnsByUndelivered() {
	        var colArray = new Array();
	        var colNames;
	        var colModel = new Array();
	        colNames=['Id', 'Account', 'Participant', 'Email', 'Role']; 
	        colModel.push("{name:'Id', index:'Id', hidden:true, classes:'hideInColChooser'}");
	        colModel.push("{name:'Customer_link', index:'Customer_link', width:150, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Participant', index:'Participant', width:120, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Email', index:'Email', width:180, searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'Role', index:'Role', width:90, searchoptions :{sopt:['cn']}}");
	        
	        if(surveyViewGridLabels != '') {
	        	colNames = colNames.concat(surveyViewGridLabels) ;
	        	colModel = colModel.concat(surveyViewColumnModel);
	        } 
	        colNames = colNames.concat(['Comments','Action']);	
	        
	        colModel.push("{name:'comment', index:'comment', width:250, sortable:false,searchoptions :{sopt:['cn']}}");
	        colModel.push("{name:'User_response_preview', index:'User_response_preview', width:110, sortable: false,title:false, search:false, resizable:false, align:'center',cellattr :function(){return 'hideOnExport=true';}}");
	        	      
	       	colNames.push('Survey Link');
	       	colModel.push("{name:'participantUrl', index:'participantUrl', hidden:true,sortable:false}");
	       	
	       	sort={'name':'Customer_link','order':'desc'};   
	       	
	       	colModel = ''+colModel.join(",")+'';
	        colModel = eval('[' + colModel + ']');
	        colArray.push(colNames);
	        colArray.push(colModel);
	        colArray.push(sort);
	        return colArray;
	    }
	    
    	/**
    	*function to add participants to the survey distribution.
    	*/
	    function addMailList() {
	    	window.top.location.href='/apex/Surveyparticipants?surveyId='+ encodeURIComponent(selSurveyId);
	    }
	    
	    /**
    	*function to add participants to the survey distribution.
    	*/
	    function viewSchedulesBySurvey() {
	    	if(selSurveyStatus != "Publish") {
	    		alert("This survey is not published yet. You need to publish the survey to view schedules");
	    		return false;
	    	}
	    	else {
	    		window.top.location.href='/apex/SurveyScheduler?surveyId='+ encodeURIComponent(selSurveyId);
	    	}
	    	
	    }
	    
	    /**
    	*function to add participants to the survey distribution.
    	*/
	    function createSchedulesBySurvey() {
	    	window.top.location.href='/apex/SurveyScheduler?surveyId='+ encodeURIComponent(selSurveyId)+'&opp=Create';
	    }	   
	    
	    /**
	    *This function is used to toggle the action button after sent or resent a emails.
	    **/
	    function enableActBtnAfterEmailSent() {
	    	j$(".distActionBtn, .participantsAddBtn").removeAttr("disabled");
    		if(enableViewScheduleBtn){
            	j$(".scheduleOperationsBtn").removeAttr("disabled");
            }
	    }
	     /**
    	*function to send survey through mail to the selected participants list.
    	*/
	    function sendMailtoSelectionParticipantsList() {
	    	j$(".message").hide();
	    	j$(".distActionBtn, .participantsAddBtn, .scheduleOperationsBtn").attr("disabled","true");
	    	if(selSurveyStatus != "Publish") {
	    		enableActBtnAfterEmailSent();//To enable the action buttions.
	    		alert("This survey is not published yet. You need to publish the survey for distributing emails");
	    		return false;
	    	}
	    	var selectedparticipantsList = getSelectedSurveyParticipantList("Sending Emails...");
	    	if(selectedparticipantsList.length > 0) {
	    		j$(".resendEmailFlag").attr("checked", false);
	    		j$(".SelectedParticipantsListToScheduleOREmail").val(selectedparticipantsList);
	    		blnSendEmailClicked=true;
	    		var dmlFrame = document.getElementById("childDMLOperationIframe");
				dmlFrame.contentWindow.sendSurveyEmail(selectedparticipantsList,"{!(surveyId)}",false,j$(".jbaraDummyDistributionStatusSelectControl").val(),j$(".distributionFromAddress").val());
	    		//sendingSurveyThroughMail();
	    	}
	    	else {
	    		enableActBtnAfterEmailSent();//To enable the action buttions.
	    		alert("Select participants to send survey");
	    	}
	    }
	    
	    /**
    	*function to resend survey through mail to the selected participants list.
    	*/
	    function resendMailtoSelectionParticipantsList() {
	    	j$(".message").hide();
	    	j$(".distActionBtn, .participantsAddBtn, .scheduleOperationsBtn").attr("disabled","true");
	    	if(selSurveyStatus != "Publish") {
	    		enableActBtnAfterEmailSent();//To enable the action buttions.
	    		alert("This survey is not published yet. You need to publish the survey for distributing emails");
	    		return false;
	    	}
	    	
	    	var selectedparticipantsList = getSelectedSurveyParticipantList("Resending Emails...");
	    	if(selectedparticipantsList.length > 0) {
	    		j$(".resendEmailFlag").attr("checked", true);
	    		j$(".SelectedParticipantsListToScheduleOREmail").val(selectedparticipantsList);
	    		blnSendEmailClicked=true;
	    		var dmlFrame = document.getElementById("childDMLOperationIframe");
				dmlFrame.contentWindow.sendSurveyEmail(selectedparticipantsList,"{!(surveyId)}",true,j$(".jbaraDummyDistributionStatusSelectControl").val(),j$(".distributionFromAddress").val());
	    		//sendingSurveyThroughMail();
	    	}
	    	else {
	    		enableActBtnAfterEmailSent();//To enable the action buttions.
	    		alert("Select participants to resend survey");
	    	}
	    }
	    
	    /**
    	*function to delete the selected participants list.
    	*/
	    function deleteSelectedParticipantsList() {
	    	j$(".distActionBtn, .participantsAddBtn, .scheduleOperationsBtn").attr("disabled","true");
	    	var selectedparticipantsList = getSelectedSurveyParticipantList("Deleting...");
	    	if(selectedparticipantsList.length > 0) {
	    		var dummyPartMsg = (selectedParticipantsCnt == 1) ? 'participant' : 'participants'; 	
		    	if (confirm("Are you sure you want to delete the "+dummyPartMsg+" from the distribution")) {
		    		j$(".AjaxLoadingButtonForProcessingSurveyDistribution").show();
		    		j$(".SelectedParticipantsListToScheduleOREmail").val(selectedparticipantsList);
		    		blnDeletedClicked=true;
		    		var dmlFrame = document.getElementById("childDMLOperationIframe");
					dmlFrame.contentWindow.deleteParticiPants(selectedparticipantsList);
		    	}
		    	else {
		    		enableActBtnAfterEmailSent();//To enable the action buttions.
		    	}	
	    	}
	    	else {
	    		enableActBtnAfterEmailSent();//To enable the action buttions.
	    		alert("Select participants to delete");
	    	}
	    }
	    
	    function callBackAfterDMLFromFrame(strMsgFromChildWindow){
	  		if(blnDeletedClicked){
	  			//j$("#grdPageBtnContainer").appendTo("body").hide();
	  			afterDeleteSelectSurveyParticipant(strMsgFromChildWindow);
	  			blnDeletedClicked =false;
	  		}
	  		else if(blnSendEmailClicked){
	  			//j$("#grdPageBtnContainer").appendTo("body").hide();
	  			blnSendEmailClicked=false;
	  			afterSendingSurveyThroughMail(strMsgFromChildWindow);
	  		}	
	    }
	    
	    /**
    	*function to get the selected participant list.
    	*/
	    function getSelectedSurveyParticipantList(operation) {
	    	var selectedRowList = j$("#surveyDistributionListContainer_"+selParticipantStatus+"").jqGrid('getGridParam','selarrrow');
	    	var selparticipantsList = "";	    	
	    	if(selectedRowList.length > 0) {
	    		selectedParticipantsCnt = selectedRowList.length;
				j$(".AjaxLoadingButtonForProcessingSurveyDistribution span.waitingDescription").text(operation);
				if(operation != "Deleting...") {
					j$(".AjaxLoadingButtonForProcessingSurveyDistribution").show();
				}    	
	    		for(var i=0; i<selectedRowList.length; i++) {	    			
	    			selparticipantsList += j$("#surveyDistributionListContainer_"+selParticipantStatus+"").jqGrid('getCell', selectedRowList[i], 'Id')+((i == selectedRowList.length-1) ?  '' : ',');
	    		}	    		
	    	}
	    	return selparticipantsList;
	    }    
        
        /**
    	*function to toggle the action buttions based on the seleted participant status.
    	*/
        function toggleActionbuttonsByStatus(participantStatus) {
            j$(".distributionFromAddress,.distFromAddLabel").hide();
        	j$(".participantsAddBtn, .scheduleOperationsBtn, .distActionBtn").removeAttr("disabled");
 			j$(".distActionBtn").hide();   			
            if(participantStatus == "Contacted") {
            	if(participantHasAtleastOneLinkedToContacts && isExternalServicesEnalbed === false){
            		j$(".btnToReSendMail").show();
            		j$(".distributionFromAddress,.distFromAddLabel").show();
            	}
            	else{
            		j$(".btnToReSendMail").hide();
            		j$(".distributionFromAddress,.distFromAddLabel").hide();
            	}	
            }
            else if(participantStatus == "Notcontacted" || selParticipantStatus == "Inschedule" || selParticipantStatus == "Undelivered") {
            	j$(".btnToDeleteParticipants").show();
            	if(participantHasAtleastOneLinkedToContacts && isExternalServicesEnalbed === false){
            		j$(".btnToSendMail").show();//distributionFromAddress
            		j$(".distributionFromAddress,.distFromAddLabel").show();
            	}
            	else{	
            		j$(".btnToSendMail").hide();
            		j$(".distributionFromAddress,.distFromAddLabel").hide();
            		j$(".btnToDeleteParticipants").css({position: "relative", left:"200px"});
            	} 
            }
            
            if(enableViewScheduleBtn){
            	j$(".scheduleOperationsBtn").removeAttr("disabled");
            }
            else{
            	j$(".scheduleOperationsBtn").attr("disabled","true");
            }           
        }
        
        function toggleDistByParicipantStatus() {
            j$(".distributionFromAddress,.distFromAddLabel").hide();
        	j$(".message").hide();
        	j$("#grdPageBtnContainer").appendTo("body").hide();
        	j$("#surveyDistributionListContainer").html('');
        	j$(".headerSurveyDistributionGridDiv").hide();
        	j$(".AjaxLoadingButtonForshowDistListByParticipantStatus").show(); //to show ajax loading image.
        	refreshAdvanceSearchPanel=true;
        	j$(".searchingIndicator").hide();
        	var sorCol = (typeof statePreservStringSD.SortColumns__c == 'string') ? j$.parseJSON(statePreservStringSD.SortColumns__c) : statePreservStringSD.SortColumns__c;
        	sorCol = (sorCol) ? sorCol : {};
        	sorCol['viewbystatus'] =  j$(".jbaraDummyDistributionStatusSelectControl").val();
        	statePreservStringSD.SortColumns__c = sorCol;
			processEntireState();
       		changeParticipantStatus();
       		var selectedList = j$(".jbaraDummyDistributionStatusSelectControl").val(); 
            if((selectedList == 'Inschedule' || selectedList == 'Notcontacted') && isExternalServicesEnalbed === false){
                j$(".distributionFromAddress,.distFromAddLabel").show();
            }
            else{
                j$(".distributionFromAddress,.distFromAddLabel").hide();
            }           
        }
        
        /***
        *To populate the distribution statistical information for selected survey.
        */        
        function populateDistributionStatistics(statisticalData) {
       		//var notRespondedSurveyCnt = parseInt(statisticalData.contacted - statisticalData.submitted) > 0 ? (statisticalData.contacted - statisticalData.submitted) : 0;
		    j$("span.totDistCount").text(statisticalData.totalCount);		   		    
		    j$("span.totRespondedCount").text(statisticalData.submitted);
		    (isAnonymousSurvey == "false") ? j$("span.totContactedNotRespondCount").text(statisticalData.contacted - statisticalData.submitted) : j$("span.totContactedNotRespondCount").text(statisticalData.contacted);
		    j$("span.totScheduledCount").text(statisticalData.inSchedule);
		    j$("span.totToBeContactedCount").text(statisticalData.notContacted);
		    j$("span.totUndeliveredCount").text(statisticalData.unDelivered);
		}
		
		j$(document).ready(function(){
			//click event handling on distribution statistics strip.
			j$("td.showParticipantByClick").unbind().bind("click", function() {
				j$(".jbaraDummyDistributionStatusSelectControl").val(j$.trim(j$(this).attr('class')).split(' ')[1]);
				var sorCol = (typeof statePreservStringSD.SortColumns__c == 'string') ? j$.parseJSON(statePreservStringSD.SortColumns__c) : statePreservStringSD.SortColumns__c;
	        	sorCol = (sorCol) ? sorCol : {};
	        	sorCol['viewbystatus'] =  j$.trim(j$(this).attr('class')).split(' ')[1];
	        	statePreservStringSD.SortColumns__c = sorCol;
				processEntireState();
				toggleDistByParicipantStatus();				
			});
			
			j$("#chkWrapText").bind("click", function() {
                    setGridWrapping();
        	});
        	
		});	
			
        /**
        *Function to export transactions list grid data.
        */
        function surveyDetailExportClicked() {
        	//j$(".surveyDistributionDataToExport").val(getExportDataString(surveyDistributionGridId,j$(".jbaraDummyDistributionStatusSelectControl option:selected").text())); 
        	//bringToExportPage();
        	j$(".message").hide();
        	actSurveyParticipantDataExport();
        }
        
        function advancedSearchIconClicked(){
        	 j$(".message").hide();
           	if(refreshAdvanceSearchPanel){
           		actShowAdvanceSearchForm();
           	}
           	else {
           		showAdvanceSearchDailog();
           	}
   		 }
 		
 		 function showAdvanceSearchDailog(){
 		 		j$("#grdAdvanceSearchDialog").dialog({title :'Search Participants',modal: true,minWidth: 775,minHeight: 120,resizable: false});
           		refreshAdvanceSearchPanel=false;
         }
         
         function gridAdvanceSearchCallBackAfterClose(){
				 j$("#grdAdvanceSearchDialog").dialog("close");
		 }
		 
		 function gridAdvanceSearchCallBackAfterReset(){
			 	j$("#grdAdvanceSearchDialog").dialog("close");
		 }
		
		 function gridAdvanceSearchCallBackAfterSearch(strConditions){
					if(strConditions.length == 0)
						{	
							
							j$(".searchingIndicator").hide();
						}
					else{
							var serverSideFil = (typeof statePreservStringSD.ServerSideFilters__c == 'string') ? j$.parseJSON(statePreservStringSD.ServerSideFilters__c) : statePreservStringSD.ServerSideFilters__c;
							serverSideFil['advancefilters'] = strConditions	;
							statePreservStringSD.ServerSideFilters__c = serverSideFil;
							processEntireState();
							j$(".searchingIndicator").show();
					}
					j$(".hdnAdvanceSearchFilterJson").val(JSON.stringify(strConditions));
					j$("#grdPageBtnContainer").appendTo("body").hide();
					j$("#grdAdvanceSearchDialog").dialog("close");
					showOverLayForm();
					
					actRefreshAfterAdvanceSearch();
		 }
		
		 function changeAdvanceSearchFrameStyles(param){
		 	j$("#frmAdvanceSearch").height(param);
		 }
    </script>


	<apex:form >-->

		<!-- Action function to export the data code start. -->
		<!--<apex:actionFunction name="afterSendingSurveyThroughMail"
			action="{!afterSendingEmail}"
			reRender="rerenderApexMessages, renderSurveyDistributionList, refreshDistributionStatistics,pageBtnPanel"
			oncomplete="return hideApexPageMessageWithDelay('exportApexMsgId', 20000)">
			<apex:param name="afterSendEmailMsg" value="" />
		</apex:actionFunction>
		<apex:actionFunction name="afterDeleteSelectSurveyParticipant"
			action="{!afterDeleteParticipants}"
			reRender="rerenderApexMessages, renderSurveyDistributionList, refreshDistributionStatistics,pageBtnPanel"
			oncomplete="return hideApexPageMessageWithDelay('exportApexMsgId', 7500)">
			<apex:param name="afterPartcipantDeleteMsg" value="" />
		</apex:actionFunction>
		<apex:actionFunction name="changeParticipantStatus"
			action="{!refreshDistributionList}"
			reRender="rerenderApexMessages, renderSurveyDistributionList,pageBtnPanel"
			oncomplete="return hideApexPageMessageWithDelay('exportApexMsgId', 7500)" />
		<apex:actionFunction action="{!grdWithOffSetRefreshGrid}"
			name="queryWithOffSetByPage"
			reRender="renderSurveyDistributionList,pageBtnPanel">
			<apex:param name="grdPageNumber" value="" />
		</apex:actionFunction>
		<apex:actionFunction action="{!grdWithOffSetChangePageSize}"
			name="queryWithOffSetChangePageSize"
			reRender="renderSurveyDistributionList,pageBtnPanel">
			<apex:param name="grdPageSize" value="" />
		</apex:actionFunction>
		<apex:actionFunction action="{!grdOffSetPreviousClick}"
			name="queryWithOffSetPreviousClick"
			reRender="renderSurveyDistributionList,pageBtnPanel" />
		<apex:actionFunction action="{!grdOffSetNextClick}"
			name="queryWithOffSetNextClick"
			reRender="renderSurveyDistributionList,pageBtnPanel" />
		<apex:actionFunction action="{!grdWithOffSetSortByColumn}"
			name="actSortByCols"
			reRender="renderSurveyDistributionList,pageBtnPanel">
			<apex:param name="sortColumn" value="" />
			<apex:param name="sortOrder" value="" />
		</apex:actionFunction>
		<apex:actionFunction action="{!showAdvanceSearch}"
			name="actShowAdvanceSearchForm"
			reRender="grdAdvanceSearchPanelContainer"
			onComplete="showAdvanceSearchDailog();">
		</apex:actionFunction>
		<apex:actionFunction action="{!refreshAfterAdvanceSearch}"
			name="actRefreshAfterAdvanceSearch"
			reRender="renderSurveyDistributionList,pageBtnPanel">
		</apex:actionFunction>
		<apex:inputTextarea id="SelectedParticipantsListToScheduleOREmail"
			value="{!particiPantsIdsList}"
			styleClass="SelectedParticipantsListToScheduleOREmail"
			style="display:none" />
		<apex:InputText StyleClass="hdnAdvanceSearchFilterJson"
			value="{!advanceSearchFilterJsonString}" style="display:none;" />
		<apex:inputCheckbox value="{!resendEmail}"
			styleClass="resendEmailFlag" id="resendEmailFlag"
			style="display:none" />-->

		<!--Action function to initiate batch process -->
		<!--<apex:actionFunction name="actSurveyParticipantDataExport"
			action="{!initiateBatchProcessToExportSurveyDistributionData}"
			reRender="rerenderApexMessages"
			oncomplete="return hideApexPageMessageWithDelay('exportApexMsgId', 7500)" />
		<!-- Action function to export the data code end. -->
		<!--<iframe
			src="apex/FramePageForDML?callbackAfterDML=callBackAfterDMLFromFrame&callAfterStateSave=redirectPageByTabSelection"
			width="0" height="0" frameborder="0" id="childDMLOperationIframe"></iframe>

		<apex:pageBlock id="dummySurveyDistributionListPageBlock">
			<div id="SurveyDistributionStatistics" align="center">
				<apex:outputpanel rendered="{!isAnonymousSurvey}">
					<table align="center"
						style="margin-down: 10px; display: inline-block; margin-right: 5px;"
						cellspacing="0" cellpadding="0">
						<tr class="SurveyDistributionStatistics">
							<td valign="middle" class="showParticipantByClick Responded"
								style="padding: 15px; border: 1px solid #A6C9E2; border-radius: 5px;">
								<div class="participantStatusCls">
									<span class="notContactAnalyticsValues totRespondedCount"
										style="font-size: 22px; padding: 4px 15px;"> </span><br /> <span
										class="notContactAnalyticsText">Responded</span>
								</div>
							</td>
						</tr>
					</table>
				</apex:outputpanel>

				<table align="center"
					style="margin-down: 10px; display: inline-block;" cellspacing="0"
					cellpadding="0">
					<tr class="SurveyDistributionStatistics">
						<td valign="middle"
							style="border-left: 1px solid #A6C9E2; border-radius: 5px 0px 0px 5px;"
							class="showParticipantByClick All">
							<div class="participantStatusCls">
								<span class="analyticsValues totDistCount"></span><br /> <span
									class="analyticsText">In Distribution List</span>
							</div>
						</td>
						<td valign="middle"><span class="analyticsSym">=</span></td>
						<td valign="middle"><span class="totNotContactedCount">
								<table align="center" style="margin-down: 10px;" cellspacing="0"
									cellpadding="0" class="">
									<tr class="NotContactedSurveyDistributionStatistics">
										<apex:outputpanel rendered="{!IF(isAnonymousSurvey == False , true, false)}">
											<td valign="middle"
												style="border-left: 1px solid #A6C9E2; border-radius: 5px 0px 0px 5px;"
												class="showParticipantByClick Responded">
												<div class="participantStatusCls">
													<span class="notContactAnalyticsValues totRespondedCount"></span><br />
													<span class="notContactAnalyticsText">Responded</span>
												</div>
											</td>
											<td valign="middle"><span
												class="notContactAanalyticsSym">+</span></td>
											<td valign="middle"
												style="border-right: 1px solid #A6C9E2; border-radius: 0px 5px 5px 0px;"
												class="showParticipantByClick Contacted">
												<div class="participantStatusCls">
													<span
														class="notContactAnalyticsValues totContactedNotRespondCount"></span><br />
													<span class="notContactAnalyticsText">Not Responded</span>
												</div>
											</td>
										</apex:outputpanel>
										<apex:outputpanel rendered="{!IF(isAnonymousSurvey == true , true, false)}">
											<td valign="middle" style="border: none;"
												class="showParticipantByClick Contacted">
												<div class="participantStatusCls">
													<span
														class="notContactAnalyticsValues totContactedNotRespondCount"
														style="font-size: 22px;"></span><br /> <span
														class="notContactAnalyticsText" style="line-height: 20px;">Contacted</span>
												</div>
											</td>
										</apex:outputpanel>
									</tr>
								</table>
						</span> <apex:outputpanel rendered="{!IF(isAnonymousSurvey == False , true, false)}">
								<span class="analyticsText" style="border: none;">Contacted</span>
							</apex:outputpanel></td>
						<td valign="middle"><span class="analyticsSym">+</span></td>
						<td valign="top"><span class="totNotContactedCount">
								<table align="center" style="margin-down: 10px;" cellspacing="0"
									cellpadding="0" class="">
									<tr class="NotContactedSurveyDistributionStatistics">
										<td valign="middle"
											style="border-left: 1px solid #A6C9E2; border-radius: 5px 0px 0px 5px;"
											class="showParticipantByClick Inschedule">
											<div class="participantStatusCls">
												<span class="notContactAnalyticsValues totScheduledCount"></span><br />
												<span class="notContactAnalyticsText">Scheduled</span>
											</div>
										</td>
										<td valign="middle"><span class="notContactAanalyticsSym">+</span></td>
										<td valign="middle"
											style="border-right: 1px solid #A6C9E2; border-radius: 0px 5px 5px 0px;"
											class="showParticipantByClick Notcontacted">
											<div class="participantStatusCls">
												<span
													class="notContactAnalyticsValues totToBeContactedCount"></span><br />
												<span class="notContactAnalyticsText">To be contacted</span>
											</div>
										</td>
									</tr>
								</table>
						</span><span class="analyticsText" style="border: none;">Not
								Contacted</span></td>
						<td valign="middle" class="undelivered"><span
							class="analyticsSym">+</span></td>
						<td valign="middle"
							style="border-right: 1px solid #A6C9E2; border-radius: 0px 5px 5px 0px;"
							class="showParticipantByClick Undelivered">
							<div class="participantStatusCls">
								<span class="analyticsValues totUndeliveredCount"></span><br />
								<span class="analyticsText">Undelivered</span>
							</div>
						</td>

					</tr>
				</table>
			</div>
			<apex:outputpanel id="refreshDistributionStatistics">
				<apex:outputpanel rendered="{!showDistStatistics}">
					<script type="text/javascript">
		           	selSurveyDistStatistics = eval({!(DistStatusAndStatistics)});
		           	isAnonymousSurvey = "{!(isAnonymousSurvey)}";
		           	anonymousSurveyType = "{!(anonymousSurveyType)}";		           	
		           	populateDistributionStatistics(selSurveyDistStatistics);
					</script>
				</apex:outputpanel>
			</apex:outputpanel>

			<div class="dummyContainerForSpace" style="clear: both; width: 100%"></div>

			<apex:outputpanel id="rerenderApexMessages">
				<div class="AjaxLoadingButtonForProcessingSurveyDistribution"
					align="center" style="margin: 1px 0px 1px 0px; display: none;">
					<div class="waitingHolder" style="width: 254px; top: 25.8px;">
						<img src="/img/loading.gif" class="waitingImage"
							title="Please Wait..." /> <br /> <span
							class="waitingDescription">Loading...</span>
					</div>
				</div>
				<div id="exportApexMsgId">
					<apex:pageMessages rendered="{!showMsg}" />
				</div>
			</apex:outputpanel>


			<div class="actionButtonsForSurveyDistribution"
				style="height: 25px; min-height: 25px; margin-top: 2px;">
				<span class="filterSelectionByParticipantStatus"
					style="position: relative;"> <span
					class="distStatusLabel">View by status:&nbsp;</span> <apex:selectList value="{!distStatus}" size="1"
						StyleClass="jbaraDummyDistributionStatusSelectControl"
						onchange="toggleDistByParicipantStatus();"
						style="margin-bottom:2px;">
						<apex:selectOptions value="{!DistributionStatusOptionsList}" />
					</apex:selectList>
				</span> 

				<span class="actionButtonsBasedOnSelection" align="center"
					style="position: relative; left:150px;">
					<span
                    class="distFromAddLabel">From Address:&nbsp;</span>
                    <apex:selectList value="{!fromAddress}" size="1" styleClass="distributionFromAddress">
                                                                    <apex:selectOptions value="{!fromEmailAddress}" />
                                                        </apex:selectList>
					 <input type="button"
					value="Send Email"
					onclick="sendMailtoSelectionParticipantsList();return false;"
					width="70px" class="btnToSendMail distActionBtn" /> <input
					type="button" value="Resend Email"
					onclick="resendMailtoSelectionParticipantsList();return false;"
					width="70px" class="btnToReSendMail distActionBtn" /> <input
					type="button" value="Delete"
					onclick="deleteSelectedParticipantsList();return false;"
					width="70px" class="btnToDeleteParticipants distActionBtn" />
				</span> <span class="commonActionBtnForDistribution"
					style="position: relative; float: right;"> <input
					type="button" value="Add Participants"
					onclick="addMailList();return false;" width="70px"
					class="participantsAddBtn" /> <input type="button"
					value="View Schedules"
					onclick="viewSchedulesBySurvey();return false;" width="70px"
					class="scheduleOperationsBtn" />
				</span>
			</div>
			<div class="AjaxLoadingButtonForshowDistListByParticipantStatus"
				align="center" style="margin: 100px 0px 100px 0px; display: none;">
				<div class="waitingHolder" style="width: 254px; top: 25.8px;">
					<img src="/img/loading.gif" class="waitingImage"
						title="Please Wait..." /> <br /> <span
						class="waitingDescription">Loading...</span>
				</div>
			</div>

			<br />
			<span Id="jBaraUICaseViewValidationsContainer"></span>
			<div
				class="headerSurveyDistributionGridDiv  ui-jqgrid-titlebar ui-widget-header ui-corner-top"
				style="height: 25px; min-height: 25px; display: none;">
				<span class="searchingIndicator"
					style="float: left; margin-top: 3px; margin-left: 4px; display: none;"><img
					src="/img/icon/forecasts16.png" /> Search Results</span>
				<div
					style="right: 20px; display: inline; float: right; cursor: pointer; font-weight: normal; padding: 5px;">
					<input type="checkbox" id="chkWrapText" /> Wrap Lines&nbsp;&nbsp;
					<span class="ui-icon ui-icon-search dummygrdAdvancedSearch"
						onclick="advancedSearchIconClicked()"
						style="display: inline-block; vertical-align: bottom; cursor: pointer;"
						title="Search"></span> &nbsp;&nbsp; <a
						onclick="surveyDetailExportClicked()" title="export"
						style="color: #FFF">Export</a>
				</div>
			</div>
			<div id='surveyDistributionListContainer'></div>
			<div id="grdPageBtnContainer" style="display: none;"
				class="ui-state-default ui-jqgrid-pager ui-corner-bottom" dir="ltr">
				<apex:outputPanel id="pageBtnPanel"
					StyleClass="grdHiddenDynamicPgBtn">
					<div role="group" class="ui-pager-control" id="pg_plist">
						<table cellspacing="0" cellpadding="0" border="0" role="row"
							style="width: 100%; table-layout: fixed; height: 100%;"
							class="ui-pg-table">
							<tbody>
								<tr>
									<td align="left" id="plist_left">&nbsp;</td>
									<td align="center" style="width: 265px;" id="plist_center">
										<table cellspacing="0" cellpadding="0" border="0"
											class="ui-pg-table" style="table-layout: auto;">
											<tbody>
												<tr>
													<td class="ui-pg-button ui-corner-all"
														id="grdFirstPageLink" style="cursor: pointer;"
														onClick="queryWithOffSetByPage(1);return false;"><span
														class="ui-icon ui-icon-seek-first"></span></td>
													<td class="ui-pg-button ui-corner-all" id="grdPrevPageLink"
														style="cursor: pointer;"
														onClick="queryWithOffSetPreviousClick();return false;"><span
														class="ui-icon ui-icon-seek-prev"></span></td>
													<td style="width: 4px; cursor: default;"
														class="ui-pg-button ui-state-disabled"><span
														class="ui-separator"></span></td>
													<td dir="ltr">Page <apex:inputText StyleClass="ui-pg-input" size="2" maxlength="7" /> of <span
														id="pgCount" style="display: none;"></span> <apex:inputText style="display:none;" />
													</td>
													<td style="width: 4px; cursor: default;"
														class="ui-pg-button ui-state-disabled"><span
														class="ui-separator"></span></td>
													<td class="ui-pg-button ui-corner-all" id="grdNextPageLink"
														style="cursor: pointer;"><span
														class="ui-icon ui-icon-seek-next"></span></td>
													<td class="ui-pg-button ui-corner-all" id="grdLastPageLink"
														style="cursor: pointer;"><span
														class="ui-icon ui-icon-seek-end"></span></td>
													<td dir="ltr">-->
														<!-- 
					                                        <select role="listbox" class="ui-pg-selbox">
					                                            <option value="100" role="option">100</option>
					                                            <option value="200" role="option">200</option>
					                                            <option value="300" role="option">300</option>
					                                        </select> -->
													<!--</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td align="right" id="plist_right">
										<div class="ui-paging-info"
											style="text-align: right; display: none;" dir="ltr">
											View {!GrdPageStartRecordCounter} -
											{!GrdPageEndRecordCounter} of <span id="pgTotalRecordCount">
												{!GrdTotalRecordCount}</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<script>
	                		var intRecordCount =parseInt('{!(GrdTotalRecordCount)}');
	                		var maxPagecount =parseInt('{!(GrdOffSetTotalPages)}');
	                		var offSetSize =parseInt('{!(grdOffSetListSize)}');
	                		j$("#grdPageBtnContainer").find("#pgCount").html(maxPagecount);
	                		if(isExternalServicesEnalbed === true) {
	                			j$(".distributionFromAddress,.distFromAddLabel").css({"visbility" : "hidden"});
	                		}
	                		if(intRecordCount>2000){
	                			
	                			j$("#pgTotalRecordCount").html('2000+');
	                			if(offSetSize==100){
	                				maxPagecount=20;
	                			}
	                			else if(offSetSize==200){
	                				maxPagecount=10;
	                			}
	                			else {
	                				maxPagecount=7;
	                			}
	                			j$("#grdPageBtnContainer").find("#pgCount").html(maxPagecount + '+');	
	                			
	                		}
	                		
	                		j$("#grdPageBtnContainer").find("#pgCount").show();	
	                    	
	                    	if('{!(GrdOffSetDisablePrevious)}'=='true'){
	                    		j$("#grdPageBtnContainer").find("#grdPrevPageLink").addClass("ui-state-disabled").removeAttr("onClick");
	                    		
	                    	}
	                    	if('{!(GrdOffSetDisableNext)}'=='true'){
	                    		j$("#grdPageBtnContainer").find("#grdNextPageLink").addClass("ui-state-disabled").removeAttr("onClick");
	                    	}
	                    	if('{!(GrdTotalRecordCount)}'=='0'){
	                    		j$("#grdPageBtnContainer").find(".ui-paging-info").html('No records to view').show();
	                    		j$("#grdPageBtnContainer").find(".ui-pg-input").val(0).attr("disabled","disabled");
	                    		j$("#grdPageBtnContainer").find(".ui-pg-selbox").val('{!(GrdoffSetListSize)}').attr("disabled","disabled");;
	                    	}
	                    	else {
	                    		j$("#grdPageBtnContainer").find(".ui-paging-info").show();
	                    		j$("#grdPageBtnContainer").find(".ui-pg-input").val('{!(GrdOffSetPageNumber)}').unbind("keyup").bind("keyup",function(event){
	                    			this.value = this.value.replace(/[^0-9\.]/g,'');
	                    			if(event.which==13 && j$.trim(this.value!='')){
	                    				if(parseInt(this.value)<=maxPagecount){
	                    					reloadGrid=true;
	                    					queryWithOffSetByPage(parseInt(this.value));
	                    				}
	                    				else {
	                    					this.value = '{!(GrdOffSetPageNumber)}';
	                    				}
	                    			}
	                    			
	                    			
	                    		});
	                    		j$("#grdPageBtnContainer").find(".ui-pg-selbox").bind("change",function(){
	                    			reloadGrid=true;
	                    			queryWithOffSetChangePageSize(j$(this).val());
	                    		});
	                    		j$("#grdPageBtnContainer").find(".ui-pg-selbox").val('{!(GrdoffSetListSize)}');
	                    	}
	                    	if(maxPagecount==parseInt(j$("#grdPageBtnContainer").find(".ui-pg-input").val())){
	                    		j$("#grdPageBtnContainer").find("#grdNextPageLink").addClass("ui-state-disabled").removeAttr("onClick");
	                    		j$("#grdPageBtnContainer").find("#grdLastPageLink").addClass("ui-state-disabled").removeAttr("onClick");
	                    	}
	                    	else {
	                    		j$("#grdPageBtnContainer").find("#grdNextPageLink").unbind("click").bind("click",function(){
	                    			queryWithOffSetNextClick();
	                    			return false;
	                    		});
	                    		j$("#grdPageBtnContainer").find("#grdLastPageLink").unbind("click").bind("click",function(){
	                    			queryWithOffSetByPage(maxPagecount);
	                    			return false;
	                    		});
	                    	}
                    		/*var $target = j$('html,body');
							$target.animate({scrollTop: 0}, 1000);*/
	                    </script>

				</apex:outputPanel>
			</div>


		</apex:pageBlock>

	</apex:form>

	<apex:outputpanel id="renderSurveyDistributionList">
		<script type="text/javascript">
            var sortColumn,sortOrder;
            participantsListBySurvey =  eval({!(AllParticipantsListBySurvey)});
            enableViewScheduleBtn = eval({!(hasParticipantsLinkedToContact)});
            selSurveyId = "{!(surveyId)}"; 
            selSurveyStatus = "{!(surveyStatus)}";
            surveyInternalSubmit = "{!(surveyInternalSubmit)}";
            surveyPublishedUrl = "{!(surveyPublishedUrl)}";
            selParticipantStatus = "{!(distStatus)}";
            surveyUIViewColumnsStr =  eval({!(surveyUIViewColumnsStr)});
            viewSortableColumnList = eval({!(UIViewsSortableColumnsOnly)});
            buildSurveyViewColumnModel(surveyUIViewColumnsStr, selParticipantStatus);
            externalObjectLookupFieldName = '{!(externalObjectLookupFieldName)}';
            showUnCaughtError();
            //If survey is closed we are disable all the action button on the distribution.
            if(selSurveyStatus == "Closed") {
            	j$(".participantsAddBtn, .scheduleOperationsBtn, .distActionBtn").attr("disabled", true);
            }
            j$(".jbaraDummyDistributionStatusSelectControl").val(selParticipantStatus);
            
            var is_chrome_browser = /chrome/.test(navigator.userAgent.toLowerCase()); 
            if((selParticipantStatus == "Responded" || selParticipantStatus == "All") && (!is_chrome_browser))  {j$(".filterSelectionByParticipantStatus").css('bottom', '-3px'); }
            else {j$(".filterSelectionByParticipantStatus").css('bottom', '0px'); }
            if(selParticipantStatus == "Undelivered") {
            	participantsListBySurvey = getSurveyUndeliveredParticipantDetailsData(participantsListBySurvey, selParticipantStatus);
            }
            else {
            	participantsListBySurvey = getSurveyParticipantDetailsData(participantsListBySurvey, selParticipantStatus);
            }
            
            toggleActionbuttonsByStatus(selParticipantStatus);
            
            //If there is no participants in the seleted category we are hiding actionbuttons.
            if(participantsListBySurvey.length <= 0) {
            	j$(".distActionBtn").hide();
            }
            sortColumn= '{!(clientSortColumnName)}';
            sortOrder='{!(grdSortOrder)}';
            bindSurveyParticipantListGrid(participantsListBySurvey, selParticipantStatus,sortColumn,sortOrder);
            
            function showUnCaughtError(){
				if("{!(unCaughtErrorMsg)}"!=""){
					var errorList= new Array();
					errorItem = new JBaraErrorClass();
						errorItem.header = '';
						errorItem.msg	 =  "{!(unCaughtErrorMsg)}";
						errorList.push(errorItem);
						j$("#noCasesListMessages").hide();
						j$(".jbWrapText").hide(); 
					showJBaraValidationErrors('jBaraUICaseViewValidationsContainer',errorList);
				}
				else {
					j$("#jBaraUICaseViewValidationsContainer").html("").hide();
				}
			}
            
 		</script>
	</apex:outputpanel>


	<div id="grdAdvanceSearchDialog" style="display: none;">
		<apex:outputPanel id="grdAdvanceSearchPanelContainer">
			<apex:outputpanel rendered="{!renderAdvanceSearchPanel}">
				<iframe id="frmAdvanceSearch"
					src="apex/AdvanceSearchIFrame?inline=1&SearchtabName=SurveyDistribution&externalObjectName={!externalObjectName}&externalObjectLookupFieldName={!externalObjectLookupFieldName}&callbackAfterSearch=gridAdvanceSearchCallBackAfterSearch&callbackAfterReset=gridAdvanceSearchCallBackAfterReset&callbackAfterClose=gridAdvanceSearchCallBackAfterClose"
					width="735" height="120" frameborder="0"></iframe>
		</apex:outputPanel>
		</apex:outputPanel>
	</div>
	<div class="overlayBackground jbaraDummyOverLayForm"
		style="position: absolute; display: none;" align="center">
		<div class="waitingHolder"
			style="margin-top: 400px; width: 174px; height: 25px;" align="center">
			<img src="/img/loading.gif" class="waitingImage"
				title="Please Wait..." /> <span class="waitingDescription"
				style="color: #FFFFFF;">Loading...</span>
		</div>
	</div>-->
	
</apex:component>