<!-- Copyright (c) 2012 JBara Software, Inc.
----- Purpose: This component is to build the time range selection.
----- Other comments (optional):
-->
<apex:component Controller="JBCXM.TransactionForm" allowDML="true">

  	<apex:attribute assignTo="{!callBackAfterSave}" description="Callback function  after save" name="callBackAfterSave" type="String" />
	<apex:attribute assignTo="{!callBackAfterCancel}" description="Callback function after cancel" name="callBackAfterCancel" type="String" />
	<apex:attribute assignTo="{!customerId}" description="Customer Id to Add Transaction" name="customerId" type="String" />
	<apex:attribute assignTo="{!opportunityId}" description="Opportunity Id to Add Transaction" name="opportunityId" type="String" />
	<apex:attribute assignTo="{!transactionId}" description="Id to edit Transaction" name="transactionId" type="String" />
	<apex:attribute assignTo="{!formType}" description="Transaction booking Type" name="orderType" type="String" />

	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-1.5.2.min.js'))}"/>
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'css/redmond/jquery-ui-1.8.11.custom.css'))}"/>	
	<apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__appStyles, 'transaction.css'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'miscscripts/jquery.limit-1.2.source.js'))}"/>
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/jbaraCustomUtility.js'))}" />
	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__CustomJS, 'CustomJS/date.format.js'))}" />

	<apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__JQuery,'js/jquery-ui-1.8.13.custom.min.js'))}" />
    <apex:includeScript value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/jquery.multiple.select.js'))}" />
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSVendor, 'js/vendor/multiple-select/multiple-select.css'))}" />
 
    <apex:stylesheet value="{!JSENCODE(URLFOR($Resource.JBCXM__GSAppCSS, 'css/gsGlobal.css'))}" />
    
	<style type="text/css">
		.messageText {
			position:relative;
			bottom:-5px;
		}
		.transaction-Details td{
		    padding-bottom: 3px;
		    padding-right: 5px;
		    vertical-align: top;
		}
		.opportunityMru{
			background-image: url("/img/sprites/master.png");
			background-position: 0 -242px;
			height: 18px;
			width: 16px;
		}
		.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
		    font-size: 1em;
		}
		a.opprtBTSelLink {
			color: #CC0000;
			cursor: pointer;
		}

		/**
		*Confirmation UI CSS
		**/
		.gs_tsn_confirmation {
			font-size: 13px;
			padding: 15px;
		}
		.gs_tsn_confirmation .gs_tsn_title {
			font-size: 15px;
			padding: 8px 0px;
		}
		.gs_tsn_confirmation_table {
			border-top: solid 1px #ccc;
			border-left: solid 1px #ccc;
		}
		.gs_tsn_confirmation_table td, .gs_tsn_confirmation_table th {
			border-bottom: solid 1px #ccc;
			border-right: solid 1px #ccc;
			padding: 8px;
		}
		.gs_tsn_confirmation_table th {
			background: #f2f2f2;
			text-align: center;
		}
		.gs_tsn_confirmation_table td {
			text-align: right;
		}
		.gs_tsn_con_flag {
			padding-top:10px;
		}		
		.customer-name-text.gs-search-comp {
			width: 230px !important;
			padding-right:20px !important;
		}
		a.buttonClass, .btn-save:hover, .btn-cancel:hover, a.buttonClass:hover{
		    box-shadow: none !important;
		    padding:7px 19px !important;}
		.modal-dialog-view div.modal div.modal-header h2{
		    font-family: "HelveticaNeueRegular" , "Arial" !important;
		    font-size:14px;
		  }
	    .modal-dialog-view label{
		    margin-right: 4px;
		  }
		 .modal-dialog-view div.modal div.modal-footer{
		     border-top: none !important;
		  }
		  .form-field-view select.jbaraDummyOpportunitySelectCtrl {
		  	width:190px;
		  }
	</style>
	<script type="text/javascript">
	var j$ = jQuery.noConflict();
	var TransactionBT; //Transaction booking Type.
	var defaultTransOrderTypeOption, defaultTransOrderTypeId;
	var transactionErrorslist, transactionErrorObj, errorMsgText; //It stores the validation errors while saving if there any.
	var parentMRRTotal, parentUsersTotal, parentOneTimeTotal, currentTransMRRTotal, currentTransUsersTotal, currentTransOneTimeTotal, selParentTransactionTag;
	var tbDate, tssDate, tseDate; //These variable represents the Transaction dates.
	var dummyTransMRRTotal, dummyTransASVTotal, dummyTransUsersCount, dummyTransOTR, dummyTransOrderType, dummyParentId; //These variable are used while editing Downsell and Debook Transactions. 
	var isCustomerExists, isCustomerHasTransactions, isOpportunityExists, isTransactionIdExists, isFormTypeExists, selOpportunityId, selectedCustomerId;
	var transEditableFrmOpprt, transCustName, dateTimeFormatByLocaleMap, picklistDetailsMapById, confirmMsgToCloseTransRS;
	var newBusinessTransId;
	var dsConfirmDataObj;
	var isTransEditInOpprt = false;
	isCustomerExists 			= "false";
	isCustomerHasTransactions 	= "false";
	isOpportunityExists 		= "false";
	isTransactionIdExists 		= "false";
	isFormTypeExists 			= "false";
	transEditableFrmOpprt 		= true;
	transCustName		  		= '';
	var oppIDForOppWid;
	var isASVCalByTerm			= 'false';
	var ftToCalASV				= 12;

	//To handle the currency symbol.
	var currencyConfigObject	= eval({!(currencyConfigJSON)});
	/**
	*This function was called when on focus on date fields.
	*/

	 function jbaraDateInputControl(thisPointer) {
     	var obj=j$("body").find(".datePicker")[0];
      	j$("body").append(obj);
      	j$("#datePicker").css({
            'zIndex': '15001'
        });
      	DatePicker.pickDate(true, thisPointer.id, false);
     }
     
     function getSystemNameById(pickListId) {
     	return (picklistDetailsMapById[pickListId]) ? ((picklistDetailsMapById[pickListId]['MapToBookingType__c']) ?  j$.trim((picklistDetailsMapById[pickListId]['MapToBookingType__c'])) : ''): ''; 
     }

	/**
	*This function was called when customer change.
	*/
	function onCustomerChange(custName,custId) {
		selectedCustomerId = custId;
		j$(".theHiddenCustomerId").val(custId);
		customerChange(custId);
	}

	j$(document).ready(function () {
		oppIDForOppWid = '{!(opportunityId)}';
		if(oppIDForOppWid != '' && oppIDForOppWid != null && oppIDForOppWid != undefined) {
			setTimeout(function() {
				componentInitialize();	
			},1000);
		}
		else {
			componentInitialize();
		}		
	});

	function updateMRRAndASV(thisPointer) {
		var ftVal = (j$(thisPointer).parent().parent().find("span.dummyFTermDetails").text() == '') ? null : parseFloat(j$(thisPointer).parent().parent().find("span.dummyFTermDetails").text());
		ftToCalASV = 12;
		if(isASVCalByTerm == 'true') {
			ftToCalASV = (ftVal == null) ? 12 : ftVal;
			ftToCalASV = (ftToCalASV < 12) ? ftToCalASV : 12;
			j$(".recurringMRR").each(function() {
				j$(this).val('');
				j$(this).parent().parent().find("td .recurringASV").val('');	
			});
		}
	}

	/**
	*This function was called when initialize the component.
	*/
	function initialLoad() {
		dateTimeFormatByLocaleMap	= eval({!(dateTimeFormatByLocale)});

		j$(".componentTranInputForm").show();
		j$(".jbaraDummyBookingOrderSelectCtrl, .jbaraDummyOpportunitySelectCtrl").attr('disabled', true); //To disable the OrderType selection by default.
		j$("span.OpprtShowAllToggle").hide(); //To hide the "Show ALL" check box.

		j$(".jbaraDummyBookingOrderSelectCtrl").change(function() {
	    	//var selectedTransLineItem = j$.trim(j$(".jbaraDummyBookingOrderSelectCtrl option:selected").text());
	    	var selectedTransLineItem = getSystemNameById(j$.trim(j$(this).val()));
	    	toggleTransactionForm(selectedTransLineItem);
	    	transactionOrderTypeChange(j$.trim(j$(this).val()));
	    });

	    //Code to Handle the new business order type based on the customer has transactions are not.
	    j$(".jbaraDummyBookingOrderSelectCtrl option").each(function() {
              if(j$(this).val() == newBusinessTransId) {
              	  defaultTransOrderTypeId = j$.trim(j$(this).val());
              }
        });
        
        if(isCustomerHasTransactions == "true" && isOpportunityExists == "true" && isTransactionIdExists == "false") {
        	j$(".jbaraDummyBookingOrderSelectCtrl").removeAttr("disabled");
        }


	    if(j$.browser.msie){
       		j$('.modal-header').css({'background':'url("/img/alohaSkin/overlayTopLft.png") no-repeat scroll left top transparent'});
       	}

       	//The below line of code only fires from Account control and customer 360 page.
       	if(isCustomerExists == "true") {
       		if(isTransactionIdExists == "false") {
       			j$(".jbaraDummyBookingOrderSelectCtrl, .jbaraDummyOpportunitySelectCtrl").removeAttr("disabled");
       			j$("span.OpprtShowAllToggle").show(); //To show the "Show ALL" check box.
				j$(".jbaraDummyOpportunitySelectCtrl").val('0');

				if(isCustomerHasTransactions == "false") {
					j$(".jbaraDummyBookingOrderSelectCtrl").val(defaultTransOrderTypeId);
					j$(".jbaraDummyBookingOrderSelectCtrl").attr('disabled', true); //To disable the OrderType selection by default.
					j$("span.OpprtShowAllToggle").hide(); //To hide the "Show ALL" check box.
				}

				j$(".transactionComments").val('');
				j$("span.charsLeftTransactionsComment").text(4096);
       		}
       	}
       	
       	//To enable the Opportunity while editing Transaction, that transaction does not linked to Opportunity.       	
		if((selOpportunityId == "0" || selOpportunityId == "") && isTransactionIdExists == "true") {
			j$(".jbaraDummyOpportunitySelectCtrl").removeAttr("disabled");
			j$("span.OpprtShowAllToggle").show();
		}

       	//The below line of code only fires from churn page.
       	if(isFormTypeExists == "true") {
       		toggleTransactionForm("Churn");
       	}
       	else {
       		if(isTransactionIdExists == "true") {
	       		//toggleTransactionForm(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl option:selected").text()));
	       		toggleTransactionForm(getSystemNameById(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl").val())));

	       		//This code will excuted while editing downsell and Debook Transactions.
				if((dummyTransOrderType == "Downsell" || dummyTransOrderType == "Debook" || dummyTransOrderType == "Upsell") && (dummyParentId.length > 0)) {
					j$(".transSubEndDate").attr("disabled", "true");
					j$("span.parentTransactionListToAssociate").each(function() {						
						selParentTransactionTag = false;
		   				j$(this).find("input").each(function() {
		   					selParentTransactionTag = (j$(this).attr('checked')) ? true : false;

		   				});
		   				if(selParentTransactionTag) { 
		   					ftToCalASV = (j$.trim(j$(this).find("span.dummyFTermDetails").text()).length > 0) ? parseFloat((j$(this).find("span.dummyFTermDetails").text()).replace(/,/g, '')) : 12;
						}   			
			   			//if(selParentTransactionTag) {			   				
			   				var dummyParentOneTimeTotal = (j$.trim(j$(this).find("span.dummyOneTimeTotal").text()).length > 0) ? 
			   								((selParentTransactionTag) ? (parseFloat((j$(this).find("span.dummyOneTimeTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))+dummyTransOTR) : parseFloat((j$(this).find("span.dummyOneTimeTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))) 
			   								: ((selParentTransactionTag) ? dummyTransOTR : 0);
			   				j$(this).find("span.dummyOneTimeTotal").attr('title', dummyParentOneTimeTotal);
			   				j$(this).find("span.dummyOneTimeTotal").text(formatNumber(dummyParentOneTimeTotal));

			   				var dummyParentMRRTotal = (j$.trim(j$(this).find("span.dummyMRRTotal").text()).length > 0) ? 
			   								((selParentTransactionTag) ? (parseFloat((j$(this).find("span.dummyMRRTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))+dummyTransMRRTotal) : parseFloat((j$(this).find("span.dummyMRRTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))) 
			   								: ((selParentTransactionTag) ? dummyTransMRRTotal : 0);
			   				j$(this).find("span.dummyMRRTotal").attr('title', dummyParentMRRTotal);
			   				j$(this).find("span.dummyMRRTotal").text(formatNumber(dummyParentMRRTotal));

			   				var dummyParentASVTotal = (j$.trim(j$(this).find("span.dummyASVTotal").text()).length > 0) ? 
			   								((selParentTransactionTag) ? (parseFloat((j$(this).find("span.dummyASVTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))+dummyTransASVTotal) : parseFloat((j$(this).find("span.dummyASVTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''))) 
			   								:((selParentTransactionTag) ? dummyTransASVTotal : 0);
			   				j$(this).find("span.dummyASVTotal").attr('title', dummyParentASVTotal);
			   				j$(this).find("span.dummyASVTotal").text(formatNumber(dummyParentASVTotal));


			   				var dummyParentUsersTotal = (j$.trim(j$(this).find("span.dummyUsersTotal").text()).length > 0) ? 
			   								((selParentTransactionTag) ? (parseInt((j$(this).find("span.dummyUsersTotal").text()).replace(/,/g, ''))+dummyTransUsersCount) : parseInt((j$(this).find("span.dummyUsersTotal").text()).replace(/,/g, ''))) 
			   								: ((selParentTransactionTag) ? dummyTransUsersCount : 0);
			   				j$(this).find("span.dummyUsersTotal").attr('title', dummyParentUsersTotal);
			   				j$(this).find("span.dummyUsersTotal").text(formatNumber(dummyParentUsersTotal).replace(currencyConfigObject.symbol, '')); 	
			   			//}
			   		});		
			   	}

			   	if(isASVCalByTerm == 'true') {
					if(dummyTransOrderType != "Downsell" && dummyTransOrderType != "Debook") {
						ftToCalASV = (j$(".fractionalTerm").val() == '') ? 12 : ((parseFloat(j$(".fractionalTerm").val()) < 12) ? parseFloat(j$(".fractionalTerm").val()) : 12); 
					}
					j$(".recurringMRR").each(function() { populateASV(this); });
				}
	       	}
       	}
       	
       	if(selOpportunityId != "0" && isTransactionIdExists != "true") {
			if(isASVCalByTerm == 'true') {
				ftToCalASV = (j$(".fractionalTerm").val() == '') ? 12 : ((parseFloat(j$(".fractionalTerm").val()) < 12) ? parseFloat(j$(".fractionalTerm").val()) : 12); 
				j$(".recurringMRR").each(function() { populateASV(this); });
			}
		}
     	
     	//Term adjustments.
     	if(parseFloat(j$(".fractionalTerm").val()) == 0) {
     		j$(".fractionalTerm").val('');
     	} 
     	
     	//Attach bind event to save and cancel buttons 	
     	j$(".jBaraTransactionCompSaveBtn").unbind("click").bind("click",function(){
     		btnSaveClicked();
     	});
     	
     	j$(".jBaraTransactionCompCancelBtn, .ui-icon-CompCancelBtn").unbind("click").bind("click",function(){
     		btnCancelClicked();
     	}); 
     	
     	j$(".gsMarkNotRenewable").unbind("click").bind("click",function() {
     		if(parseInt(j$.trim(j$("input[name=toggleParentTransactionRenewableStatus]:checked").val())) == 1) {
     			j$(".chkBoxconfirmationCheckBox").attr("checked", true);
     		}
     		else {
     			j$(".chkBoxconfirmationCheckBox").removeAttr("checked");
     		}
     		jbaraShowSavingIcon();
			saveClicked();
     	});
     	
     	j$(".gsDonotMarkNotRenewable").unbind("click").bind("click",function() {
    		j$(".modal-sheet-contentMain, .TransCrudActions").show();
    		j$(".clsToHandleToMarkTransactionHasNotRenewable, .clsToggleNotRenewable").hide();
    		j$(".clsToHandleToMarkTransactionHasNotRenewable").html('');
     	});
     	
     	//The below code only calls from opportunity widget while edit mode only.
     	if((isTransactionIdExists == "true") && (isOpportunityExists == "true")) {
     		isTransEditInOpprt = true;
     		j$(".modal-header h2").text("Transaction");
     		j$(".jBaraTransactionCompSaveBtn, .jBaraTransactionCompCancelBtn").hide();
     		j$(".jBaraTransactionCompEditBtn").show();
     		j$(".transFormCompontntCls input, .transFormCompontntCls textarea, .churnReasonSelectCtrl").attr("disabled", true);
     		
     		j$(".jBaraTransactionCompEditBtn").unbind("click").bind("click",function() {	
     			if(!transEditableFrmOpprt) {
     				alert('Customer "'+transCustName+'" is a churned customer and transaction cannot be edited. \n If you need to edit the transactions, reactivate the customer by deleting the churn transaction');
     			}
     			else {
     				j$(this).hide();
		     		j$(".modal-header h2").text("Edit Transaction");
		     		j$(".jBaraTransactionCompSaveBtn, .jBaraTransactionCompCancelBtn").show();
		     		j$(".transFormCompontntCls input, .transFormCompontntCls textarea, .churnReasonSelectCtrl").removeAttr("disabled");
		     		j$(".fractionalTerm").attr("disabled", true);
     			}

	     	});     		
     	}
     	else {
     		j$(".jBaraTransactionCompEditBtn").remove();	
     	}
     	
     	//The below code calls from Opportunity widget only.
     	if(isOpportunityExists == "true") {
     		toggleTransactionForm(dummyTransOrderType);
     	}
     	
     	if(isCustomerHasTransactions == "true" && isOpportunityExists == "true" && isTransactionIdExists == "false" && dummyTransOrderType.length == 0) {
        	j$(".OpportunityBTNotMatchedFrmOpprt").show();
        	j$(".transFormCompontntCls").hide();
        }
     	
     	applyMultiSelect();
        j$('.lookupIconOn, .lookupIcon').hide();
	}

	function applyMultiSelect()
    {
        j$('.jbaraDummyOpportunitySelectCtrl, .jbaraDummyBookingOrderSelectCtrl, .churnReasonSelectCtrl').multiselect('destroy');
        j$('.jbaraDummyOpportunitySelectCtrl, .jbaraDummyBookingOrderSelectCtrl, .churnReasonSelectCtrl').multiselect({
                        multiple: false,
                        header:false,
                        selectedList: 1,
                        minWidth:190,
                        height:'auto'
                    });     
    }

	/**
	*This function will fire when you click on the "click here" text.
	**/
	function loadTransFormByOpprt() {
		j$(".transFormCompontntCls").show();
        j$(".OpportunityBTNotMatchedFrmOpprt").hide();
	}
	function jbaraShowSavingIcon(adminInputFormClass){
       if(oppIDForOppWid != '' && oppIDForOppWid != null && oppIDForOppWid != undefined) { 
    		var overLayHeight = j$(window).height();
	        var overLayWidth  = j$(window).width();
	        j$(".jbaraDummyOverLayFormForOpp").css({
	             'z-index': '999999',
	             'left': 0,
	             'position': 'fixed',
	             'width': overLayWidth,
	             'height': overLayHeight
			}).show();   
	   }
    }
	/**
	*This function will fire when you change the booking type.
	**/
	function toggleTransactionForm(selectedTransLineItem) {
		if (selectedTransLineItem) {
				if(!isTransEditInOpprt) {
					j$(".transSubEndDate").removeAttr("disabled");
				}

				switch(selectedTransLineItem) {

					case "Select Booking type":
						j$(".trans-SubscriptionStartDateLbl").text("Subscription Start:");
						j$(".trans-SubscriptionEndDate, .trans-term").show();
						break;

					case "New Business":
						j$(".trans-SubscriptionStartDateLbl").text("Subscription Start:");
						j$(".trans-SubscriptionEndDate, .trans-term").show();
						break;

					case "Upsell":
						j$(".trans-SubscriptionStartDateLbl").text("Subscription Start:");
						j$(".trans-SubscriptionEndDate, .trans-term").show();
						break;

					case "Renewal":
						j$(".trans-SubscriptionStartDateLbl").text("Subscription Start:");
						j$(".trans-SubscriptionEndDate, .trans-term").show();
						break;

				    case "Downsell":
						j$(".trans-SubscriptionStartDateLbl").text("Effective Date:");
						j$(".trans-SubscriptionEndDate, .trans-term").hide();
						break;

					case "Debook":
						j$(".trans-SubscriptionStartDateLbl").text("Effective Date:");
						j$(".trans-SubscriptionEndDate, .trans-term").hide();
						break;

					case "Churn":
	            		j$(".trans-SubscriptionStartDateLbl").text("Effective Date:");
	            		j$(".trans-SubscriptionEndDate, .trans-term").hide();
						break;
      			}

			}else{
	        	j$(".transaction-Details").show();
	        	j$(".transaction-Churn").hide();
	        }
	        if(j$.trim(j$(".transSubStartDate").val()) == '' || j$.trim(j$(".transSubEndDate").val()) == '') {
	        	j$(".trans-term").val('');
	        }
	}


	/**
	*This function populate's the ASV Based on the MRR.
	*/
	function populateASV(thisPointer) {
		inputVal = j$(thisPointer).val();
		if(!isNaN(inputVal) && inputVal.length > 0) {
			var fractionalTermVal = 12;			
			if(isASVCalByTerm == 'true') {
				fractionalTermVal = popualteTermToCalculateASV();
			}
			j$(thisPointer).parent().parent().find("td .recurringASV").val((inputVal*fractionalTermVal).toFixed(2));
			j$(thisPointer).val((inputVal*1).toFixed(2));
		}
		else {
			j$(thisPointer).parent().parent().find("td .recurringASV").val('');	
		}
	}

	/***
	*This is used to get the fractional term to calculate the ASV.
	**/
	function popualteTermToCalculateASV() {
		var selectedOrderType = getSystemNameById(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl").val()));
		var fractTermVal;
		if(selectedOrderType == "Downsell" || selectedOrderType == "Debook") {
			fractTermVal = ftToCalASV;
		}
		else {
			fractTermVal = (j$.trim(j$(".fractionalTerm").val()) != '' && parseFloat(j$.trim(j$(".fractionalTerm").val())) < 12) ? parseFloat(j$.trim(j$(".fractionalTerm").val())) : 12;
		}
		fractTermVal = (fractTermVal < 12) ? fractTermVal : 12;
		return fractTermVal; 
	}

	/**
	*This function populate's the MRR Based on the ASV.
	*/
	function populateMRR(thisPointer) {
		inputVal = j$(thisPointer).val();
		if(!isNaN(inputVal) && inputVal.length > 0) {
			var fractionalTermVal = 12;			
			if(isASVCalByTerm == 'true') {
				fractionalTermVal = popualteTermToCalculateASV();
			}
			j$(thisPointer).parent().parent().find("td .recurringMRR").val((inputVal/fractionalTermVal).toFixed(2));
			j$(thisPointer).val((inputVal*1).toFixed(2));
		}
		else {
			j$(thisPointer).parent().parent().find("td .recurringMRR").val('');	
		}
	}

	/**
	*This function validates the users.
	*/
	function adjustUsersCount(thisPointer) {
		inputVal = j$.trim(j$(thisPointer).val());
		if(!isNaN(inputVal) && inputVal.length > 0) { j$(thisPointer).val((inputVal*1).toFixed(0)); }
	}


	/**
	*This function validates the onetime revenue.
	*/
	function adjustOneTimeRevenue(thisPointer) {
		inputVal = j$.trim(j$(thisPointer).val());
		if(!isNaN(inputVal) && inputVal.length > 0) { j$(thisPointer).val(inputVal); }
	}



	/**
	*This function populates the term.
	*/
	function calculateFractionalTerm(isToUpdateMrr) {
		j$(".fractionalTerm").val('');
		if( (((j$.trim(j$(".transSubStartDate").val())).length > 0) && ((j$.trim(j$(".transSubEndDate").val())).length > 0)) && (isNaN(j$.trim(j$(".transSubStartDate").val())) && isNaN(j$.trim(j$(".transSubEndDate").val())))) {			
			tssDate = j$.trim(j$(".transSubStartDate").val());
			tssDate = JBARAgetValidDateFormat(tssDate, dateTimeFormatByLocaleMap.DateFormat);
			tseDate = j$.trim(j$(".transSubEndDate").val());
			tseDate = JBARAgetValidDateFormat(tseDate, dateTimeFormatByLocaleMap.DateFormat);

			if(JBARAisDate(tssDate, dateTimeFormatByLocaleMap.DateFormat) && JBARAisDate(tseDate, dateTimeFormatByLocaleMap.DateFormat)) {
				tssDate = JBARAformatDate(new Date(JBARA_getDateFromFormat(tssDate, dateTimeFormatByLocaleMap.DateFormat)), 'M/d/yyyy');
				tseDate = JBARAformatDate(new Date(JBARA_getDateFromFormat(tseDate, dateTimeFormatByLocaleMap.DateFormat)), 'M/d/yyyy');
				j$(".fractionalTerm").val( jBRoundNumber((jBDaysBetweenTwoDates(tssDate, tseDate) / 365.2425) * 12 , 4));
				if( ( (new Date(tssDate)).getDate() == 1 && ( (new Date(tseDate)).getDate() == 
											(new Date( new Date(tseDate).getFullYear(), ((new Date(tseDate)).getMonth()+1), 0)).getDate() )) || 
											(((new Date(tssDate)).getDate()-1) == (new Date(tseDate)).getDate()) ) {
					var termAdjustedValue = j$(".fractionalTerm").val();
					j$(".fractionalTerm").val((termAdjustedValue*1).toFixed(0));
				}																	
			}
			else {
				j$(".fractionalTerm").val('');
			}
			if(isToUpdateMrr && isASVCalByTerm == "true") {
				var ftToUpdateASV = (j$(".fractionalTerm").val() != '') ? parseFloat(j$(".fractionalTerm").val()) : 0;
				if(ftToUpdateASV) {
					j$(".recurringMRR").each(function() {
						j$(this).val('');
						j$(this).parent().parent().find("td .recurringASV").val('');	
					});
				}
			}
		}

	}	

	/**
	*This function returns the number of datys between two dates.
	*/
	function jBDaysBetweenTwoDates(date1, date2) {
        var numOfDays = ( (parseInt(new Date(date2).getTime())-parseInt(new Date(date1).getTime()))/(1000*60*60*24)+1 );
        return numOfDays;
	}

	/**
	*Function for Round the number.
	*/
	function jBRoundNumber(num, dec) {
	 	var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
		return result;
	}

	//To prefrom the action when opportunity was changed.
	function opportunityOnChange() {
		if(isTransactionIdExists == "false") {
			opportunityChange();
		}
	}

	/**
    *To cancel the transaction.
    */
	function btnCancelClicked(){
     	{!(callBackAfterCancel)}();
    }
    
    /**
    *Error information object.
    */
    function transactionErrorObject(data) {
	    this.fieldName              = data.fieldName;
	    this.msg 			        = data.msg;
	}

	/**
    *To validate the transaction input form and some business validations.
    */
    function validateTransactionInput() {
    	dsConfirmDataObj = {}
    	transactionErrorslist = new Array();
    	var selTransBT = j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl option:selected").text());
    	j$(".hiddenTransBookingType").val(selTransBT);
    	//TransactionBT = j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl option:selected").text());
    	TransactionBT 	= getSystemNameById(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl").val()));
    	
    	//To check Customer.
    	if(j$.trim(selectedCustomerId).length <= 0) {
    		transactionErrorObj = new transactionErrorObject({fieldName:'Customer:', msg:'Required'});
    		transactionErrorslist.push(transactionErrorObj);
    	}
    	//To check the order type.(Not from churn page. becuase in that page we setting order type to churn).
    	if(isFormTypeExists == "false") {
    		if(j$.trim(j$(".jbaraDummyBookingOrderSelectCtrl").val()) == 0) {
	    		transactionErrorObj = new transactionErrorObject({fieldName:'Booking Type:', msg:'Required'});
	    		transactionErrorslist.push(transactionErrorObj);
	    	}
    	}
    	
    	
    	//Booking date validation.
    	if(j$.trim(j$(".transactionBookingdate").val()).length <= 0) {
    		transactionErrorObj = new transactionErrorObject({fieldName:'Booking Date:', msg:'Required'});
    		transactionErrorslist.push(transactionErrorObj);
    	}
    	else {
    		if(!isNaN(j$.trim(j$(".transactionBookingdate").val()))) {
    			transactionErrorObj = new transactionErrorObject({fieldName:'Booking Date:', msg:'Invalid date'});
    			transactionErrorslist.push(transactionErrorObj);
    		}
    		else {		
    			tbDate	= j$.trim(j$(".transactionBookingdate").val());
    			tbDate = JBARAgetValidDateFormat(tbDate, dateTimeFormatByLocaleMap.DateFormat);
    			j$(".transactionBookingdate").val(tbDate);    		
	    		if(!JBARAisDate(tbDate, dateTimeFormatByLocaleMap.DateFormat)) {
	    			transactionErrorObj = new transactionErrorObject({fieldName:'Booking Date:', msg:'Invalid date'});
	    			transactionErrorslist.push(transactionErrorObj);
	    		}
    		}	
    	}
    	
    	//Subscription Start date validation.
    	var subscriptionDateValidation = true; 
    	var startDateTitle = (TransactionBT == 'Downsell' || TransactionBT == 'Churn' || TransactionBT == 'Debook') ? 'Effective date:' : 'Subscription start date:';
    	if(j$.trim(j$(".transSubStartDate").val()).length <= 0) {
    		transactionErrorObj = new transactionErrorObject({fieldName:startDateTitle, msg:'Required'});
    		transactionErrorslist.push(transactionErrorObj);
    		subscriptionDateValidation = false;
    	}
    	else {
    		if(!isNaN(j$.trim(j$(".transSubStartDate").val()))) { 
    			transactionErrorObj = new transactionErrorObject({fieldName:startDateTitle, msg:'Invalid date'});
	    		transactionErrorslist.push(transactionErrorObj);
	    		subscriptionDateValidation = false;
    		}
    		else {
	    		tssDate = j$.trim(j$(".transSubStartDate").val());
	    		tssDate = JBARAgetValidDateFormat(tssDate, dateTimeFormatByLocaleMap.DateFormat);
    			j$(".transSubStartDate").val(tssDate);
	    		if(!JBARAisDate(tssDate, dateTimeFormatByLocaleMap.DateFormat)) {
	    			transactionErrorObj = new transactionErrorObject({fieldName:startDateTitle, msg:'Invalid date'});
	    			transactionErrorslist.push(transactionErrorObj);
	    			subscriptionDateValidation = false;
	    		}
	    	}		
    	}
    	
  		//line Items validation.	
		currentTransMRRTotal		= 0;
		currentTransASVTotal		= 0; 
		currentTransUsersTotal		= 0;
		//currentTransOneTimeTotal 	= 0; //we are not validating Onetime revenue(Date:12/7/2012(ThursDay) by KMK).

		j$(".recurringMRR ").each(function() {
			if(isNaN(j$.trim(j$(this).val()))) {
				errorMsgText = j$.trim(j$(this).parent().parent().find("td.recurringLabel").text());
				transactionErrorObj = new transactionErrorObject({fieldName:errorMsgText, msg:'Should be numeric.'});
				transactionErrorslist.push(transactionErrorObj);
			}
			else {
				currentTransMRRTotal += (j$.trim(j$(this).val()).length <= 0) ? 0 : Math.round(parseFloat(j$(this).val()));
			}

		});

		j$(".recurringASV").each(function() {
			if(isNaN(j$.trim(j$(this).val()))) {
				errorMsgText = j$.trim(j$(this).parent().parent().find("td.recurringLabel").text());
				transactionErrorObj = new transactionErrorObject({fieldName:errorMsgText, msg:'Should be numeric.'});
				transactionErrorslist.push(transactionErrorObj);
			}
			else {
				currentTransASVTotal += (j$.trim(j$(this).val()).length <= 0) ? 0 : Math.round(parseFloat(j$(this).val()));
			}
		});		

  			
		j$(".lineItemUsers ").each(function() {
			if(isNaN(j$.trim(j$(this).val()))) {
				errorMsgText = j$.trim(j$(this).parent().parent().find("td.usersLabel").text());
				transactionErrorObj = new transactionErrorObject({fieldName:errorMsgText, msg:'Should be Integer.'});
				transactionErrorslist.push(transactionErrorObj);
			}
			else {
				currentTransUsersTotal += (j$.trim(j$(this).val()).length <= 0) ? 0 : parseInt(j$(this).val());
			}			
		});

		j$(".lineItemOnetimeRevenue").each(function(){
			if(isNaN(j$.trim(j$(this).val()))) {
				errorMsgText = j$.trim(j$(this).parent().parent().find("td.oneTimeRevanueLabel").text());
				transactionErrorObj = new transactionErrorObject({fieldName:errorMsgText, msg:'Should be numeric.'});
				transactionErrorslist.push(transactionErrorObj);
			}
			/*else {
				currentTransOneTimeTotal += (j$.trim(j$(this).val()).length <= 0) ? 0 : Math.round(parseFloat(j$(this).val()));
			}*/
		});

		////Subscription End date validation.    	
    	if(TransactionBT == 'New Business' || TransactionBT == 'Renewal' || (TransactionBT == 'Upsell' && (currentTransMRRTotal > 0 || currentTransUsersTotal > 0))) {
    		if(j$.trim(j$(".transSubEndDate").val()).length <= 0) {
	    		transactionErrorObj = new transactionErrorObject({fieldName:'Subscription end date:', msg:'Required'});
	    		transactionErrorslist.push(transactionErrorObj);
	    		subscriptionDateValidation = false;
	    	}
	    	else {
	    		if(!isNaN(j$.trim(j$(".transSubEndDate").val()))) {  
	    			transactionErrorObj = new transactionErrorObject({fieldName:'Subscription end date:', msg:'Invalid date'});
	    			transactionErrorslist.push(transactionErrorObj);
	    			subscriptionDateValidation = false;
	    		}
	    		else {	    		    		
					tseDate = j$.trim(j$(".transSubEndDate").val());
					tseDate = JBARAgetValidDateFormat(tseDate, dateTimeFormatByLocaleMap.DateFormat);
    				j$(".transSubEndDate").val(tseDate);
		    		if(!JBARAisDate(tseDate, dateTimeFormatByLocaleMap.DateFormat)) {
		    			transactionErrorObj = new transactionErrorObject({fieldName:'Subscription end date:', msg:'Invalid date'});
		    			transactionErrorslist.push(transactionErrorObj);
		    			subscriptionDateValidation = false;
		    		}
		    		else {
		    			if(subscriptionDateValidation) {
							tssDate = JBARAformatDate(new Date(JBARA_getDateFromFormat(tssDate, dateTimeFormatByLocaleMap.DateFormat)), 'M/d/yyyy');
							tseDate = JBARAformatDate(new Date(JBARA_getDateFromFormat(tseDate, dateTimeFormatByLocaleMap.DateFormat)), 'M/d/yyyy');
		    				if(Date.parse(tssDate) > Date.parse(tseDate)) {
		    					transactionErrorObj = new transactionErrorObject({fieldName:'Date:', msg:'Subscription end date is less than the subscription start date. Please enter a valid subscription start and/or end dates.'});
		    					transactionErrorslist.push(transactionErrorObj);	 
		    				}			
		    			}
		    		}
		    	}		
	    	}
    	}

		//Business validations while adding Upsell.
		if( TransactionBT == 'Upsell' ) {
    		if(j$('input[name=ParentAssociation]:checked').val() == 'existing') {
    			if(!j$('input[name=parentTransaction]:checked').val()) {
		    		transactionErrorObj = new transactionErrorObject({fieldName:'Association:', msg:'Select the parent transaction for "'+selTransBT+'"'});
	    			transactionErrorslist.push(transactionErrorObj);
		    	}		 
		    }
    	}  
    	//Business validations while adding Downsell, Debook.
    	if( TransactionBT == 'Downsell' || TransactionBT == 'Debook' ) {
    	    	
   			if(j$('input[name=parentTransaction]:checked').val()) {
   				parentMRRTotal 			= 0;
   				parentASVTotal 			= 0;
   				parentUsersTotal		= 0;
   				//parentOneTimeTotal		= 0;
   				var dummyMRRAndUserVal;
   				var parentTransName;
				j$("span.parentTransactionListToAssociate").each(function() {
					selParentTransactionTag = false;
	   				j$(this).find("input").each(function() {
	   					selParentTransactionTag = (j$(this).attr('checked')) ? true : false;
	   					if(selParentTransactionTag)
	   						parentTransName = j$(this).parent().next().text();	   					
	   				});
   			
		   			if(selParentTransactionTag) {
		   				//parentTransName = j$("span.parentTransNameCls").text();
		   				dummyMRRAndUserVal = (isTransactionIdExists == 'true') 
		   										? (j$.trim(j$(this).find("span.dummyMRRTotal").attr('title')) == '') ? 0 : parseFloat((j$(this).find("span.dummyMRRTotal").attr('title')).replace(/,/g, '')) 
		   										: (j$.trim(j$(this).find("span.dummyMRRTotal").text()) == '') ? 0 : parseFloat((j$(this).find("span.dummyMRRTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''));

		   				parentMRRTotal 		+= dummyMRRAndUserVal;

		   				dummyMRRAndUserVal = (isTransactionIdExists == 'true') 
		   										? (j$.trim(j$(this).find("span.dummyASVTotal").attr('title')) == '') ? 0 : parseFloat((j$(this).find("span.dummyASVTotal").attr('title')).replace(/,/g, '')) 
		   										: (j$.trim(j$(this).find("span.dummyASVTotal").text()) == '') ? 0 : parseFloat((j$(this).find("span.dummyASVTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''));
		   				parentASVTotal		+= dummyMRRAndUserVal;
		   				dummyMRRAndUserVal = (isTransactionIdExists == 'true') 
		   										? (j$.trim(j$(this).find("span.dummyUsersTotal").attr('title')) == '') ? 0 : parseFloat((j$(this).find("span.dummyUsersTotal").attr('title')).replace(/,/g, ''))
		   										: (j$.trim(j$(this).find("span.dummyUsersTotal").text()) == '') ? 0 : parseFloat((j$(this).find("span.dummyUsersTotal").text()).replace(currencyConfigObject.symbol, '').replace(/,/g, ''));

		   				parentUsersTotal 	+= dummyMRRAndUserVal;
		   				//parentOneTimeTotal 	+= parseFloat((j$(this).find("span.dummyOneTimeTotal").text()).replace('$', '').replace(/,/g, ''));
		   				j$(".fractionalTerm").val(j$.trim(j$(this).find("span.dummyFTermDetails").text()));	 	   					
		   			}			    			 
    			});   			
    			
	    		if(parentUsersTotal < currentTransUsersTotal) {
	    			errorMsgText = 'You cannot ' + selTransBT + ' more than '+ formatNumber(parentUsersTotal).replace(currencyConfigObject.symbol, '') +'. You have entered total of: ';
	    			errorMsgText += ''+formatNumber(currentTransUsersTotal).replace(currencyConfigObject.symbol, '')+'!';
	    			transactionErrorObj = new transactionErrorObject({fieldName:'{!JSENCODE(customLabelsMap['Users'])}:', msg:errorMsgText});
	    			transactionErrorslist.push(transactionErrorObj);
	    		}
	    		if( Math.round(parentASVTotal) < currentTransASVTotal) {
	    			errorMsgText = 'You cannot ' + selTransBT + ' more than '+ formatNumber(parentASVTotal) +'. You have entered total of: ';
	    			errorMsgText += ''+formatNumber(currentTransASVTotal)+'!';
	    			transactionErrorObj = new transactionErrorObject({fieldName:'{!JSENCODE(customLabelsMap['ASV'])}:', msg:errorMsgText});
	    			transactionErrorslist.push(transactionErrorObj);
	    		}
	    		if(parentUsersTotal == currentTransUsersTotal && Math.round(parentASVTotal) == currentTransASVTotal) {
	    			dsConfirmDataObj = {"mrr":currentTransMRRTotal, "users":currentTransUsersTotal, "asv":currentTransASVTotal, 
	    								"curTrans":selTransBT, "associatedTrans":parentTransName,
	    								 "asvl":'{!JSENCODE(customLabelsMap['ASV'])}', "mrrl":'{!JSENCODE(customLabelsMap['MRR'])}', 'usersl':'{!JSENCODE(customLabelsMap['Users'])}'};
	    			confirmMsgToCloseTransRS = 'Mark the associated transaction as "closed" and "not-renewable"';
	    		}
	    	}
	    	else {
	    		transactionErrorObj = new transactionErrorObject({fieldName:'Association:', msg:'Select the parent transaction for '+selTransBT+''});
	    		transactionErrorslist.push(transactionErrorObj);
	    	}		    
    	} 
    	
    	//validation Churn reason.
		if( TransactionBT == 'Churn' || isFormTypeExists == "true") {
    		if(j$(".churnReasonSelectCtrl").val() == '0') {    			
	    		transactionErrorObj = new transactionErrorObject({fieldName:j$('span.ChurnReasonLable').text(), msg:'Required'});
    			transactionErrorslist.push(transactionErrorObj);		    			 
		    }
    	}
    	
    	//Business validations while adding Upsell.
    	if( TransactionBT == 'Renewal' ) {
    		var parentSelectedForRenewalTransaction = false;
    		j$(".chkRenewableTransactionItem:checked").each(function() {
			   parentSelectedForRenewalTransaction = true;
			});
    		if(!parentSelectedForRenewalTransaction) {    			
	    		transactionErrorObj = new transactionErrorObject({fieldName:'Association:', msg:' Select the transaction being renewed'});
    			transactionErrorslist.push(transactionErrorObj);			    			 
		    }
    	}
    	   	  
    	return transactionErrorslist;
    }
    
    /**
    *To display validation messages.
    */
    function showValidationErrors() {
    	var errorDetailsHTML = '';
   		var errorValidationHTML = '';
		errorValidationHTML += '<div class="message errorM3">'
		errorValidationHTML += '<table cellspacing="0" cellpadding="0" border="0" class="dummyMessageTable" style="padding:0px;margin:0px;">';
		errorValidationHTML += '<tbody><tr valign="top"><td><img alt="FATAL" class="msgIcon" src="/s.gif" title="FATAL"></td>';
		errorValidationHTML += '<td class="messageCell"><div> <span style="color:#cc0000; position:relative; bottom:-5px; left:8px;"><h4>Errors</h4></span><br></div></td></tr>';
		errorValidationHTML += '<tr><td></td><td><span><ul style="padding-left:10px;padding-top:0px;margin:0px">';						
		for(var i = 0; i < transactionErrorslist.length; i++) {
		   errorDetailsHTML += '<li style="padding-top:5px" class="dummyCustomErrors">'+transactionErrorslist[i].fieldName+' '+transactionErrorslist[i].msg+'</li>';
		}				
		errorValidationHTML += (!j$(".TransValidationMessagesWhileSaving table").hasClass("messageTable")) ?  errorDetailsHTML : ''; //to Is there any server side Errors.
		errorValidationHTML += '</ul></span></td></tr> </tbody></table></div>';
		j$("span.JBaraTransactionValidations").html('');

		if(j$(".TransValidationMessagesWhileSaving table").hasClass("messageTable")) {
			j$("table.messageTable td ul li").remove();
			j$("table.messageTable td ul").append(errorDetailsHTML);
		}
		else {
			j$("span.JBaraTransactionValidations").html(errorValidationHTML);	
		}
    }
    
    /**
    *To save the Transaction.
    */
    function btnSaveClicked() {
    	//Validations while savings.
    	transactionErrorslist = new Array();
    	confirmMsgToCloseTransRS = '';    	
    	transactionErrorslist = validateTransactionInput();
    	if(transactionErrorslist.length > 0) {
    		showValidationErrors();
    	}
    	else if(confirmMsgToCloseTransRS != '') {
 			j$(".modal-sheet-contentMain, .TransCrudActions").hide();
 			j$(".clsToHandleToMarkTransactionHasNotRenewable, .clsToggleNotRenewable").show();
 			j$(".clsToHandleToMarkTransactionHasNotRenewable").html(getDownsellConfirmHtml);
 			
    	}
    	else {
    		j$("span.JBaraTransactionValidations").html('');
    		j$(".jBaraTransactionCompSaveBtn").unbind("click");
    		jbaraShowSavingIcon();
    		saveClicked();
    	}
    }
    
    function getDownsellConfirmHtml() {    
    	var confirmHtml = '<div class="gs_tsn_confirmation"><div class="gs_tsn_title">You are adding a <span>'+dsConfirmDataObj.curTrans+'</span> transaction as below:</div>';
		 confirmHtml += '<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gs_tsn_confirmation_table">';
	    confirmHtml += '<tr>&nbsp;<th>&nbsp;</th><th>'+dsConfirmDataObj.asvl+'</th><th>'+dsConfirmDataObj.mrrl+'</th><th>'+dsConfirmDataObj.usersl+'</th></tr>';
	    confirmHtml += '<tr>&nbsp;<td>Associated Transaction - '+dsConfirmDataObj.associatedTrans+'</td><td>'+formatNumber(dsConfirmDataObj.asv)+'</td><td>'+formatNumber(dsConfirmDataObj.mrr)+'</td>';
	    confirmHtml += '<td>'+formatNumber(dsConfirmDataObj.users).replace(currencyConfigObject.symbol, '')+'</td></tr> <tr> <td>Current Transaction - '+dsConfirmDataObj.curTrans+'</td>';
	    confirmHtml += '</td><td>-'+formatNumber(dsConfirmDataObj.asv)+'</td><td>-'+formatNumber(dsConfirmDataObj.mrr)+'</td><td>-'+formatNumber(dsConfirmDataObj.users).replace(currencyConfigObject.symbol, '')+'</td></tr>';
	    confirmHtml += '<tr> <td>Net</td> <td>0</td> <td>0</td> <td>0</td> </tr> </table>';
	    confirmHtml += '<div class="gs_tsn_con_flag">';
	    confirmHtml += '<input name="toggleParentTransactionRenewableStatus" type="radio" value="1" checked="checked" class="markItNonrenewable">';
	    confirmHtml += 'Flag the associated transaction as NON-RENEWABLE and CLOSED.  </div>';
	    confirmHtml += '<div class="gs_tsn_con_flag" >';
	    confirmHtml += '<input name="toggleParentTransactionRenewableStatus" type="radio" value="2" class="dontMarkItNonrenewable">';
	    confirmHtml += 'Flag the associated transaction as OPEN for RENEWAL.</div> </div>';
		return confirmHtml;    
    }
    
    /**
    *This method to load the all opportunites by customer.
    **/
    function populateOpprtListByCust(ThisPoiner) {
    	populateAllOpportunities();
    }

</script>
<style>
	.transaction-Details td,.transaction-Details th{
		padding-bottom: 3px;
    	padding-right: 5px;
	}
	.transactionDate{
		width: 99px;
	}
	.label-translines{
		width:110px !important;
	}
	#trans-dates td{
		width:29%;
		padding-right:8px;
	}
	.modal-dialog-view div.modal{
		width:860px;
	}
	.requiredExample {
	    border-left: 3px solid #CC0000;
	    font-size: 100%;
	    padding-bottom: 3px;
	    padding-top: 2px;
	    vertical-align: 1px;
	    width: 100%;
	    margin-right: 1px;
	}
	.requiredExampleCust{
		border-left: 3px solid #CC0000;
	    font-size: 100%;
	    margin-right: 1px;
	    padding-bottom: 4px;
	    padding-top: 0;
	    vertical-align: 1px;
	    width: 100%;
	}
  .fractionalTerm{
  	background-color:#F0F0F0;
   }


</style>



<apex:form >
	<apex:actionfunction name="componentInitialize"  action="{!initialize}" rerender="componentPanelTransactionForm" oncomplete="return initialLoad();"/>
    <apex:actionfunction name="transactionOrderTypeChange" action="{!loadTransactionByOrderType}" rerender="renewalTransactionPanel, parentSelectionPanel, reloadLineItemsByOrderType">
    	<apex:param name="jbBTId" value="" />
	</apex:actionFunction>
    <apex:actionfunction name="opportunityChange" action="{!loadTransactionByOpportunity}"
    				rerender="OrderTypeHandlingByOpprtSel, refreshDateFields, renewalTransactionPanel, parentSelectionPanel, reloadLineItemsByOrderType, reloadComments" oncomplete="return setOrdertypeByOpportunity();"/>
   
    <!-- To load all opportunities by customer toggle --> 				
	<apex:actionfunction name="populateAllOpportunities" action="{!loadAllOpprtListByCust}" rerender="OpportunityCtrl" oncomplete="applyMultiSelect()"/>

    <apex:actionfunction name="customerChange" action="{!callBackAfterCustomerChange}"
    				rerender="OpportunityCtrl, refreshDateFields, reloadLineItemsByOrderType, customerChangeHandling" oncomplete="return setOrdertypeByDefaultAndRenewalDate();">
    	<apex:param name="paramTransactionCustomerId" value="" />
    </apex:actionFunction>
	<apex:actionfunction name="saveClicked" action="{!saveTransaction}" rerender="jbaraTransactionErrorMessages,saveJSPanel" oncomplete="return afterSaveClicked();"/>
	<apex:inputText value="{!transBussObj.orderTypeName}" styleClass="hiddenTransBookingType" style="display:none;"/>
	<apex:inputCheckbox value="{!flagToMakeNotRenew}" styleClass="chkBoxconfirmationCheckBox" style="display:none;"/>
	<apex:outputPanel id="saveJSPanel">
		<script type="text/javascript">
			function afterSaveClicked(){
				j$(".jBaraTransactionCompSaveBtn").unbind("click").bind("click",function()
				{
					btnSaveClicked();
				});
				if ({!(validTransaction)}) {
	        		{!(callBackAfterSave)}();
	        	}else {
	        		j$(".modal-sheet-contentMain, .TransCrudActions").show();
    				j$(".clsToHandleToMarkTransactionHasNotRenewable, .clsToggleNotRenewable").hide();
	        		j$(".jbaraDummyOverLayFormForOpp").hide();
	        	}

			}
		</script>
	</apex:outputPanel>

	<apex:outputPanel id="OrderTypeHandlingByOpprtSel">
    	<script type="text/javascript">
			function setOrdertypeByOpportunity() {
				j$(".jbaraDummyBookingOrderSelectCtrl").val("{!JSENCODE(transBussObj.orderTypeId)}");
				//var selectedTransLineItem = j$.trim(j$(".jbaraDummyBookingOrderSelectCtrl option:selected").text());
				var selectedTransLineItem = getSystemNameById(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl").val()));
			    toggleTransactionForm(selectedTransLineItem);

			    if("{!(customerHasTransactions)}" == "false") {
					j$(".jbaraDummyBookingOrderSelectCtrl").val(defaultTransOrderTypeId);
					j$(".jbaraDummyBookingOrderSelectCtrl").attr('disabled', true); //To disable the OrderType selection by default.
				}
				j$(".jbaraDummyBookingOrderSelectCtrl").multiselect("refresh");
			}
		</script>
    </apex:outputPanel>

    <apex:outputPanel id="customerChangeHandling"> 
    	<script type="text/javascript">
			function setOrdertypeByDefaultAndRenewalDate() {				
				j$(".jbaraDummyBookingOrderSelectCtrl, .jbaraDummyOpportunitySelectCtrl").removeAttr("disabled");
				j$("span.OpprtShowAllToggle").show();
				j$(".RemoveNewBusinessOrderType").remove(); //TODO: we have to validate this line of code.
				j$(".jbaraDummyBookingOrderSelectCtrl").append(defaultTransOrderTypeOption);  //By default to add new business order type.
				j$(".jbaraDummyOpportunitySelectCtrl").val('0');

				if("{!(customerHasTransactions)}" == "false") {
					j$(".jbaraDummyBookingOrderSelectCtrl").val(defaultTransOrderTypeId);
					j$(".jbaraDummyBookingOrderSelectCtrl").attr('disabled', true); //To disable the OrderType selection by default.
					j$("span.OpprtShowAllToggle").hide();
				}

				if("{!(customerHasTransactions)}" == "true") {
					j$(".RemoveNewBusinessOrderType").remove();
					j$(".jbaraDummyBookingOrderSelectCtrl").val('0');
				}

				j$(".transactionComments").val('');
				j$("span.charsLeftTransactionsComment").text(4096);

				//The below line of code only fires from churn page.
			    if(isFormTypeExists == "true") { toggleTransactionForm("Churn"); }

				applyMultiSelect();
			}
		</script>
    </apex:outputPanel>


    <apex:outputPanel id="componentPanelTransactionForm" styleClass="transFormCompontntCls">
    <apex:outputPanel rendered="{!enableComponent}">
	<div class="modal-dialog-view componentTranInputForm" style="display:none;">
    <div class="modal_overlay" style="left: 0px; right: 17px; width: auto; opacity: 1; display: block;"></div>
    <div style="display: block;">
        <div class="modal" style="opacity: 1; top: -15px; display: block;">
            <div class="modal-inner">
                <div class="modal-header">
                    <h2>Transaction</h2>
                    <a href="#" class="ui-dialog-titlebar-close" role="button">
                    <span class="ui-icon ui-icon-myCloseButton ui-icon-CompCancelBtn" title="Close">close</span>
                    </a>
                </div>
                <div class="modal-sheet-contentMain">   
                <div class="modal-sheet-inner">
                    <div class="modal-content" style="padding-bottom:0px;" >
                    	<span class="TransValidationMessagesWhileSaving">
                    		<apex:pageMessages id="jbaraTransactionErrorMessages" />
							<span class="JBaraTransactionValidations"></span>
                    	</span>

						<apex:outputPanel rendered="{!enableCustomerLookup}">
                    	<div class="customerLookupDiv" style="width: 100%;margin-bottom:4px;">
		                   	<div class="form-field-view form-row">
		                       <label for="Customer">Customer:</label>
		                       <div style="display:inline;float:left; margin-top: 2px;"><span class="requiredExampleCust"></span></div>
		                       <div class="text-widget-view Customer">
		                           <c:CustomerLookup customerStatus="ActiveCustomer,InactiveCustomer" customerId="{!transBussObj.accountId}" requiredIndicator="true"
		                                          		customerName="{!transBussObj.customer.JBCXM__CustomerName__c}"  callBackFunctionName="onCustomerChange"
		                                          		hasTransactions="{!customerWithTransactions}" isDisabled="{!disableCustomerLookup}" />
		                      	    <apex:inputText Styleclass="theHiddenCustomerId"  style="display:none;"/>
		                       </div>
		                    </div>
	                    </div><br/>
						</apex:outputPanel>

	                    <div class="transDetailsDiv" style="width: 100%;">
	                        <div style="clear:both; width: 100%;vertical-align: top;float:left;margin-top: 4px;">
	                        	<apex:outputPanel id="OpportunityCtrl">	                        	
		                        	<apex:outputPanel rendered="{!renderOpportunityCtrl}">
			                        	<div class="form-field-view form-row">
					                        <label for="Opportunity">Opportunity:</label>
			                                <apex:selectList value="{!transBussObj.opportunityId}" multiselect="false" size="1"
			                                									StyleClass="jbaraDummyOpportunitySelectCtrl" onChange="opportunityOnChange()">
		                                    	<apex:selectOptions value="{!OpportunityListByAccountId}" />
		                                    </apex:selectList>
		                                    <span class="OpprtShowAllToggle" style="vertical-align: top;"> <apex:inputCheckbox value="{!loadOpprtListByCustomer}" onchange="populateOpprtListByCust(this);" styleClass="toggleOpprotunitiesByCust"/> <span style="position:relative; bottom:-1px;">Show All</span></span>
			                            </div>

	                            	</apex:outputPanel>
	                            </apex:outputPanel>
	                            <apex:outputPanel rendered="{! !formTypeExists}">
		                            <div class="form-field-view form-row">
			                            <label for="BookingType">Booking Type:</label>
			                            <span class="requiredExample multiselectRequiredExample"></span>
		                                <apex:selectList value="{!transBussObj.orderTypeId}" multiselect="false" size="1" StyleClass="jbaraDummyBookingOrderSelectCtrl">
	                                    	<apex:selectOptions value="{!CustomerOrderTypePicklist}" />
	                                    </apex:selectList>
		                            </div>
			                          <apex:outputPanel id="parentSelectionPanel">
				                            <apex:outputPanel rendered="{! enableParentSelection}">
					                            <div>
					                            	 <label>Associate <span class="dummySelectedTransactionBTClass">{!(transBussObj.orderTypeSysName)}</span> With:</label>
					                            	 <apex:outputPanel rendered="{!IF(transBussObj.orderTypeSysName == 'Upsell',true,false)}">
						                            	 <apex:outputPanel rendered="{!IF(transBussObj.parentId == '',true,false)}">
							                            	 <input style="vertical-align:top;" type="radio" name="ParentAssociation" class="rbtnParentHeader rbtnParentNew"  value="new" checked="checked"/>New Contract&nbsp;&nbsp;
						                                	 <input style="vertical-align:top;" type="radio" name="ParentAssociation" class="rbtnParentHeader rbtnParentExisting" value="existing" /> Existing Contract&nbsp;&nbsp;
						                                 </apex:outputPanel>
						                                 <apex:outputPanel rendered="{!IF(transBussObj.parentId !='',true,false)}">
							                            	 <input style="vertical-align:top;" type="radio" name="ParentAssociation" class="rbtnParentHeader rbtnParentNew"  value="new" />New Contract&nbsp;&nbsp;
						                                	 <input style="vertical-align:top;" type="radio" name="ParentAssociation" class="rbtnParentHeader rbtnParentExisting" value="existing" checked="checked"/> Existing Contract&nbsp;&nbsp;
						                                 </apex:outputPanel>	
						                                 <br/> 
					                                 </apex:outputPanel>
					                                <div class="openTransactionsList" style="margin-left: 110px;">
						                                <apex:repeat value="{!transBussObj.renewableTransactions}" var="parentItem">
						                               	 <br/>
						                               	 <span class="parentTransactionListToAssociate">
						                               	 <apex:outputPanel rendered="{!IF(transBussObj.parentId == parentItem.headerObj.Id,true,false)}">
							                            	 <input type="radio" name ="parentTransaction"  value ="{!parentItem.headerObj.Id}" checked="checked" style="vertical-align:top;" class="parentTransactionCls" onclick="updateMRRAndASV(this)"/>&nbsp;
						                                 </apex:outputPanel>
						                                 <apex:outputPanel rendered="{!IF(transBussObj.parentId != parentItem.headerObj.Id,true,false)}">
							                            	 <input type="radio" name ="parentTransaction" value ="{!parentItem.headerObj.Id}" style="vertical-align:top;" class="parentTransactionCls" onclick="updateMRRAndASV(this)"/>&nbsp;
							                             </apex:outputPanel>
						                                 &nbsp; <span class="parentTransNameCls">{!(parentItem.headerObj.orderType__r.Name)}</span> - 
												 	 		{!customLabelsMap['MRR']}: 
												 	 		<apex:outputText value="{! IF((ROUND((parentItem.mrrTotal),0)) == 0, '', '{1} {0}')}" styleClass="dummyMRRTotal">
								                              <apex:param value="{!(ROUND((parentItem.mrrTotal),2))}" />
								                              <apex:param value="{!(currencyConfig['symbol'])}" />
								                            </apex:outputText>, {!customLabelsMap['ASV']}:
								                            <apex:outputText value="{! IF((ROUND((parentItem.asvTotal),0)) == 0, '', '{1} {0}')}" styleClass="dummyASVTotal">
								                               <apex:param value="{!(ROUND((parentItem.asvTotal),2))}" />
								                               <apex:param value="{!(currencyConfig['symbol'])}" />
								                            </apex:outputText>,   
								                            {!customLabelsMap['Users']}: 
								                            <apex:outputText value="{! IF((ROUND((parentItem.usersTotal),0)) == 0, '', '{0}')}" styleClass="dummyUsersTotal">
								                              <apex:param value="{!(ROUND((parentItem.usersTotal),0))}" />
								                            </apex:outputText>,
								                            <apex:outputText value="{! IF((ROUND((parentItem.headerObj.Term_Fractional__c),0)) == 0, '', '{0}')}" styleClass="dummyFTermDetails" style="display:none;">
								                              <apex:param value="{!(ROUND((parentItem.headerObj.JBCXM__Term_Fractional__c),5))}" />
								                            </apex:outputText>
								                            <!-- Onetime Revenue -->
								                            <apex:outputText value="{! IF((ROUND((parentItem.OnetimeTotal),0)) == 0, '', '{1} {0}')}" styleClass="dummyOneTimeTotal" style="display:none;">
								                              <apex:param value="{!(ROUND((parentItem.OnetimeTotal),0))}" />
								                              <apex:param value="{!(currencyConfig['symbol'])}" />
								                            </apex:outputText> 
								                            End Date:
								                            <span class="dummyRevRecEndDate">
								                            	<apex:outputField value="{!parentItem.headerObj.JBCXM__RevRecEndDate__c}" />
								                            </span>
								                            &nbsp;
								                            <apex:outputText rendered="{! IF(parentItem.headerObj.Opportunity__c!= null, true, false)}">
									                               <apex:outputText rendered="{! IF(parentItem.headerObj.Opportunity__c!= '', true, false)}">
										                              <a class="opportunityMru" href="{!sfdcBaseURL}/{!parentItem.headerObj.Opportunity__c}" target="_new">
																		<img title="{!parentItem.headerObj.Opportunity__r.Name}" class="mruIcon"  src="/s.gif" />
																	  </a>
																	</apex:outputText>	  
									                        </apex:outputText>
								                        	</span>    
						                                </apex:repeat>
						                                <apex:inputText value="{!transBussObj.parentId}" styleClass="hiddenParentId" style="display:none;" />
					                                </div><br />
					                            </div>
			                                    <script type="text/javascript">
			                                    	j$("span.dummySelectedTransactionBTClass").html(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl option:selected").text()));
			                                        if('{!(transBussObj.parentId)}' =='' && '{!(transBussObj.orderTypeSysName)}' =='Upsell'){
			                                        	j$(".openTransactionsList").hide();

			                                        }
			                                    	if("{!(hasOpenTransactions)}"=="false" && '{!(transBussObj.orderTypeSysName)}' =='Upsell'){

					                            		j$(".rbtnParentExisting").attr("disabled","true");
					                            	}

					                            	if('{!(transBussObj.orderTypeSysName)}' =='Upsell') {
					                            		j$(".rbtnParentNew").unbind("click").bind("click",function(){
					                            			j$(".openTransactionsList").find("input[type=radio]").each(function(){
					                            				j$(this).removeAttr("checked");	
					                            			});
					                            			j$(".openTransactionsList").hide();
					                            			j$(".hiddenParentId").val('');

					                            			j$(".transSubEndDate").val('');
			                            					j$(".transSubEndDate").removeAttr("disabled");
			                            					j$(".fractionalTerm").val('');
					                            		});

					                            		j$(".rbtnParentExisting").unbind("click").bind("click",function(){
					                            			j$(".openTransactionsList").show();
					                            		});
					                            	}

					                            	j$(".openTransactionsList").find("input[type=radio]").each(function(){
			                            				j$(this).unbind("click").bind("click",function(){
			                            					j$(".hiddenParentId").val(j$(this).val());			                            					

			                            					//To populate the Subscription End date and term.
			                            					if(getSystemNameById(j$.trim(j$("select.jbaraDummyBookingOrderSelectCtrl").val())) == "Upsell") {
			                            						j$(".transSubEndDate").val(j$(this).parent().parent().find('.dummyRevRecEndDate span').text());
			                            						j$(".transSubEndDate").attr("disabled", "true");
			                            						calculateFractionalTerm(false);
			                            					}

			                            				});	
					                            	});		                            		 
			                           			</script>
					                       </apex:outputPanel>
					                </apex:outputPanel>
	                             </apex:outputPanel>
	                        </div>
	                    </div>

						<apex:outputPanel id="refreshDateFields">
	                   		<div style="clear:both;width: 100%;margin-top: 5px;">
		                   		<table cellpadding="0"  cellspacing="0"  id="trans-dates">
	                            	<tr>
	                             	<td>
		                             	<div class="form-field-view form-row form-row-inline trans-BookingDate">
				                            <label for="BookingDate" class="label-translines trans-BookingDateLbl" >Booking Date:</label>
				                            <span class="requiredExample"></span>
				                            <apex:inputText value="{!transBussObj.bookingDate}" maxlength="10" size="11" id="bookingDate"
			                                                    onfocus="jbaraDateInputControl(this)" styleClass="transactionDate transactionBookingdate gs-calendar"/>
			                            </div>
	                                </td>
	                                <td>
	                                 	<div class="form-field-view form-row form-row-inline trans-SubscriptionStartDate">
				                            <label for="SubscriptionStart" class="label-translines trans-SubscriptionStartDateLbl" >Subscription Start:</label>
				                            <span class="requiredExample"></span>
				                            <apex:inputText value="{!transBussObj.subscriptionStartDate}" maxlength="10" size="11" id="subscriptionStart"
			                                                    onfocus="jbaraDateInputControl(this)" styleClass="transactionDate transSubStartDate gs-calendar"
			                                                    onChange="calculateFractionalTerm(true)"/>
			                            </div>
	                                 </td>
	                                 <td>
	                                 	<div class="form-field-view form-row form-row-inline trans-SubscriptionEndDate">
											<label for="SubscriptionEnd" class="label-translines trans-SubscriptionEndDateLbl" >Subscription End:</label>
											<span class="requiredExample"></span>
											<apex:inputText value="{!transBussObj.subscriptionEndDate}" maxlength="10"  size="11" id="subscriptionEnd"
				                                                    onfocus="jbaraDateInputControl(this)"  styleClass="transactionDate transSubEndDate gs-calendar"
			                                                    onChange="calculateFractionalTerm(true)"/>
			                            </div>

	                                 </td>
	                                 <td>
	                                    <div class="form-field-view form-row form-row-inline trans-term" style="width:115px;"> 
				                               <label>Term:</label> 
				                                <apex:inputText value="{!transBussObj.termFractional}" maxlength="6"  size="6" styleClass="fractionalTerm input-field" /> 
			                            </div>
	                                 </td>
	                            </tr>
		                    </table>
	                   	</div>
	                   	<script type="text/javascript">
			            	//this code handle the term customization.
			            	if(!isTransEditInOpprt) {
			            		j$(".transSubEndDate").removeAttr("disabled");
			            	}			            	

			            	j$(".fractionalTerm").each(function() { if(!isNaN(j$.trim(j$(this).val()))) { if(parseFloat(j$(this).val()) <= 0) { j$(this).val(''); }else{j$(this).val(jBRoundNumber(j$(this).val(),4));} } j$(this).attr("disabled","true"); });

		                </script>
					</apex:outputPanel>

					 <apex:outputPanel id="renewalTransactionPanel">
					 	<apex:outputPanel rendered="{!transBussObj.orderTypeSysName == 'Renewal'}">
						 	<apex:outputPanel rendered="{!transBussObj.renewableTransactions.size != 0}">
						 	 	<span style="padding:0px 0px 3px 0px;font-weight:bold;">Transaction(s) to renew:</span><br/>
						 	 	<apex:repeat value="{!transBussObj.renewableTransactions}" var="rt">
						 	 	<apex:inputCheckbox value="{!rt.selectFlag}" StyleClass="chkRenewableTransactionItem"/>				 	 			

						 	 		&nbsp; {!(rt.headerObj.orderType__r.Name)} - 
						 	 		{!customLabelsMap['MRR']}: 
						 	 		<apex:outputText value="{! IF((ROUND((rt.mrrTotal),0))== 0, '', '{1} {0}')}">
		                              <apex:param value="{!(ROUND((rt.mrrTotal),2))}" />
		                              <apex:param value="{!(currencyConfig['symbol'])}" />
		                            </apex:outputText>, {!customLabelsMap['ASV']}:
		                            <apex:outputText value="{! IF((ROUND((rt.asvTotal),0))== 0, '', '{1} {0}')}">
		                              <apex:param value="{!(ROUND((rt.asvTotal),2))}" />
		                              <apex:param value="{!(currencyConfig['symbol'])}" />
		                            </apex:outputText>,   
		                            {!customLabelsMap['Users']}: 
		                            <apex:outputText value="{! IF((ROUND((rt.usersTotal),0))== 0, '', '{0}')}">
		                              <apex:param value="{!(ROUND((rt.usersTotal),0))}" />
		                            </apex:outputText>, 
		                            End Date:
		                            <apex:outputField value="{!rt.headerObj.JBCXM__RevRecEndDate__c}" />
		                            &nbsp;
		                            <apex:outputText rendered="{! IF(rt.headerObj.Opportunity__c!= null, true, false)}">
		                               <apex:outputText rendered="{! IF(rt.headerObj.Opportunity__c!= '', true, false)}">
			                              <a class="opportunityMru" href="{!sfdcBaseURL}/{!rt.headerObj.Opportunity__c}" target="_new">
											<img title="{!rt.headerObj.Opportunity__r.Name}" class="mruIcon"  src="/s.gif" />
										  </a>
										</apex:outputText>	  
		                           </apex:outputText>

		                            <br/>	
						 	 	</apex:repeat>

						 	</apex:outputPanel>
					 	</apex:outputPanel>
					 </apex:outputPanel>

                    <apex:outputPanel id="reloadLineItemsByOrderType" >
                         <apex:outputPanel rendered="{!enableLineItemsPanel}">
		                    <!--Transaction lines form starts Here -->
		                  	<div class="transaction-Details transaction-types">
							    <div style="margin-top:12px;">
							        <table cellpadding="0"  cellspacing="0"  style="display: none;width: 37%;padding-right: 5px;" class="tblLineItemsHeader">
							            <tr> <th>Recurring Revenue</th> <th>{!customLabelsMap['MRR']}</th> <th>{!customLabelsMap['ASV']}</th> </tr>

							            <apex:repeat value="{!transBussObj.lineItems}" var="lineItmesSubscription">
							                <apex:outputText rendered="{!lineItmesSubscription.orderTransactionMap.TransactionType__r.JBCXM__Type__c=='Recurring'}" >
							                    <tr>
							                        <td class="recurringLabel"> {!HTMLENCODE(lineItmesSubscription.OrderTransactionMap.TransactionType__r.Name)}: </td>
							                        <td>
							                            <apex:inputText value="{!lineItmesSubscription.transactionLineItemObj.JBCXM__Booking__c}" maxlength="10"  size="11"
							                          					styleClass="recurringMRR lineItemVal input-field" onChange="populateASV(this)"/>
							                        </td>
							                        <td>
							                            <apex:inputText maxlength="10"  size="11" styleClass="recurringASV lineItemVal input-field" onChange="populateMRR(this)"/>
							                        </td>
							                    </tr>
							                </apex:outputText>
							            </apex:repeat>
							        </table>

							        <table style="display: none;width: 26%;padding-right: 5px;vertical-align:top;"  cellpadding="0" cellspacing="0" class="tblLineItemsHeader">
							            <tr> <th colspan="2">{!customLabelsMap['Users']} Count</th> </tr>
							            <apex:repeat value="{!transBussObj.lineItems}" var="lineItmesSubscription">
							                <apex:outputText rendered="{!lineItmesSubscription.orderTransactionMap.TransactionType__r.JBCXM__Type__c=='User count'}" >
							                    <tr>
							                        <td class="usersLabel"> {!HTMLENCODE(lineItmesSubscription.OrderTransactionMap.TransactionType__r.Name)}: </td>
							                        <td>
							                            <apex:inputText value="{!lineItmesSubscription.transactionLineItemObj.JBCXM__Booking__c}"
							                          			styleClass="lineItemVal lineItemUsers input-field" maxlength="10"  size="11" onblur="adjustUsersCount(this)"/>
							                        </td>
							                    </tr>
							                </apex:outputText>
							            </apex:repeat>
							        </table>

							        <table style="display: none;width: 25%;vertical-align:top;"  cellpadding="0"  cellspacing="0"  class="tblLineItemsHeader" >
							            <tr> <th colspan="2">{!customLabelsMap['OneTime']}</th> </tr>
							                <apex:repeat value="{!transBussObj.lineItems}" var="lineItmesSubscription">
							                    <apex:outputText rendered="{!lineItmesSubscription.orderTransactionMap.TransactionType__r.JBCXM__Type__c=='One time'}" >
							                        <tr>
							                            <td class="oneTimeRevanueLabel"> {!HTMLENCODE(lineItmesSubscription.OrderTransactionMap.TransactionType__r.Name)}: </td>
							                            <td>
							                                <apex:inputText value="{!lineItmesSubscription.transactionLineItemObj.JBCXM__Booking__c}"
							                            		    styleClass="lineItemVal lineItemOnetimeRevenue input-field" maxlength="10"  size="11" onblur="adjustOneTimeRevenue(this)"/>
							                            </td>
							                        </tr>
							                    </apex:outputText>
							                </apex:repeat>
							        </table>
							    </div>
							</div>
		                    <!--Transaction lines form ends Here -->
		                    <!--Churn reason starts Here -->
		                    <apex:outputPanel rendered="{!transBussObj.orderTypeSysName == 'Churn'}">
				                <div class="transaction-types transaction-Churn" style="margin-top:4px">
				                    <div>
				                        <div class="form-field-view form-row">
				                            <label for="ChurnReason"><span class="ChurnReasonLable">Reason:</span></label>
				                            <div class="text-widget-view ChurnReason">
				                            	 <span class="requiredExample multiselectRequiredExample"></span>
				                                 <apex:selectList value="{!transBussObj.churnReason}" multiselect="false" size="1" StyleClass="churnReasonSelectCtrl">
				                                     <apex:selectOptions value="{!ChurnReasonPicklist}" />
				                                 </apex:selectList>
				                            </div>
				                        </div>
				                        <apex:inputText value="{!transBussObj.dummyTransChurnReason}" style="display:none;" />
				                    </div>
				                </div>
			                </apex:outputPanel>
			                <!--Churn reason ends Here -->

		                   <script type="text/javascript">
			                   j$('table.tblLineItemsHeader').each(function(){
			                   		if(j$(this).find('tr').length > 1){ j$(this).css({"display":"inline-table"}); }
			                   });
	                           //To modify the line Item values.
	                	        j$(".lineItemVal").each(function() {
	                	        	if(parseFloat(j$(this).val()) > 0) { j$(this).val((parseFloat(j$(this).val())*1).toFixed(2)); }
	                	        	else { j$(this).val('');};
	                	        });
	                	        //To adjust the User line item value.
	                	        j$(".lineItemUsers").each(function() {
	                	        	if(parseInt(j$(this).val()) > 0) { j$(this).val((parseInt(j$(this).val())*1).toFixed(0)); }
	                	        	else { j$(this).val(''); }
	                	        });

	                	        //Code to Update the ASV.
	                	        j$(".recurringMRR").each(function() { populateASV(this); });
		                   </script>

	                   </apex:outputPanel>
               	   </apex:outputPanel>
               </div>
            </div>

                <!--Transaction comments starts Here -->
                <div class="form-row" style="padding-bottom:10px;padding-left:20px;">
                    <div>
                        <label for="transaction-Comments">Comments:</label>
                        <div class="text-widget-view Comments">
                        	<apex:outputPanel id="reloadComments">
	                            <apex:inputTextarea style="width:78%;height: 2em;" rows="2" value="{!transBussObj.comment}" StyleClass="jbaraDummyCommentInputCtrl transactionComments" />
	                            <div align="right" style="padding-right:70px;">
	                                <span id="charsLeftTransactionsComment">4096
	                                </span>
	                                characters left.
	                            </div>
	                            <script type="text/javascript">
	                            	function limitComments() {
     									var comments = j$(".jbaraDummyCommentInputCtrl");
     									var commentsLength = 4096 - (comments.val().length);
	                            		if(commentsLength < 0) {
	                            			commentsLength = 0;
	                            			comments.text(comments.text().substr(0,4095));
	                            		}
     									j$("#charsLeftTransactionsComment").text(commentsLength);
     								}
	                            	j$(".jbaraDummyCommentInputCtrl").unbind("keydown cut").bind("keydown cut",function(){
	                            		limitComments();
     								});
     							</script>
                            </apex:outputPanel>
                        </div>
                    </div>
                </div>                
                <!--Transaction comments ends Here -->
				</div>
				<div class="clsToHandleToMarkTransactionHasNotRenewable" style="display:none;">
                </div>
            </div>

            <!--Footer starts Here -->
            <div class="modal-footer">
            	<a class="buttonClass gsMarkNotRenewable clsToggleNotRenewable btn-save" style="display:none;">Ok</a>
                <a class="buttonClass gsDonotMarkNotRenewable clsToggleNotRenewable btn-cancel" style="display:none;">Cancel</a>
                <a class="buttonClass jBaraTransactionCompSaveBtn TransCrudActions btn-save">Save</a>
                <a class="buttonClass jBaraTransactionCompCancelBtn TransCrudActions btn-cancel">Cancel</a>
                <a class="buttonClass jBaraTransactionCompEditBtn btn-apply" style="display:none;">Edit</a>
            </div>
            <!--Footer ends Here -->

        </div>
    </div>
</div>
		<!-- CheckComponentAttributes panel start-->
		<apex:outputPanel id="CheckComponentAttributes">
	    	<script type="text/javascript">
    			isCustomerExists 			= "{!(customerExists)}";
    			isCustomerHasTransactions 	= "{!(customerHasTransactions)}";
    			isOpportunityExists			= "{!(opportunityExists)}";
				isTransactionIdExists 		= "{!(transactionIdExists)}";
				selOpportunityId 			= "{!(transBussObj.opportunityId)}"
				isFormTypeExists 			= "{!(formTypeExists)}";
				selectedCustomerId 			= "{!(transBussObj.accountId)}";
				dummyParentId	  			= "{!(transBussObj.parentId)}";
				dummyTransOrderType 		= "{!(transBussObj.orderTypeSysName)}";
				picklistDetailsMapById		= eval({!(pickListDetailsMapById)});				
				isASVCalByTerm				= "{!(calASVByTerm)}";
				newBusinessTransId = '';
				for(var indx in picklistDetailsMapById) {
					newBusinessTransId = (picklistDetailsMapById[indx].SystemName__c == 'New Business') ? indx : '';
					if(newBusinessTransId != '') { break; }
				}
				//This code will excuted while editing downsell and Debook Transactions. 
				if(isTransactionIdExists == "true") {					
					j$(".modal-header h2").text("Edit Transaction");					
					if((dummyTransOrderType == "Downsell" || dummyTransOrderType == "Debook" || dummyTransOrderType == "Upsell") && (dummyParentId.length > 0)) {
						dummyTransMRRTotal = (-1*parseFloat('{!(transBussObj.mrr)}'));
						dummyTransASVTotal = (-1*parseFloat('{!(transBussObj.asv)}'));
						dummyTransUsersCount = (-1*parseInt('{!(transBussObj.users)}'));
						dummyTransOTR = (-1*parseFloat('{!(transBussObj.oneTimeRevenue)}'));
					}					
					if(isOpportunityExists == "true") {
						transCustName = "{!JSENCODE(transBussObj.customer.CustomerName__c)}";
						transEditableFrmOpprt = ((dummyTransOrderType != "Churn") && ("{!(transBussObj.customer.Status__r.SystemName__c)}" == "ChurnCustomer")) ? 
												false : transEditableFrmOpprt;
					}										
				}
				else {
					j$(".modal-header h2").text("Add Transaction");
				}
			</script>
	    </apex:outputPanel>
	    <!--CheckComponentAttributes Panel End -->

	</apex:outputPanel>
	</apex:outputPanel>

	<div class="OpportunityBTNotMatchedFrmOpprt" style="display: none;">
		Opportunity settings do not match with Gainsight Opportunity Connector configuration. Please <a herf="#" onClick="loadTransFormByOpprt()" class="opprtBTSelLink">click here</a> to add the opportunity to Gainsight repository
	</div>	
</apex:form>
    
<div class="overlayBackground jbaraDummyOverLayFormForOpp" style="position: absolute; display: none;" align="center">
     <div class="waitingHolder" style=" position : fixed; left:45%; top: 50%; z-index: 5000;" align="center"><img src="/img/loading.gif" class="waitingImage" title="Please Wait..." />
			                    	<span class="waitingDescription" style="color:#FFFFFF;">Saving...</span>
     </div>
    </div>
</apex:component>