<apex:page standardController="TRC_AB__ClickAction__c" 
           extensions="TRC_AB.AutobahnClickActionExtension" 
           tabstyle="TRC_AB__ClickAction__c" 
           showHeader="true" >

<!-- Page Title -->
<apex:sectionHeader title="{!$Label.trc_ab__AutobahnClickAction_EditPageTitle} {!TRC_AB__ClickAction__c.Name}"/>

<apex:form >
    <apex:pageBlock title="{!$Label.trc_ab__AutobahnClickAction_EditPageTitle}" mode="edit">

    <apex:pageMessages />

  <apex:pageblockButtons >
    <apex:commandButton action="{!save}" value="{!$Label.trc_ab__Autobahn_SaveLabel}"></apex:commandButton>
    <apex:commandButton action="{!cancel}" value="{!$Label.trc_ab__Autobahn_CancelLabel}"></apex:commandButton>
  </apex:pageblockButtons>

  <apex:pageBlockSection id="clickactionitems" columns="1">

    <apex:outputField value="{!clickaction.Name}" />

    <apex:inputField value="{!clickaction.TRC_AB__Name__c}" required="true" />

    <apex:inputField value="{!clickaction.TRC_AB__Type__c}" required="true" id="type" onchange="displayURL(this)"/>

    <apex:pageBlockSectionItem id="urlsection">
      <apex:outputLabel id="URL" title="URL" value="{!$Label.trc_ab__AutobahnClickAction_RedirectURL}" for="actionurl" />
      <apex:inputText id="actionurl" title="URL" value="{!clickaction.TRC_AB__URL__c}" size="40" />
    </apex:pageBlockSectionItem>

    <script>
    function displayURL(list)
    {
      var display = "";
      switch (list.value)
      {
      case "クリックカウント":
      case "Click":
      case "オプトアウト":
      case "Opt-out":
        display = "";
        break;
      case "開封履歴":
      case "Open":
      default:
        display = "none";
        break;
      }
      document.getElementById("{!$Component.urlsection.URL}").style.display = display;
      document.getElementById("{!$Component.urlsection.actionurl}").style.display = display;
    }
    displayURL(document.getElementById("{!$Component.type}"));
    </script>
    
    <apex:inputField value="{!clickaction.TRC_AB__ClickData__c}" />

    <apex:inputField value="{!clickaction.TRC_AB__ActivityHistory__c}" />

    <apex:inputField value="{!clickaction.TRC_AB__ValueUpdating__c}" onclick="displayValueUpdate(this)" id="valueupdating" />    

    <apex:pageBlockSectionItem id="valueupdatetargets" labelStyle="display: ;" dataStyle="display: ;">
      <apex:outputLabel id="valueupdatelabel" value="{!$Label.trc_ab__AutobahnClickAction_TargetObject}" for="fielditem" style="width:200px;" />
      
      <apex:pageBlockSection columns="7" id="valueupdatedata">

        <apex:pageBlockSectionItem id="valueupdatedataitem">
          <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetObjectLabel}" value="{!updateobjectitem}" size="1" required="true" multiselect="false" id="updateobjectitem" onChange="changeUpdateObjectItem(this.value)">
            <apex:selectOptions value="{!updateobjectitems}" />
            <apex:actionFunction status="update_fielditemstatus" action="{!changeUpdateObjectItem}" name="changeUpdateObjectItem" rerender="updatefielditem" immediate="true">
              <apex:param name="firstParam" assignTo="{!updateobjectitem}" value="" />
            </apex:actionFunction>
          </apex:selectList>
        </apex:pageBlockSectionItem>

        <apex:pageBlockSectionItem >
          <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetFieldLabel}" value="{!updatefielditem}" size="1" required="true" multiselect="false" id="updatefielditem">
            <apex:selectOptions value="{!updatefielditems}" />
            <apex:actionStatus id="fielditemstatus" startText="Updating..." stopText=""/>
          </apex:selectList>
        </apex:pageBlockSectionItem>

        <apex:pageBlockSectionItem >
          <apex:pageBlockSection id="updatevaluesection">
            <apex:pageBlockSectionItem id="updatevalueitem">
              <apex:outputLabel value="{!$Label.trc_ab__AutobahnClickAction_UpdateValueLabel}" for="updatevalue" id="updatevaluelabel" />
              <apex:inputText value="{!updatevalue}" id="updatevalue" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem id="clickdateitem">
              <apex:inputCheckbox value="{!updateclickdate}" id="updateclickdate"/>
              <apex:outputLabel value="{!$Label.trc_ab__AutobahnClickAction_UpdateClickdate_DescriptionLabel}" for="updatevalue_clickdate" id="updatevaluelabel_clickdate" style="white-space: nowrap;" />
            </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
        </apex:pageBlockSectionItem>
        
        <apex:pageBlockSectionItem />
        <apex:pageBlockSectionItem />
        <apex:pageBlockSectionItem />
        <apex:pageBlockSectionItem />

      </apex:pageBlockSection>
      
    </apex:pageBlockSectionItem>

    <script>
    function displayValueUpdate(chkbox)
    {
      var display = (chkbox.checked == true) ? "" : "none";
      document.getElementById("{!$Component.valueupdatetargets.valueupdatelabel}").style.display = display;
      document.getElementById("{!$Component.valueupdatetargets.valueupdatedata}").style.display = display;
    }
    displayValueUpdate(document.getElementById("{!$Component.valueupdating}"));
    </script>
    <script src="/soap/ajax/15.0/connection.js" type="text/javascript"></script>
    <script src="/js/dojo/0.9/dojo/dojo.js" type="text/javascript"></script> 
  </apex:pageBlockSection>  

  </apex:pageBlock>
</apex:form>
<script>
init();
</script>
</apex:page>