<apex:page standardController="TRC_AB__Action__c" id="AutobahnActionPage" extensions="TRC_AB.AutobahnActionExtension" standardStylesheets="true" tabstyle="TRC_AB__Action__c" cache="false" >
<apex:stylesheet id="style_basic" value="{!$Resource.TRC_AB__trc_page_css}" />
<script src="/soap/ajax/25.0/connection.js" type="text/javascript"></script>
<apex:includeScript value="{!$Resource.TRC_AB__jquery_js}" />
<script type="text/javascript">
function displayUpdateSection(select_option_type) {
    var checked = select_option_type;
    var ca_up_sect  = document.getElementById("{!$Component.action_form.action_block.clickaction_update_section}");
    var ca_up_display = '';
    switch (checked) {
    case true:
        ca_up_display = '';
        break;
    case false:
    default:
        ca_up_display = 'none';
        break;
    }
    ca_up_sect.style.display = ca_up_display;
}
function displaySection(select_option_type) {
    var type = select_option_type;
    var ca_sect     = document.getElementById("{!$Component.action_form.action_block.clickaction_section}");
    var ca_url_sect = document.getElementById("{!$Component.action_form.action_block.clickaction_section.clickaction_url_item_field}");
    var ca_up_sect  = document.getElementById("{!$Component.action_form.action_block.clickaction_update_section}");
    var ca_up_flag  = document.getElementById("{!$Component.action_form.action_block.clickaction_section.clickaction_update_item_field}");
    var ea_sect     = document.getElementById("{!$Component.action_form.action_block.erroraction_section}");
    var ca_display     = "";
    var ca_url_display = "";
    var ca_up_display  = "";
    var ca_up_flag_value = ca_up_flag.checked;
    var ea_display     = "";
    switch (type) {
    case "クリックカウント":
    case "Click":
    case "オプトアウト":
    case "Opt-out":
        ca_display     = "";
        ca_url_display = '';
        ca_up_display  = "";
        ea_display     = "none";
        break;
    case "開封履歴":
    case "Open":
        ca_display     = "";
        ca_url_display = 'none';
        ca_up_display  = "";
        ea_display     = "none";
        break;
    case "Bounce":
    case "Error mail":
        ca_display     = "none";
        ca_url_display = 'none';
        ca_up_display  = "none";
        ea_display     = "";
        break;
    default:
        ca_display     = "none";
        ca_url_display = 'none';
        ca_up_display  = "none";
        ea_display     = "none";
        break;
    }
    switch (ca_up_flag_value) {
    case true:
        if (ca_display == 'none') {
            ca_up_display = 'none';
        } else {
            ca_up_display = '';
        }
        break;
    case false:
    default:
        ca_up_display = 'none';
        break;
    }
    ca_sect.style.display     = ca_display;
    ca_url_sect.style.display = ca_url_display;
    ca_up_sect.style.display  = ca_up_display;
    ea_sect.style.display     = ea_display;
}
$(document).ready(function(){
    var default_set = document.getElementById("{!$Component.action_form.action_block.basic_action_section.action_type}");
    displaySection(default_set.value);
    var ca_val = document.getElementById("{!$Component.action_form.action_block.clickaction_update_section.ca_value.ca_value_input}");
    validateClickActionValueItem(ca_val.value);
    var ea_val = document.getElementById("{!$Component.action_form.action_block.erroraction_update_section.ea_value.ea_value_input}");
    validateErrorActionValueItem(ea_val.value);
});
</script>
<apex:sectionHeader title="{!$Label.trc_ab__Autobahn_ActionLabel}{!$Label.trc_ab__Autobahn_EditLabel}" subtitle="{!pageTitle}"/>
<apex:form id="action_form">
    <apex:pageMessages />
    <apex:pageBlock id="action_block" title="{!$Label.trc_ab__AutobahnAction_ActionSettingLable}">
        <apex:pageblockButtons >
            <apex:commandButton action="{!save}" value="{!$Label.trc_ab__Autobahn_SaveLabel}"></apex:commandButton>
            <apex:commandButton action="{!cancel}" value="{!$Label.trc_ab__Autobahn_BackLabel}"></apex:commandButton>
        </apex:pageblockButtons>
        <apex:pageBlockSection columns="1" id="basic_action_section" title="{!$Label.trc_ab__Autobahn_InfomationLabel}" collapsible="false">
            <apex:inputField value="{!act.action.TRC_AB__Name__c}" 
                required="true" 
                style="width: 400px;" />
            <apex:inputField value="{!act.action.TRC_AB__Type__c}" 
                id="action_type" 
                required="true" 
                onchange="displaySection(this.value);" 
                style="width: 400px;" />
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2" title="{!$Label.trc_ab__AutobahnAction_TrackLabel}" id="clickaction_section" collapsible="false" rendered="true" >
            <apex:inputField value="{!act.action.TRC_AB__URL__c}" id="clickaction_url_item_field" style="width: 400px; height: 1em;" />
            <apex:pageBlockSectionItem >
            </apex:pageBlockSectionItem>
            <apex:inputField value="{!act.action.TRC_AB__ClickData__c}" />
            <apex:pageBlockSectionItem >
            </apex:pageBlockSectionItem>
            <apex:inputField value="{!act.action.TRC_AB__ActivityHistory__c}" />
            <apex:pageBlockSectionItem >
            </apex:pageBlockSectionItem>
            <apex:inputField value="{!act.action.TRC_AB__IsUpdatable__c}" id="clickaction_update_item_field" onchange="displayUpdateSection(this.checked);" />
            <apex:pageBlockSectionItem >
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2" id="clickaction_update_section" collapsible="false" rendered="true" >
            <apex:pageBlockSectionItem id="ca_object">
                <apex:outputLabel for="select_object">{!$Label.trc_ab__AutobahnClickAction_TargetObjectLabel}</apex:outputLabel>
                <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetObjectLabel}" 
                    id="ca_object_item" 
                    value="{!act.ca_select_object_item}" 
                    size="1" 
                    multiselect="false" 
                    onChange="changeUpdateClickActionObjectItem(this.value);" 
                    style="width: 400px;">
                    <apex:selectOptions value="{!act.ca_select_object_list}" />
                    <apex:actionFunction status="ca_update_object_items_status, ca_field_value_status" action="{!changeUpdateClickActionObjectItem}" name="changeUpdateClickActionObjectItem" rerender="ca_object_item,ca_field_item,ca_field_value_status,ca_value_status" immediate="true">
                        <apex:param name="firstParam"  assignTo="{!act.ca_select_object_item}" value="" />
                    </apex:actionFunction>
                </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:actionStatus startText="Loading..."  stopText="" id="ca_update_object_items_status"/>
            <apex:pageBlockSectionItem id="ca_field" >
                <apex:outputLabel >{!$Label.trc_ab__AutobahnClickAction_TargetFieldLabel}</apex:outputLabel>
                <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetFieldLabel}" id="ca_field_item" value="{!act.ca_select_field_item}" size="1" multiselect="false" onchange="changeUpdateClickActionFieldItem(this.value);" style="width: 400px;">
                    <apex:selectOptions value="{!act.ca_select_field_list}" />
                    <apex:actionFunction status="ca_field_value_status" action="{!changeUpdateClickActionFieldItem}" name="changeUpdateClickActionFieldItem" rerender="ca_object_item,ca_field_item,ca_field_value_status,ca_value_status" immediate="true">
                        <apex:param name="firstParam"  assignTo="{!act.ca_select_field_item}" value="" />
                    </apex:actionFunction>
                </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:actionStatus id="ca_field_value_status" startText="Updating..." stopText="{!act.ca_select_field_help_text}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem id="ca_value" >
                <apex:outputLabel >{!$Label.trc_ab__AutobahnClickAction_UpdateValueLabel}</apex:outputLabel>
                <apex:inputText title="{!$Label.trc_ab__AutobahnClickAction_UpdateValueLabel}" value="{!act.ca_select_field_value}" id="ca_value_input" style="width: 400px;" onblur="validateClickActionValueItem(this.value);" >
                    <apex:actionFunction status="ca_value_status" action="{!validateClickActionValueItem}" name="validateClickActionValueItem" rerender="ca_value_status" immediate="true">
                        <apex:param name="ca_select_field_value"  assignTo="{!act.ca_select_field_value}" value="" />
                    </apex:actionFunction>
                </apex:inputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:actionStatus id="ca_value_status" startText="Checking..." stopText="{!act.ca_validate_value}" stopStyleClass="" />
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2" title="{!$Label.trc_ab__AutobahnAction_ErrormailLabel}" id="erroraction_section" collapsible="false">
            <apex:pageBlockSectionItem id="ea_object">
                <apex:outputLabel for="ea_select_object">{!$Label.trc_ab__AutobahnClickAction_TargetObjectLabel}</apex:outputLabel>
                <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetObjectLabel}" id="ea_object_item" value="{!act.ea_select_object_item}" size="1" multiselect="false" onChange="changeUpdateErrorActionObjectItem(this.value);" style="width: 400px;" >
                    <apex:selectOptions value="{!act.ea_select_object_list}" />
                    <apex:actionFunction status="ea_update_object_items_status" action="{!changeUpdateErrorActionObjectItem}" name="changeUpdateErrorActionObjectItem" rerender="ea_object_item, ea_field_item,ea_update_object_items_status,ea_field_items_status,ea_value_status" immediate="true">
                        <apex:param name="firstParam"  assignTo="{!act.ea_select_object_item}" value="" />
                    </apex:actionFunction>
                </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:actionStatus startText="Loading..."  stopText="" id="ea_update_object_items_status"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem id="ea_field" >
                <apex:outputLabel >{!$Label.trc_ab__AutobahnClickAction_TargetFieldLabel}</apex:outputLabel>
                <apex:selectList title="{!$Label.trc_ab__AutobahnClickAction_TargetFieldLabel}" id="ea_field_item" value="{!act.ea_select_field_item}" size="1" multiselect="false" onchange="changeUpdateErrorActionFieldItem(this.value);" style="width: 400px;" >
                    <apex:selectOptions value="{!act.ea_select_field_list}" />
                    <apex:actionFunction status="ea_field_items_status" action="{!changeUpdateErrorActionFieldItem}" name="changeUpdateErrorActionFieldItem" rerender="ea_object_item,ea_field_item,ea_field_items_status,ea_value_status,ea_errorCodeHelpMessage,ea_errorCodeHelpMessage_br,ea_errorDateHelpMessage,ea_errorDateHelpMessage_br" immediate="true">
                        <apex:param name="firstParam"  assignTo="{!act.ea_select_field_item}" value="" />
                    </apex:actionFunction>
                </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:actionStatus id="ea_field_items_status" startText="Updating..." stopText="{!act.ea_select_field_help_text}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem id="ea_value" >
                <apex:outputLabel >{!$Label.trc_ab__AutobahnClickAction_UpdateValueLabel}</apex:outputLabel>
                <apex:inputText title="{!$Label.trc_ab__AutobahnClickAction_UpdateValueLabel}" value="{!act.ea_select_field_value}" id="ea_value_input" style="width: 400px;" onblur="validateErrorActionValueItem(this.value);" >
                    <apex:actionFunction status="ea_value_status" action="{!validateErrorActionValueItem}" name="validateErrorActionValueItem" rerender="ea_value_status" immediate="true">
                        <apex:param name="ea_select_field_value"  assignTo="{!act.ea_select_field_value}" value="" />
                    </apex:actionFunction>
                </apex:inputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText >
                    <apex:outputText id="ea_errorCodeHelpMessage" value="{!act.ea_errorCodeHelpMessage}" />
                    <apex:outputText id="ea_errorCodeHelpMessage_br" escape="false" value="{! IF( act.ea_errorCodeHelpMessage == '', '', '<br />') }" />
                    <apex:outputText id="ea_errorDateHelpMessage" value="{!act.ea_errorDateHelpMessage}" />
                    <apex:outputText id="ea_errorDateHelpMessage_br" escape="false" value="{! IF( act.ea_errorDateHelpMessage == '', '', '<br />') }" />
                    <apex:actionStatus id="ea_value_status" startText="Checking..." stopText="{!act.ea_validate_value}" stopStyleClass="" />
                </apex:outputText>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:form>
</apex:page>