<apex:page controller="TIMBASURVEYS.CollectSurveyDataController"  sidebar="false" showheader="false" standardStylesheets="false"  action="{!savePageResponses}" cache="false" contentType="text/css" language="{!$Label.timbasurveys__timbasurveys_general_language}">
<apex:outputText rendered="{!!renderThanks}" value="{!leadCreationStatus}" />
<apex:outputText value="{!pageSaveStatus}" rendered="{!renderPageSaveStatus}"/>
</apex:page>