<apex:page controller="TIMBASURVEYS.RelatedSurveySummariesController" tabstyle="Timba_Surveys__tab" sidebar="false" language="{!$Label.timbasurveys__timbasurveys_general_language}">
	<script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dojo/dojo.js')}" djConfig="parseOnLoad: true"></script>
	<!-- DOJO Stylesheets -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dijit/themes/soria/soria.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dijit/themes/dijit.css')}" />    
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dojo/resources/dojo.css')}" />
	
	<!-- 
       Application Styles 
    -->    
    <!-- Common Styles -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources, 'inc/css/common.css')}" />  
    <!-- Section Specific styles -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources, 'inc/css/surveyCollection.css')}" />    
    <apex:include pageName="TIMBASURVEYS__TimbaSurveyStyles" />
 	<!-- Survey Related Objects Styles -->
 	<apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources, 'inc/css/SurveyRelatedObject.css')}" />
 	
 	<style>
 		.warnings {
 			text-align:center;
 			position:relative;
 			clear:both;
 			overflow:hidden;
 			padding:10px;
 			color:red;
 			border:1px solid red;
 			margin:5px;
 		}
 	</style>
 	<script>

 		var removeFooter = function(){
			dojo.query('.bPageFooter')[0].style.display = 'none';
		}
		
		dojo.query('body').addClass('soria');		
		
		dojo.addOnLoad(removeFooter);
 	</script>
 	<!-- 
        Begin Page
     -->        
    <!-- Section Header -->
    <div class="sectionHeader">
        <h1 class="Analyze">{!$Label.timbasurveys_Summaries_Related_Survey_Summaries}</h1>
    </div>
   	<br />
   	<br />  
    <apex:form >   
    	<apex:pageBlock rendered="{!render_summary_list}">
			<apex:pageBlockTable value="{!survey_summary_list}" var="summary" >
	         	<apex:column >
	         	 	<apex:facet name="header">{!$Label.timbasurveys__timbasurveys_Summary_Name}</apex:facet>
	         		<a href="../{!summary.Id}?back_to_page={!$CurrentPage.URL}">{!summary.Name}</a>
	         	</apex:column>
	         	<apex:column >
	         		<apex:facet name="header">Survey Name</apex:facet>
	         		{!IF(summary.TIMBASURVEYS__Survey__c == '', summary.TIMBASURVEYS__Complete_Survey_Name__c,summary.Survey__r.Name)}
	         	</apex:column>
	        </apex:pageBlockTable>
	        <table width="100%" >
	        	<tr>
	        		<td align="left"><apex:commandlink rendered="{!renderPrevious}" action="{!summaries_set.previous}">{!$Label.timbasurveys__timbasurveys_Summaries_Related_Previous}</apex:commandlink></td>
	        		<td align="right"><apex:commandlink rendered="{!renderNext}" action="{!summaries_set.next}">{!$Label.timbasurveys__timbasurveys_Summaries_Next}</apex:commandlink></td>
	        	</tr>
	        </table>
		</apex:pageBlock>
	</apex:form>
	
	<apex:outputPanel layout="block" styleClass="warnings" rendered="{!!render_summary_list}">
	    <apex:outputText value="{!$Label.timbasurveys__timbasurvey_related_no_related_survey}." /><br /><br />
	    <a href="../apex/TIMBASURVEYS__SurveyRelatedObjectWizard?rel_id={!parent_obj_id}" class="dijitReset dijitInline dijitButtonNode customDijitLinks forceText">{!$Label.timbasurveys_Summaries_Relate_Surveys}.</a>
	</apex:outputPanel>
	<!-- Footer -->
	<div class="FixedFooter" id="designerFooter">
		<div class="half" > 
        	<span class="dijit dijitReset dijitLeft dijitInline dijitButton">
		      	<a class="dijitReset dijitInline dijitButtonNode customDijitLinks" href="/{!parent_obj_id}">{!$Label.timbasurveys_Collect_Back}</a>
	     	</span>
	     </div> 
	</div>
</apex:page>